<%
if(mw3.where == 'ssp'){
	if(mw3.when == 'show_detail' ) {
	
	%>
		<span class="form_tit"><br /><br /><%=value.description%></span>
		<div class="sp_form_block">
			<div class="sn_view_box"><div class="sn_view_arrow"><img src="images/marketPlace/sp_box_arrow.gif"  /></div><%=fields.filePreview.here({when:'edit'})%></div>
		</div>
		
		<%
		if(value.file.metaworksContext.when == 'edit') {

		%>		
		<%
		}else {
		%>
		dd
			<div class="sp_form_block">
				<div id="sp_editBtn_<%=objectId%>" style="line-height: 210%;" class="sp_position_right"><a id="wBtn" onClick="<%=methods.edit.caller()%>"><span>저장</span></a></div>
			</div>
		
		<%	
		}
%>
		<!--
		<div class="sp_form_block">
			<%=fields.resourceNode.here()%>
		</div>
		-->
		
		<div class="sp_form_block">
			<div><a id="wBtn" onClick="<%=methods.modify.caller()%>"><span>편집</span></a></div>
		</div>
<%

	}else {
	%>
	
	<ul>
		<li id="sp_accordion_list_<%=objectId%>"><%=value.description%></li>
	</ul>
	
	<%
	}
	%>

<%
}else if(mw3.where == 'ide'){
%>
    <label class="fb_box_desc" id="">이름</label>
    <div class=""><%= fields.name.here()%>
    </div>
    <label class="fb_box_desc" id="">화면출력정보</label>
    <div class=""><%= fields.description.here()%>
    </div>
 <!--   <label class="fb_box_desc" id="">파일첨부</label>
    <div class=""><%= fields.file.here()%>
    </div> -->
    <div class="clear"></div>
    <label class="fb_box_desc" id="">메타데이타 찾아보기</label>
    <div class=""><%= fields.resourceNode.here()%>
    </div>
    <div class="clear"></div>
    <label class="fb_box_desc" id="">메타데이타 타입변경</label>
    <div class=""><%= fields.type.here()%>
    </div>
    <div class="clear"></div>
      <div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px; padding-bottom:8px;">
      <ul>
          <li>
<%
		if(value.metaworksContext.when == 'edit') {
%>	          
              <a id="wBtn" href="#" onclick="<%=methods.edit.caller()%>"><span>저장</span></a>
<%
		}else{
%>
			  <a id="wBtn" href="#" onclick="<%=methods.add.caller()%>"><span>추가</span></a>
<%		
		}
%>	          
          </li>
      </ul>
  </div>
  
<%
}
%>



