<div style="position:absolute; top:0px;left:0px;"><img src="images/marketPlace/appListFrame.png" /></div>
<span id="method_<%=objectId%>_initiate">
<%
if(value){
	if(mw3.when == 'new' || mw3.when == 'edit'){
%>
	<div id="process">
		<dl>
			<dd><%=mw3.localize("$DisplayName")%> : <%=value.appName%></dd>
		</dl>
	</div>
	
	<div id="editiconpop">
		<%=fields.iconColor.here()%>
		<div></div>
	</div>
	
	<%=fields.roleMappingPanel.here()%>
	
	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px;">
		<ul>			
		</ul>
	</div>
<%		
		}else{
			var session = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session');
			
			var admin = false;
			if(session && session.employee)
				admin = session.employee.isAdmin;		
				
%>   	
    <a style="display:block; margin:12px 0 0 4px" href="#" onClick="javascript:window.open('http://<%=value.comCode%>.<%=value.projectName%>.com:9090/uengine-web/')">
    	<%=fields.logoFile.here({when: 'image', htmlAttr:{class : 'applogo'}})%>
    </a>
    
    <a href="#">
    	<%=value.appName%>
    </a>
	
<%
	}
}
%>	
</span>