
<%
	if(value){
%>
	<table>
		<tbody>
		<tr>
		
<%
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";

				if(mw3.when != 'read'){
%>			
			<td id="mm_uml_LineL"></td>
			<td id="wfnode_<%=objectId%>" class="wfNode" style="margin:3px 0; position:relative">
				
				<!-- opened, closed -->
				
						<table border="1" cellspacing="0" cellpadding="0" width="100%" style="margin:7px 0;">
						<tr>
							<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
							<td>
								<span class="wfNodeText" style="width:100%;">
					<%	if(value.type=='img'){		
		%>
								<img src="<%=value.name%>">
								<input type="text" id="wfnode_content_<%=objectId%>" style="height:1px ; border:none;background:transparent" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
		<%					
				
				
						}else if(value.type=='iframe'){		
		%>
								<iframe src="<%=value.name%>"></iframe>
								<input type="text" id="wfnode_content_<%=objectId%>" style="height:1px ; border:none;background:transparent" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
		<%					
						
						
						}else{ %>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent"" value="<%=value.name ? value.name : ''%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
		<%				}%>


								</span>
							</td>
						
						<% if(value.linkedInstId){%><td><span class="wfLink" onclick="<%=methods.linkInstance.caller()%>"></span></td><%}%>
						
						</tr>
						<tr><td colspan="2">&nbsp;</tr>
						</table>
			
					
				<div id="wfinfo_<%=objectId%>"></div>
			</td>			
<%
				}else{						
%>
			<td id="mm_uml_LineL"></td>
			<td id="wfnode_<%=objectId%>" class="wfNode" style="margin:3px 0">
				<!-- opened, closed -->
				
							<table border="1" cellspacing="0" cellpadding="0">
								<tr>
									<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
									<td>
										<span class="wfNodeText">
											<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal" value="<%=value.name ? value.name : ''%>" readonly>
										</span>
									</td>
								</tr>
								<tr><td colspan="2">&nbsp;</tr>
							</table>

				<div id="wfinfo_<%=objectId%>"></div>
			</td>
<%
				
				
				}
			
			
				if(!value.close){			
	%>
		<td id="mm_uml_LineR"></td>
		<td>
			<%=fields.childNode.here()%>
		</td>
	<%			
				}
%>

		</tr>
		</tbody>
	</table>
<%			
	}
%>		