<%
if(value!=null){
%>
	<table>
	<tr>
		<td width="60px" align="center"><%=fields.key.here()%></td>
		<td width="200px"><%=fields.name.here()%></td>
		<td width="140px"><%=fields.dataType.here()%></td>
		<td width="70px"><%=fields.length.here()%></td>

		<td width="60px" align="center"><%=fields.allowNull.here()%></td>
		<td width="200px"><%=fields.defaultValue.here()%></td>
		<td width="200px"><%=fields.comment.here()%></td>	
		
		<td width="300px">
		
		<table><tr>
<%		
		if(mw3.when != mw3.WHEN_EDIT){
%>		 		
			<td><input type=button onclick="mw3.getFaceHelper('<%=objectId%>').edit();" value="edit"></td>
			<td><%=methods.up.here()%></td>
			<td><%=methods.down.here()%></td>		
			<td><%=methods.remove.here()%></td>					
<%
		}else{
			if(mw3.where == "newEntry"){
%>			<td><%=methods.add.here()%></td>
<%
			}else{
%>
			<td><%=methods.save.here()%></td>
<%
			}
		}
%>			
					
		</tr></table>
		</td>		
		<td width="600px"><div id="progress_<%=objectId%>"></div></td>
	</tr>	
	<table>		
<%
	}	
%>