<%
if(value){	
%>


<table cellpadding = 10>
	<tr><td width=400>

		<table>
		<tr>
		
			<td width=90>
			<font color="#5599dd" face="Eurostile">
			Package Name:
			</font>
			</td>			
			<td>
			<div id="packageName_<%=objectId%>">
			<%=fields.packageName.here()%>
			</div>
			</td>
		
			<td width=80>
			<font color="#5599dd" face="Eurostile">
			Class Name:
			</font>
			</td>			
			<td><%=fields.entityName.here()%></td>		
		</tr>
		<tr>
			<td>
				<font color="#5599dd" face="Eurostile">Author:</font>
			</td>
			<td colspan=3>
				<%=fields.author.here()%>
			</td>
		</tr>		
		</table>
	</td></tr>
	<tr><td>
		<%=methods.next1.here()%>
		<%=methods.next2.here()%>
		
		<%=methods.dropTable.here()%>
		<%=methods.createTable.here()%>
		<%=methods.generateDao.here()%>
	</td></tr>
	<tr><td>
		<%=fields.entityModeler.here()%>
		<%=fields.querySourceCode.here()%>
	</td></tr>
</table>

<%
	}
%>