
<%=fields.followers.here()%>

<div class="toolbar">
    <ul>
        <li id="wih_btn_item_Page"><span><img src="images/waveStyle/i_workitem_p.png" border="0"></span><span>대화이력</span></li>
        <li id="wih_btn_item_Information"><span><img src="images/waveStyle/i_workitem_i.png" border="0"></span><span>프로세스</span></li>
        <li id="wih_btn_item_GanttChart"><a href="javascript:openGanttChart()"><span style="color: black; "><img src="images/waveStyle/i_gantt.png" border="0"></span><span style="color: black; ">스케쥴</span></a></li>
        <li id="wih_btn_sendMail" style="display: none; "><a href="javascript:sendMail()"><span><img src="images/waveStyle/i_mail.png" border="0"></span><span>메일</span></a></li>
        <li id="wih_btn_reply" style="display: block; "><a href="javascript:openReply()"><span style="color: black; "><img src="images/waveStyle/i_reply.png" border="0"></span><span style="color: black; ">답변</span></a></li>
        <li id="wih_btn_complete" style="display: none; "><span><img src="images/waveStyle/i_completed.png" border="0"></span><span>완료</span></li>
        <li id="wih_btn_edit" style="display: none; "><span><img src="images/waveStyle/i_edit.png" border="0"></span><span>수정</span></li>
        <li id="wih_btn_delete" style="display: none; "><a href="javascript:deleteMail()"><span><img src="images/waveStyle/i_delete.png" border="0"></span><span>삭제</span></a></li>
        <li id="wih_btn_item_delete" style="display: block; "><a href="javascript:deleteProcessInstance()"><span><img src="images/waveStyle/i_delete.png" border="0"></span><span>삭제</span></a></li>
        <li id="wih_btn_toInstance" style="display: none; "><a href="javascript:getRecommandProcessList();"><span><img src="images/waveStyle/i_toinst.png" border="0"></span><span>프로세스화</span></a></li>
        <li id="wih_btn_sec"><a href="javascript:setSec()"><span><img src="images/waveStyle/i_delete.png" border="0"></span><span>보안설정</span></a></li>
        <!-- 2011.09.05 -->
        <!-- li id="wih_btn_reply"><a href="javascript:openEventHandler()"><span><img src="images/waveStyle/i_reply.png" border="0" /></img></span><span>이벤트핸들러</span></a></li-->
        
    </ul>
</div>

<%=fields.thread.here()%>
<%=fields.threadPosting.here()%>
<%=fields.newItem.here()%>

<%=fields.crowdSourcer.here()%>