<%
// mw3.debugPoint(mw3.when);

	if(value==null || value.userId==null){
%>

	<div id="fb-root"></div>
	<div class="fb-login-button" data-scope="email,user_checkins,publish_stream,user_likes,export_stream" onlogin="mw3.getFaceHelper('<%=objectId%>').setUserInfo()">
    	Login with Facebook
	</div>
<%
	}else if(mw3.when == "login"){
%>
	Hello, <%=value.name%>
<%
	}else{
%>
	<center>
		<img src='http://graph.facebook.com/<%=value.userId%>/picture'<%=(mw3.how=="minimised" ? " width='50'":"")%>> <br>
		<%=value.name%>
	</center>
<%
	}
%>