<%
	if(value){
%>
	
	<ul>
<%
		if(value.parentNode!=null){
%>					
		<li>
			<input type="text" id="wfnode_content_<%=objectId%>" value="<%=value.content%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').press(this)">
<%	
		}
		
		if(value.childNode){
%>			
					<%=fields.childNode.here()%>
<%
		}
		
		if(value.parentNode!=null){
%>
		</li>
<%		
		}else{
%>
		<span style="padding-left:40px">		
			<%=methods.newNode.here()%>
		</span>
<%
		}
%>		
	</ul>
<%		
	}
%>	