<div style="border-bottom:1px solid #aaaaaa;">

	<div> 
            <!--ui object -->
            <ul class="mp_sub_lst_type">
                <li>
                    <div class="mp_sub_pic">
                    	<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 200px; height: 200px'}})%>
                    </div>

                    <div class="mp_sub_rightBox">
                    	<dl class="mp_sub_dsc1">
                        	<dt><%=fields.projectName.here()%></dt>
                            <dd><span class="mp_sub_tit"><%=mw3.localize("$DomainName")%> : </span><span class="mp_sub_rst"><%=fields.domainName.here()%></span></dd>
                            <dd><span class="mp_sub_tit"><%=mw3.localize("$ProjectDescription")%> : </span><span class="mp_sub_rst"><%=fields.description.here()%></span></dd>
                           
                           
                 <%          if(value.type == 'svn'){  %>
                            <dd><span class="mp_sub_tit"><%=mw3.localize("$Svn")%> : </span><span class="mp_sub_rst"><%=fields.svn.here()%></span></dd>
                   <%       }else if(value.type == 'war'){  %>
                             <dd><span class="mp_sub_tit"><%=mw3.localize("$war")%> : </span><span class="mp_sub_rst"><%=fields.war.here()%></span></dd>
                            <dd><span class="mp_sub_tit"><%=mw3.localize("$Sql")%> : </span><span class="mp_sub_rst"><%=fields.sql.here()%></span></dd>
                        <%  } %>
                          
                          
                         
                        </dl>                    
                    </div>
                    
                    <div class="positionRight">
						<%=methods.manageProject.here()%>
						<%=methods.require.here()%>
						<%=methods.participation.here()%>
						<%=methods.server.here()%>
						<%=methods.releaseProject.here()%>
					</div>
                </li>
            </ul>
        </div>	
</div>