<%=include('dwr/metaworks/genericfaces/FormFace.ejs')%>

<div id="warFile_<%=objectId%>"><%=fields.warFile.here()%></div> 
<div id="sqlFile_<%=objectId%>"><%=fields.sqlFile.here()%></div> 
<div id="svn_<%=objectId%>">SVN<%=fields.logoFile.here()%></div> 


