<%
if(value){
%>
<div style="_display:inline-block;width:100%; height:300px;">
	<div style="height:100%;float:left; width:100px; border-right:1px solid #B4B3B5; background:#F6F6F6;">
		<div>
			<ul style="float:left;">
				<li style="margin-bottom:3px;">
					<%=fields.and.here()%>
				</li>
				<li style="margin-bottom:3px;">
					<%=fields.or.here()%>
				</li>
				<li style="margin-bottom:3px;">
					<%=fields.evaluate.here()%>
				</li>
			</ul>
		</div>
	</div>
	<div id="cdContainer" class="workflowy" style="height:100%;  width:400px; cursor: default; overflow:auto;  background:#F1FCF1; ">
		<%=fields.conditionNode.here()%>
	</div>
</div>
<div  style="width:100%; height:30px; border-top:1px solid #B4B3B5;" class="addRoleBox">
		<div style="float:left;">레이블명 : 	<%=fields.conditionLabel.here()%></div>
		<div style="float:left;"><a id="wBtn" href="#" onClick="<%=methods.saveCondition.caller()%>"><span><%=mw3.localize("$save")%></span></a></div>
</div>
<%
}
%>