<%
	if(value){
		if( mw3.when == "edit" ){
%>
		<table>
			<tr>
				<td><span style="float:left;"><%=fields.valiableChoice.here()%></span></td>
				<td><span style="float:left;"><%=fields.signChoice.here()%></span></td>
				<td><span style="float:left;"><%=fields.expressionChoice.here()%></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					<span style="float:left;"><%=fields.conditionInput.here()%></span>
				</td>
			</tr>
		</table>
		<div>
			<div style="float:right;"><a id="wBtn" href="#" onClick="<%=methods.saveCondition.caller()%>"><span>컨디션 저장</span></a></div>
		</div>
<%
		}
	}
%>