<%
if(value){
%>


<%
		if(mw3.when == 'view'){
%>
			<div class="roleBox">
					<div style="float:left; height:35px;">변수명 : </div>
					<div style="float:left;"> <%=fields.name.here()%></div><br/>
					<div style="float:left;">데이타형식 : </div>
					<div style="float:left;"><%=fields.dataType.here()%></div><br/>
					<div style="float:left;">초기값 : </div>
					<div style="float:left;"><%=fields.initValue.here()%></div>
					<div class="clear"></div>
					<div><a id="wBtn" href="#" onClick="<%=methods.remove.caller()%>"><span><%=mw3.localize("$remove")%></span></a></div>
			</div>
<%
		}else{
%>
			<div class="addRoleBox">
					<div style="float:left;"><span>데이타형식 : </span></div>
					<div style="float:left; margin-right:10px; margin-top:2px;"><%=fields.dataType.here()%></div><br/>
					<div style="float:left;"><span>초기값 : </span></div>
					<div style="float:left; margin-right:10px; margin-top:2px;"><%=fields.initValue.here()%></div><br/>
					<div style="float:left; margin-right:10px; margin-top:2px;"><%=fields.name.here()%></div>
					<div style="float:left;"><a id="wBtn" href="#" onClick="<%=methods.add.caller()%>"><span>변수추가</span></a></div>
					<div class="clear"></div>
			</div>
<%
		}
}
%>