
<%
if(value!=null){

  if(value.isFolder){
  
  
  	if(value.childs){
%>

<b><a onclick="<%=methods.drillDown.caller()%>"><%=value.name%></a></b>
<table><td width=10></td><td><%=fields.childs.here({when: mw3.when})%></td></table>

<%
 
	}else{%>

<a onclick="<%=methods.drillDown.caller()%>"><%=value.name%></a>
<%	}


	if(mw3.where=="design"){
%>
	[<a onclick="<%=methods.newChild.caller()%>">add child</a>]
<%
  	}



  }else{
  
  	if(mw3.where=="design"){
  
%>
	<a onclick="<%=methods.design.caller()%>"><%=value.name%></a>
<%
  	}else{
  	  
%>
	<a onclick="<%=methods.initiate.caller()%>"><%=value.name%></a>
<%
  	}
  }
}
%>

