<%
	if(value){
%>

<table id="tableHidtoryContent_1" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td rowspan="3" width="60" align="center" valign="top">
			<%=fields.writer.here()%>
		</td>				
		<td>					
			<div class="formcontexttitle" id="currentRunningWorkItemHandler" >
				<input id="post_<%=objectId%>" value="" size="80" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
				<%=methods.add.here()%>				

			</div>
		</td>
	</tr>
	<tr>
		<td>
			<%=methods.newSourceCode.here()%> <%=methods.newFile.here()%><%=methods.newMovie.here()%> <%=methods.newSchedule.here()%>
		</td>			
	</tr>			
</table>


<%
	}
%>