<%
	if(value!=null){
	
%>


<div id="pageflip">
	<img src="images/waveStyle/page_flip.png" "="" border="0" onclick="<%=methods.admin.caller()%>" style="width: 42px; height: 42px; ">
	<div class="msg_block" style="background-image: url(http://uengine.dyndns.org:8080/uengine-web/codi-web/images/waveStyle/subscribe_a.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; width: 42px; height: 42px; background-position: 100% 0%; background-repeat: no-repeat no-repeat; "></div>	
</div>

<div id="container">
	<div class="ui-layout-north">
        <div id="smline">
            <div class="logo" onclick="<%=methods.refresh.caller()%>"><img src="images/waveStyle/logo.gif"></div>
            
            <div id="search_right_outer"><div id="search_line"></div><div style="clear:both"></div><div id="clear_search" onclick="removeSearchItems()"></div></div>
            <div id="search_right_outer2"><div id="ping_line"></div><div style="clear:both"></div><div id="clear_search" onclick="removePingItems()"></div></div>           

                   
            <div class="info"> 	<%=fields.session.here({when:'view'})%> </div>
            
 
        </div>
    </div>
  
  
  
    <div class="ui-layout-west">
         <div class="inner-north" style="padding-bottom:35px;">
		  <%=fields.navigation.here()%>
		</div>
		<div class="inner-center" style="padding-bottom:35px;">
			<%=fields.contactWindowPanel.here()%>     
		</div>
		
	</div>	
	
    <div class="ui-layout-center">
        <div class="middle-west" style="padding-bottom:34px;">
			<%=fields.instanceListPanel.here()%>
		</div>
		<div class="middle-center" style="padding-bottom:34px;">
		 	<%=fields.contentPanel.here()%>
		</div>
	</div>

</div>



<%
}else{
%>

LOADING...

<%}%>

