<%
	if(value != null && typeof value != 'undefined'){
%>
	<div class="item-fix <%=value.root?'root':''%>" objectId="<%=objectId%>" id="<%=value.id%>" name="<%=value.name%>">
		<div class="item">
			<span>x</span>
			<div class="label-content">
				<div class="tree-checkbox" onClick="window.event.stopPropagation();" style="display:none;position:relative;top:2px;left:3px"><input type="checkbox" nodeId="<%=value.id%>" objectId="<%=objectId%>" style="width:15px"></div>
				
				<label style="display:inline-block; background-image: url(images/<%=value.type%>.png)">
					<u class="caption"><%=value.name%></u>
				</label>
			</div>
		</div>
	</div>	
<%
		if(value.child && value.child.length > 0){
%>
	<u class="last root" style="display: block; height: auto; overflow: visible;">
		<%=fields.child.here()%>
	</u>
<%
		}
	}
%>