<%
	var type = value.type;
	var icontype = '';
			
	if('project' == type){
		icontype = "folder"
	}else if('folder' == type){
		icontype = "folder"
	}else if('html' == type){
		icontype = "code"
	}else if('java' == type){
		icontype = "code"
	}else if('ejs' == type){
		icontype = "code"
	}else if('js' == type){
		icontype = "code"
	}else if('form' == type){
		icontype = "insert-template"
	}else if('wpd' == type){
		icontype = "shuffle"
	}else if('valuechain' == type){
		icontype = "link"
	}else if('rule' == type){
		icontype = "cog2"
	}else if('css' == type){
		icontype = "code"
	}else if('jpeg' == type ||'jpg' == type ||'png' == type ||'gif' == type){
		icontype = "image2"
	}else if('metadata' == type){
		icontype = "cog2"
	}else if('process' == type){
		icontype = "shuffle"
	}else if('navigator' == type){
		icontype = "menu2"
	}else if('page_white_text' == type){
		icontype = "file4"
	}else{
		icontype = "file4"
	}
	
	
	
	if(value != null && typeof value != 'undefined'){
		if(!value.hidden){
%>
	<div class="item-fix <% if(value.align == 'right'){ %> item-fix-right<%}%> <%=value.root?'root':''%>" objectId="<%=objectId%>" id="<%=value.id%>" name="<%=value.name%>">
		<div class="item">
			<span>&nbsp;</span>
			<div class="label-content">
				<div class="tree-checkbox" onClick="if(event.stopPropagation)	 event.stopPropagation(); else if(window.event) window.event.cancelBubble = true;" style="display:none;position:relative;top:2px;left:3px"><input type="checkbox" nodeId="<%=value.id%>" objectId="<%=objectId%>" style="width:15px"></div>
				
				<label style="display:inline-block; <% if(value.align == 'right'){ %>float:right<%}%>">
					<u class="caption"><b class="icon-<%=icontype%> tab_icon" style="color:#0E51A3"></b> <%=value.name%></u>
				</label>
				<% if(value.align == 'right'){ %><div class="clear"></div><%}%>
			</div>
		</div>
	</div>
	
	
	
<%
	}
%>
<u class="last root" style="display: block; height: auto; overflow: visible;">
<%	
		if(value.child && value.child.length > 0){
%>
	
		<%=fields.child.here()%>
	
<%
		}
%>
	</u>
<%
	}
%>