<%
	if(value){
		var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
			if( session && "sns" == session.employee.preferUX ){
%>
			<div style="float:left; margin-top:5px;"><%=fields.loginUser.here({when: 'self_small'})%></div>
			<%=fields.notificationBadge.here()%>
			<%=fields.todoBadge.here()%>
			<%=fields.windowPanel.here()%>	
			
			<%=fields.tray.here()%>
			
		    <div class="info">
		    <%=fields.searchBox.here()%>
			    <div style="display:none">
			        <%if(mw3.when!='__design-depth2'){/*TODO: later, rather use 'where' than 'when'.*/%>
			        	<%=fields.session.here({when:'hidden'})%>
			        <%}else{%>
			        	session here.
			        <%}%>	
		        </div>
			</div>	
<%
			}else{
%>
		 	<div style="float:left; margin-top:5px;"><%=fields.loginUser.here({when: 'self_small'})%></div>
		 	<div style="float:left;padding-top:17px;margin-left:15px;"><%=fields.notificationBadge.here()%></div>
		 	<div style="float:left;padding-top:17px;margin-left:15px;"><%=fields.todoBadge.here()%></div>
		 	<div style="float:left;"><%=fields.windowPanel.here()%></div>
		 	<%=fields.tray.here()%>
		 	
			
			
			
			
			
			
			
			
			
		    <div class="info" <% if(session.ux && value.session.ux == 'phone') { %> style="right:0px;" <%}%>>
		    
		        <%if(mw3.when!='__design-depth2'){/*TODO: later, rather use 'where' than 'when'.*/%>
		        	<%=fields.session.here({when:'view'})%>
		        <%}else{%>
		        	session here.
		        <%}%>	
			</div>	
			
			<div class="clear"></div>
<%
		}
	}
%>