<%
	if(value){	
		if(mw3.when == 'view'){
			if(value.ux && value.ux == 'phone') {
%>
		<div onClick="<%=methods.returnToList.caller()%>" style="float:left;margin-right:10px; width:96px;background:url(images/waveStyle/back.gif) no-repeat;">
			<span style="display:inline-block; line-height:37px; padding-left:45px;"><b><%=mw3.localize("$List")%></b></span>			
		</div>
<%
			}else{ 
%>
		<div>
			<span class="ssesionLine"><%=fields.employee.here() %></span>
			<span class="ssesionLine"> | </span>
			
			<%if(value.metaworksContext.where == 'marketplace'){%>
				<span class="ssesionLine"><a href="#" onClick="<%=methods.myVendor.caller()%>">앱 관리</a></span>
			<%}else{%>
				<span class="ssesionLine"><a href="#" onClick="mw3.test(mw3.getAutowiredObject('org.uengine.codi.mw3.model.InstanceListPanel').__objectId, 'first', {guidedTour:true})" type="application/pdf"><%=mw3.localize("$Help")%></a></span>
			<%}%>
<%
			if(value.employee && value.employee.isAdmin){%>
				<!-- 메뉴 상단 관리자 메뉴(기능 제거: nipa반영 2013.07.08) -->
				<!--
				<span class="ssesionLine"> | </span>
				<span class="ssesionLine"><a href="#" onClick="<%=methods.manager.caller()%>"><%=mw3.localize("$Manager")%></a></span>
				-->
<%
			}
%>
			<span class="ssesionLine"> | </span>
			<span class="ssesionLine"><a onClick="<%=methods.logout.caller() %>" style="cursor:pointer;"><%=mw3.localize("$Logout")%></a></span>
		</div>
<%
			}
		}
	}
%>
