<%
	if(value != null && typeof value != 'undefined'){
		var showAddBtn = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideAddBtn']);
		var showRemoveBtn = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideRemoveBtn']);
		var showEditBtn = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideEditBtn']);		
%>
<table border="1">

<!-- table header -->
	<thead>
		<tr>
			<th><input type="checkbox" name="checkall_<%=objectId%>" onClick="javascript:mw3.getFaceHelper(<%=objectId%>).toogleCheck();" /></th>
<%		
	for(var i=0; i<objectMetadata.fieldDescriptors.length; i++){
		var fd = objectMetadata.fieldDescriptors[i];
		
		if(mw3.isHidden(fd)) continue;
		if(fd.name == 'metaworksContext') continue;
%>
			<th><%=fd.displayName%></th>
<%
	}
	
	if(showEditBtn){
%>
		<th></th>	
<%					
	}
%>
		</tr>
	</thead>	
	
<!-- table body -->
	<tbody>
<%
	if(value != null){
		if(typeof options == 'undefined') 
			options = objectMetadata;
			
		options['htmlTag'] =  'tr';
		options['ejsPath'] =  'dwr/metaworks/genericfaces/GridFace_Row.ejs';
		options['parentId'] =  this.objectId;
			
		for(var i=0; i<value.length; i++){
%>
	<%=mw3.locateObject(value[i], value[i].__className, null, options)%>
<%
		}		
	}	
%>		
	</tbody>
</table>

<%
		if(showAddBtn){
%>	
<input type="button" value="add" onClick="javascript:mw3.getFaceHelper(<%=objectId%>).addItem();" />
<%
		}
%>
<%
		if(showRemoveBtn){
%>	
<input type="button" value="remove" onClick="javascript:mw3.getFaceHelper(<%=objectId%>).removeItem();" />
<%
		}
%>	
<%
	}
%>
