<%

	if (value != null){
	
		mw3.debug(value, true);
			
		// get descriptor 
		var width = null;
		var height = null;
	
		if(descriptor!=null){
			width = descriptor.getOptionValue('width');
			height = descriptor.getOptionValue('height');
		}
		
		var layout = objectMetadata.faceOptions && objectMetadata.faceOptions['layout'];
		var showLabel = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideLabels']);		
		
		// get window title (className or displayName)
		var objectName; 
		if(value.__toString != null){
			objectName = value.__toString();
		}		
		if(!objectName){
			objectName = objectMetadata.displayName;
		}
		
		// get window title (resource) 
		var resourceName = null;
		if(objectName && objectName.indexOf('$')==0){
			resourceName = objectName.substring(1);
		}
		
		
%>

		<div id="sm_<%=objectId%>" style="margin-top:12px; padding:0px;  display:none; float:left; width:160px; position:relative;">	
		    <div class="boxtopleft"><span class="boxtopright"><%if(resourceName){%><%=resources[resourceName].here()%><%}else{%><%=objectName%><%}%></span></div>
		    <div class="boxmiddleright">
		        <div class="boxmiddleleft">
		            <div class="togglebtnmax" onclick="mw3.getFaceHelper('<%=objectId%>').resume('<%=layout%>')"></div>
		        </div>
		    </div>
		    
		    <div class="miniboxbottomleft"><span class="miniboxbottomright"></span></div>
	    </div>


		<div class="pane ui-layout-north">
            <div class="boxtopleft">
            	<span class="boxtopright">
		
		    		<div id="navigationTitle" class="mw3_window_title">
		    			<%if(resourceName){%>
		    				<%=resources[resourceName].here()%>
		    			<%}else{%>
		    				<%=objectName%>
		    			<%}%>
		    		</div>
		    		
            		<div id="loader_<%=objectId%>" class="loadingarea" style="display: none; "><img src="/uengine-web/images/waveStyle/ajax-loader.gif" border="0"></div>
            		
<%
	if(layout){            		
%>	
            		<div class="togglebtnmini" onclick="mw3.getFaceHelper('<%=objectId%>').minimize('<%=layout%>');"></div>
<%
	}
%>		    		
            	</span>
            </div>		    		
		</div>
		
		<div class="pane ui-layout-east">
		</div>
		<div class="pane ui-layout-west">
		</div>
		<div class="pane ui-layout-center">
			<div class="ui-layout-content">
			        <div class="contentcontainer">
			
	                    
<%	
						
		var showLabel = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideLabels']);
					
		for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){						  
			var fd = objectMetadata.fieldDescriptors[i];
		  	
		  	if(fd.attributes && (fd.attributes['hidden'] || fd.attributes['resource'])) continue;
		  	if(fd.name == 'metaworksContext') continue;
		  	
		  	var fieldValue = value[fd.name];
			
			if(showLabel){
%>
							<span> <b><%=fd.displayName%></b> </span>
<%
			}
%>
							<%=fields[fd.name] ? fields[fd.name].here() : "XXX"%>
<%
		}						   
%>							
							
<%						   
		if(objectMetadata.serviceMethodContexts){
			for(var key in objectMetadata.serviceMethodContexts){						   
%>
									<%=methods[key].here()%>
<%   
			}
		}
%>
			</div></div>
		</div>
		
		<div class="pane ui-layout-south">
			<div class="boxbottomleft"><span class="boxbottomright"></span></div>
		</div>
<%
     }
 %>