<div id="navigator">
<div style="height:15px;"></div>
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	<%=fields.commingTodoPerspective.here() %>
	<%=fields.valuechainPerspective.here() %>
	<%=fields.contactPerspective.here() %>
	<%=fields.documentPerspective.here()%>
	<%=fields.organizationPerspectiveDept.here() %>
	<%=fields.organizationPerspectiveRole.here() %>
	
	<!--<%=fields.processPerspective.here() %>-->
	
	<%=fields.projectPerspective.here() %>
	<%=fields.appPerspective.here() %>
</div>
