<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=fields.label.here()%></span></div>
<%
		if(value.selected){
%>
	<div class="depth2">		
		<%=fields.child.here()%>
<%
		if(!mw3.isHiddenMethod(methods.popupAdd)){
%>
		<ul class="fist_menu" style="margin:0 0 0 5px; position:relative; top:-5px;">
			<li>
				<a href="#" onClick="<%=methods.popupAdd.caller()%>"><span class="icon-plus"></span><b>새<%=mw3.localize(value.label)%></b></a>
				<div class="clear"></div>
			</li>
		</ul>
<%
		}
%>

	</div>	
<%
		}
	}
%>