<table  width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin: 0px;">
	<tr>
		<td colspan="3">
			<!--<%=fields.name.here()%>-->
		</td>
	</tr>
	<tr>
		<td  valign="top" align="center">
			<table  width="300" border="0" cellspacing="0" cellpadding="0"  style="box-shadow:5px 5px 20px  0 #ccc; border-radius: 15px; -moz-border-radius:15px;-webkit-border-radius:15px; background:#B3CDED; border:1px solid #78ACD1; padding:15px 15px 0 15px; display:block;">
				<tr>
					<td>
						<select id="variableSelector_<%=objectId%>" onclick="mw3.getFaceHelper('<%=objectId%>').refreshVariableSelector(this)">
						</select>
				
					</td>
				
					<td><%=fields.condition.here()%></td>
					<td><%=fields.value.here()%></td>
				</tr>
				<tr>
					<td colspan="4" align="center"><img src="images/waveStyle/plus.png" onclick="<%=methods.addChildNode.caller()%>"></td>
				</ttr>
			</table>
		</td>
	</tr>
	<% 
		/*console.debug(fields.child);*/
		if (value.child.length > 0) { %>
			
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="50%" align="center" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="50%" style="width:50%;" height="32">&nbsp;</td>
								<td width="10" align="center"  style="background:url(images/waveStyle/dicisionTreeLeftLineEnd.png) center top no-repeat;">&nbsp;</td>
								<td width="50%" style="width:50%; background:url(images/waveStyle/dicisionTreeLeftLine.png) right top no-repeat;">&nbsp;</td>
							
							</tr>
							<tr>
								<td colspan="3" align="center"><%=mw3.locateObject(value.child[0], value.child[0].__className)%>
								<%		mw3.addBeanProperty(objectId, "[0]");%>
								
								</td>
							</tr>
						</table>						
					</td>
					<td width="10" align="center" valign="top">
						<img src="images/waveStyle/dicisionTreeCenterLine.png">						
					</td>
					<td width="50%" align="center" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>							
								<td width="50%" height="32" style=" width:50%;background:url(images/waveStyle/dicisionTreeRightLine.png) left top no-repeat;">&nbsp;</td>
								<td width="10" align="center"  style="background:url(images/waveStyle/dicisionTreeRightLineEnd.png) center top no-repeat;">&nbsp;</td>
								<td width="50%"  style="width:50%;">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3" align="center"><%=mw3.locateObject(value.child[1], value.child[1].__className)%>
								<%		mw3.addBeanProperty(objectId, "[1]");%>
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<% } %>
</table>