<%
	if(value){
	
%>
	<%
		if( mw3.how == 'perspectivePanel' ){
		
	%>
					<a onClick="<%=methods.loadDocument.caller()%>" href="#">
						<span class="icon-folder"></span><%=value.name%>
					</a>
				<div style="padding-left:15px;">
					<%=fields.childNode.here()%>
				</div>

					
	<%	
		}else if( mw3.how == 'explorer' ){
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";
			if(mw3.when == 'onlyView'){
			
%>
				
				<div class="<%=nodeStatus%>"  onclick="<%=value.close?methods.collapse.caller():methods.expand.caller()%>">
					
					<a onClick="<%=methods.loadExplorerDocument.caller()%>" href="#">
						<span class="icon-folder"></span><%=value.name%>
					</a>
				</div>
				<div style="padding-left:15px;">
					<%=fields.childNode.here()%>
				</div>
				
				
				

<%
	}
%>							

				
	 
<%
		}	 
	}
%>