<%
	if(value){
		var isPrev = !mw3.isHiddenMethod(methods.prevStep);
		var step = Number(mw3.where.substring(4));
%>

<%
		if('forgotpassword' == mw3.where){
%>

<div id="signup_popup" class="esignup">
	<div class="login_top_codi"></div>
    <div class="popup_title"> <span><%=mw3.localize("$ForgotPassword")%></span> </div>
    <div class="popup_step">
    	<div class="stepbar">
        	<div class="first_circle circle <%=(step > 1)?'completed':''%>">
        		<span class="steptext"><%=mw3.localize("$ForgotPassword")%></span>
        		<%if(step==1){%><span class="ing"></span><%}%>
        	</div>
            <div class="last_circle circle">
            	<span class="steptext"></span>
            	
            </div>
        </div>
    </div>
    <div class="popup_content">
    
    
	
		<div class="signup_info">비밀번호를 변경하세요.</div>
	<label><%=mw3.localize(fields.email.fieldDescriptor.displayName)%></label>
	<%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly', style: 'margin-bottom:15px'}})%>
	<label><%=mw3.localize(fields.empName.fieldDescriptor.displayName)%></label>
	<%=fields.empName.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly', style: 'margin-bottom:15px'}})%>
	<label><%=mw3.localize(fields.password.fieldDescriptor.displayName)%></label>
	<%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password', style: 'margin-bottom:15px'}})%>

	<div class="popup_btn_line">
       	<div class="popup_btn_blue" onClick="<%=methods.finish.caller()%>"><%=mw3.localize("$Finish")%></div>
     </div>
	      
    </div>
	    <div class="popup_bottom"></div>
	</div>
	
 
 <%
	}else{
 %> 
   
	 <div id="signup_popup" class="esignup">
		<div class="login_top_codi"></div>
	    <div class="popup_title"> <span><%=mw3.localize("$SignUp")%></span> </div>
	    <div class="popup_step">
	    	<div class="stepbar">
	        	<div class="first_circle circle <%=(step > 1)?'completed':'running'%>"> 
	        		<span class="steptext"><%=mw3.localize("$SignUp")%></span>
	        		<%if(step==1){%><span class="ing"></span><%}%>
	        	</div>
	            <div class="last_circle circle <%=(step == 2)?'running':''%>">
	            	<span class="steptext"><%=mw3.localize("$AddYourPhoto")%></span>
	            	<%if(step==2){%><span class="ing"></span><%}%>
	            </div>
	        </div>
	    </div>
	    <div class="popup_content">
	  
	    
	<%
			if('step1' == mw3.where){
	%>
	    	<div class="signup_info">가입을 환영합니다.</div>
	        <label><%=mw3.localize(fields.email.fieldDescriptor.displayName)%></label>
	        <%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly', style: 'margin-bottom:15px'}})%>
	        <label><%=mw3.localize(fields.empName.fieldDescriptor.displayName)%></label>
	        <%=fields.empName.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your name', style: 'margin-bottom:15px'}})%>
	        <label><%=mw3.localize(fields.password.fieldDescriptor.displayName)%></label>
	        <%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password', style: 'margin-bottom:15px'}})%>
	<%
			}else if('step2' == mw3.where){
	%>
		<div class="singnup_pic">
			<img id="userPicture_<%=objectId %>" src="<%='portrait/' + value.empCode + '.thumnail' %>" width="108" height="108" />	
		</div>
		
		
		<div  class="singnup_choose_pic">
			<div class="singnup_mutiline">프로필 사진을 첨부해주세요.</div>
			<div class="singnup_mutiline"><%=fields.imageFile.here() %></div>	
			<div class="singnup_mutiline" style="font-size:11px; color:#ccc">최적사이즈는 108*108입니다.jpg,gif,png파일만 등록 가능합니다.</div>
			<div class="singnup_mutiline"><div class="popup_btn_gray" onClick="<%=methods.finish.caller()%>" style="padding:3px;"><%=mw3.localize("$Skip")%></div></div>
		
		</div>
		
		<div class="clear"></div>
	
	<%
			}
	%>
	
	        <div class="popup_btn_line">
	        	<div class="<%=isPrev?'popup_btn_blue':'popup_btn_gray'%>" onClick="<%=isPrev?methods.prevStep.caller():''%>"><%=mw3.localize("$Prev")%></div>
	        	
	<%
			if(!mw3.isHiddenMethod(methods.nextStep)){
	%>
	        	<div class="popup_btn_blue" onClick="<%=methods.nextStep.caller()%>"><%=mw3.localize("$Next")%></div>
	<%
			}
	%>
	<%
			if(!mw3.isHiddenMethod(methods.finish)){
	%>
	        	<div class="popup_btn_blue" onClick="<%=methods.finish.caller()%>"><%=mw3.localize("$Finish")%></div>
	<%
			}
	%>
	
	        </div>
	      
	    </div>
	    <div class="popup_bottom"></div>
	</div>

<%
	}
%> 


<%
	}
%>