<% if(value!=null){

	if(mw3.where=="instanceNavigator"){%>
	
<div id="method_<%=objectId%>_flowchart" style="cursor:pointer" onclick="<%=methods.flowchart.caller()%>"><img src="images/waveStyle/i_workitem_i.png" border=0> <%=value.defName%></div>	
	
	<%
		mw3.where="anywhere";
	
	
	}else{
			
		var isChat = (value.defId == null && value.secuopt == '1');
		var isOpenCollab = (value.defId == null && value.secuopt=='0');
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		
		
		/*value.initiator.metaworksContext.how='list';*/
	
	%>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_type" <%=(value.status=='Completed') ? "style='background:#eeeeee';":""%>>						
	<tbody>
	<tr class="q <%=value.firstDueTimeTerm ? (value.firstDueTimeTerm>=0 ? (value.firstDueTimeTerm>=3 ? "" : "plus" + value.firstDueTimeTerm ) : "minus" )  : "" %>" style="cursor:pointer;">
		<td id="newInst"><div class="innerNewInst"></div></td>
		<td class="first_td" valign="top">
			<div class="worklistuser">
					<dl>					                		
						<dd><%=fields.initiator.here() %></dd>
						<div class="clear"></div>					                	
					</dl>	
			</div>				
		</td> 
		<td  id="td_<%=objectId%>">									
			<ul class="lst_type">										
				<li class="trigger">
					<div style="float:left;width:38px;margin-right:-40px">
						<% if(isChat){ %>
							<!--span class="type_ping"></span--><span class="instanceLock"></span>
						<% }else if(isOpenCollab){ %>
							<!--span class="type_ping"></span--><span class="instanceUnLock"></span>
						<% }else if(isProcess){ %>
							<span class="type_process"></span><span class="instanceUnLock"></span>
						<% }else if(isSecureProcess){ %>
							<span class="type_process"></span><span class="instanceLock"></span>
						<% } %>	
					</div>						
					<div style="margin-left:40px">
						<a href="#middle-center"><b><font color=204070><%=value.initiator.name%></font> &nbsp;&nbsp; <font color=#5C5C5C><%=value.name%></font></b></a>
					<div>				
				</li>
				
			    <% if(value.instanceViewThreadPanel && value.instanceViewThreadPanel.instanceId) {%>			     
			    <% }else{%>          
			    <% if(value.currentUser && value.currentUser.userId && (value.initiator.userId!=value.currentUser.userId || value.name!=value.lastCmnt)){%>
			   
			    <li>
			   		<table style="margin-left:38px;"><td><%value.currentUser['size']='small';%><%=fields.currentUser.here()%></td>
			  		<td colspan=2 style="border:none; padding-right:10px;"><font color=204070><%=value.currentUser.name%></font>&nbsp;&nbsp; <font color=gray><%=value.lastCmnt%></font></td></table>
			 	</li>
			    <%}%>
			    <%}%>
												
			</ul>								
		</td>
		<td class="last_td"><font color="gray"><div style="margin-bottom:5px;"><%=fields.startedDate.here({when: 'timeago'})%></div></font>
		<% if(mw3.where == 'sns'){ %>
			<div class="instanceBtn" style="display:none">
				<span style="float:left"><%=fields.instanceTooltip.here()%></span>
				<span style="float:left"><%=fields.instanceDrag.here()%></span>
			</div>
		<% } %>
		<%if(value.status=='Completed'){%> <div class="badge">&nbsp;<%=mw3.localize('$Complete')%> &nbsp;</div> 
		<%}else if(value.dueDate){ 
			if(value.dueDate < new Date()){%>
				<div class="badge" style="background:#F52020;">&nbsp;&nbsp; <%=mw3.localize('$Delay')%> &nbsp;&nbsp;</div>
			<%}else{%>
					<table><td style="border:none;"><%=mw3.localize('$Due')%> :</td><td style="border:none;"><%=fields.dueDate.here()%></td></table>
			<%}
		 }%>
			
		</td>
		<% if(mw3.where != 'sns'){ %>
		<td>
			<div class="instanceBtn"><%=fields.instanceDrag.here()%></div>
		</td>
		<% } %>
	</tr>
	</tbody>
</table>

<% if(value.instanceViewThreadPanel && value.instanceViewThreadPanel.instanceId) {%>
<div style="background:#F3F3F3; margin-left:65px; margin-bottom:15px;  margin-right:20px;position:relative">
	<!--div style="position:absolute; top:-10px; left:49%;"><img src="images/waveStyle/topShadowArrow.png"></div-->
	<%=fields.instanceViewThreadPanel.here()%>
</div>
<%}%>

	<%}%>


<%}%>
