		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
					<%
		            	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");		
		            %>
		           
                	<%
							if(mw3.how == "topic"){
								
					%>
								
									<%=fields.topicFollowers.here()%>
                	<%	
							}
					%>
					 
		        </div>

		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center" id="method_<%=objectId%>_switchToScheduleCalendar">
			<div class="ui-layout-content">
				<%=fields.newInstantiator.here()%>
  
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
				<%=value.knowledge ? fields.knowledge.here() : ""%>
			</div>
		</div>