		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
					<%
		            	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");		
		            %>
                	<%
							if(mw3.where == "topic"){
								
					%>
								
									<%=fields.topicFollowers.here()%>
                	<%	
							}
					%>
		            <div id="searchbox">
		                <div class="searchboxline">
		                	<div class="searchboxline2">
		                        <div class="newprocessbtn">
			                        <a href="#" onclick="<%=methods.newInstance.caller()%>">
			                        	<span id="method_<%=objectId%>_newInstance">
			                        		<div id="startBtn">
						                        <% if(mw3.where == "topic"){ 
							                        	var title = session.windowTitle;
														if( title != null && title != '' && title.length > 4){
															title = title.substring(4);
												}%>
													"주제:<%= title %>"에 
												<%}%> 
													<%=mw3.localize("$New")%>
											</div>
										</span>
									</a>
								</div>
		                        <div class="searchboxarea" id="method_<%=objectId%>_newInstance">
		                        	<%=fields.searchBox.here()%>
		                        </div>
		                        <div style="clear:both;"></div>
		                    </div>
		                </div>
		                <div style="clear:both;"></div>
		            </div>    
		            <div class="toolbar">
	                    <ul>
	                        <li onclick="<%=methods.switchToInstanceList.caller()%>" <%=(value.instanceList && session.lastPerspecteType=='allICanSee') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_upcoming.png" border="0"></span><span><%=mw3.localize("$ComingUp")%></span></li>
	                        <li onclick="<%=methods.switchToInstanceListFollowing.caller()%>" <%=(value.instanceList && session.lastPerspecteType=='all') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_follow.png" border="0"></span><span ><%=mw3.localize("$Following")%></span></li>               
	                        <li onclick="<%=methods.switchToInstanceListMyToDo.caller()%>" <%=(value.instanceList && session.lastPerspecteType=='inbox') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_todo.png" border="0"></span><span><%=mw3.localize("$MyToDo")%></span></li>               
	                        <li onclick="<%=methods.switchToKnowledge.caller()%>" <%=value.knowledge ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_know.png" border="0"></span><span id="method_<%=objectId%>_switchToKnowledge"><%=mw3.localize("$Strategic")%></span></li>               
	                        <li onclick="<%=methods.switchToScheduleCalendar.caller()%>" <%=value.scheduleCalendar ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_gantt.png" border="0"></span><span><%=mw3.localize("$Calendar")%></span></li>
	                    </ul>
                	</div>     
		        </div>

		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center" id="method_<%=objectId%>_switchToScheduleCalendar">
			<div class="ui-layout-content">
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
				<%=value.knowledge ? fields.knowledge.here() : ""%>
			</div>
		</div>