<%
	if(value){
		if(value.more){
%>
	<div id="moreWorkDiv">
		<div class="morePointL"></div>
		<a class="moreBtn5" href="#" onClick="<%=methods.moreView.caller()%>">더 보기</a>
		<div class="morePointR"></div>
	</div>
<%		
		}else{
			var ejsPath = 'dwr/metaworks/' + objectTypeName.split('.').join('/') + '.ejs';
			
			var session = mw3.fn.getSession();
			var isMine = false;
			var type = value.type;
			var collapse = false;
			var maximize = false;
						
			if('system' == type)
				type = 'comment';

			var title = value.title.replace('\n','<br>');
			var desc = '';
			
			if('file' == type)
				desc = value.majorVer + '.' + value.minorVer;
			else if('process' == type){
				//title = mw3.localize('$MyTask') + ': ' + title;
				
				desc = mw3.localize('$workitem.status.' + value.status.toLowerCase());
				
				if(!value.workItemHandler || !value.workItemHandler.taskId)
					collapse = true;
			}
											
			if('file' == type || 'process' == type)
				maximize = true;
								
			maximize = false;
			
			if(session && session.user && session.user.userId == value.writer.userId)
				isMine = true;
%>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
<%
			if(!isMine){
%>
				<td width="65" valign="top">
					<div class="notMePic">
						<div class="notMePicPic"><%=fields.writer.here()%></div>
					</div>										
				</td>
<%
			}
%>
				<td>
					<div style="position:relative;">
						<div class="<%=isMine?'view_box3':'view_box4'%>" style="<%=isMine?'margin-right':'margin-left'%>:14px; width:93%; float:<%=isMine?'right':'left'%>;position:relative">
							<div class="guide">
								<span class="tl"></span>
								<span class="tr"></span>
							</div>
							
							<div class="cont" style="padding:0px 10px; margin:0px; overflow:auto">
								<div class="formcontexttitle" style="<%=type == 'comment'?'font-weight:normal; border:none;':''%> <%=collapse?'border:none; margin-bottom:0px':''%>">
<%
			if('comment' != type){
%>	
										<span style="position:relative; height:38px; float:left; margin-right:10px;padding-top:3px;">										
											<img src="images/waveStyle/wih<%=value.type%>.png">
<%
				if('process' == type) {
%>
											<span style="position:absolute; bottom:7px; right:0px;"><img src="images/activity_status/i_status_<%=value.status%>.png" style="margin-top:1px;" title="<%=value.status%>"></span>										
<%
				}
%>	
										</span>
<%
			}
%>				
									<span class="wih_title">
										<%=title%>																				
									</span>
<%
			// icon - maximize
			if(maximize){
%>	
									<span>
										<a href="#" onClick="<%=methods.workItemPopup.caller()%>"> <img src="images/waveStyle/newWindow.png" style="position:relative; top:5px; left:5px;" title="Open new window"></a>
									</span>	
<%
			}
%>	
									
									<span class="workItemDate" style="margin-right:15px;">
<%
			if('process' == type) {
%>
											<div class="process_open_btn"><%=mw3.localize(collapse?'$closed':'$opened')%></div>
											<div> ·</div>																				
<%
			}
%>
											<div><%=desc%></div>
											<div><%=desc?' ·':''%></div>
											<%=fields.startDate.here({when: 'timeago'})%>
<%
			if('process' == value.type){	
%>								
										
										<div>·</div>
										<%=fields.dueDate.here({when: 'timeago'})%>
										<div> 까지</div>
<%			
			}	
%>								

									</span>
									<div class="clear"></div>
								</div>

								<!-- content -->
<%
			if(!ejsPath.endsWith('IWorkItem.ejs')){
%>					
								<%=include(ejsPath)%>
<%
			}
%>					
							</div>
						</div>
						<div class="clear"></div>
						
<%
			if(isMine){
%>
						<div class="commentTailRight"><img src="images/waveStyle/bubbleTailRight.png"></div>
<%
			}else{
%>
						<div class="commentTailLeft"><img src="images/waveStyle/bubbleTailLeft.png"></div>	
<%
			}
%>	
						
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="clear"></div>
	<div style="height:10px"></div>

<%
		}
	}
%>
		