<%
	if(value){
%>
	<div class="depth1">
		<span><%=fields.label.here()%></span>
<%
		if(!mw3.isHiddenMethod(methods.expand)){
%>				
		<span class="west_more_btn">
			<a href="javascript:<%=methods.expand.caller()%>">더보기</a>
		</span>
<%
		}
%>		
<%
		if(!mw3.isHiddenMethod(methods.collapse)){
%>	
		<span class="west_more_btn">
			<a href="javascript:<%=methods.collapse.caller()%>">접기</a>
		</span>
<%
		}
%>			
	</div>
	

	<div class="depth2">
		<div class="fist_menu">		
			<%=fields.child.here()%>
			<ul style="margin:0 0 0 5px; position:relative; top:-5px;">
				<li>
					<a href="#" onClick="<%=methods.popupAdd.caller()%>" class="add_new_label"><span class="icon-plus"></span>새<%=mw3.localize(value.label)%></a>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
<%
	}
%>
