<%
	if(value){
		if(mw3.how == 'sns'){
%>
	<%=fields.newInstantiator.here()%>
	<div id="openmind_btn" style="position:absolute; right:15px; top:50px;cursor:pointer;">
		공개설정▼
	</div>
	<div id="openmind_box">
		<ul>
			<li class="selected">우리조직 내부에만 공개 (보통 오픈마인드)</li>
			<li>본건의 관련자에게만 공개 (가장 폐쇄적임) </li>
			<li>외부 소셜네트워크에도 공개 (가장 오픈마인드!)</li>
		</ul>
	</div>

<%		
		}else{
%>
<br><br>	
	<%=fields.newInstantiator.here()%>	
	<div id="wihOrContent" style="width: 100%; text-align: center; font-size: 30px; font-weight: bold; "><%=mw3.localize("$or")%></div>
	<%=fields.processMapPanel.here()%>
<br><br>
	
	<!--table width="100%">
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_public_sns.png"> 퍼블릭 SNS </td>
	<td width="20%"><center>
	<img src="images/waveStyle/open_level_in_house.png"> 우리조직내부에 
	</td>
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_follower_only.png"> 관련자만 
	</td>
	</table-->
	
	<table>
		<tr>
			<td width="15"><img src="images/waveStyle/navi_icon.png"></td>
			<td class="closed"><b><%=mw3.localize("$OpenLevel")%>&nbsp; : &nbsp;</b></td>
			<td><%=fields.securityLevel.here({when:'edit'})%></td>
		</tr>
	</table>
<%		
		}
	}
%>
