<%
	if(value){
%>

	<div class="depth1" style="border:none;"><%=fields.label.here()%></div>
	<div class="depth2">
		<ul class="fist_menu">
			<li class="selected_navi"><a onClick="<%=methods.loadAllICanSee.caller()%>" href="#"><span class="icon-feed"></span><%=mw3.localize("$All")%></a></li>
			<li><a onClick="<%=methods.loadAll.caller()%>" href="#"><span class="icon-users"></span><%=mw3.localize("$Following")%></a></li>
			<li><a onClick="<%=methods.loadInbox.caller()%>" href="#" ><span class="icon-drawer2"></span><%=mw3.localize("$ToDo")%></a></li>
			<li><a onClick="<%=methods.loadRequest.caller()%>" href="#"><span class="icon-pen"></span><%=mw3.localize("$StartedbyMe")%></a></li>
			<li><a onClick="<%=methods.calendar.caller()%>" href="#"><span class="icon-calendar"></span><%=mw3.localize("$Calendar")%></a></li>
		</ul>
	</div>

<%
	}
%>