<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=value.label%></div>
<%if(value.selected){%>
	<div class="depth2">
		<ul class="fist_menu">
			<li><span style="background:url(images/waveStyle/loadRunning.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadRunning.caller() %>" >Running</li></a>
			<li><span style="background:url(images/waveStyle/loadCompleted.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadCompleted.caller() %>" >Completed</li></a>
			
			<li><span style="background:url(images/waveStyle/loadReady.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadReady.caller() %>" >Ready</li></a>
			<li><span style="background:url(images/waveStyle/loadRetrying.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadRetrying.caller() %>" >Retrying</li></a>
			<li><span style="background:url(images/waveStyle/loadSuspended.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadSuspended.caller() %>" >Suspended</li></a>
			
			<li><span style="background:url(images/waveStyle/loadStopped.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadStopped.caller() %>" >Stopped</li></a>
			<li><span style="background:url(images/waveStyle/loadTimeout.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadTimeout.caller() %>" >Timeout</li></a>
			<li><span style="background:url(images/waveStyle/loadFailed.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadFailed.caller() %>" >Failed</li></a>
			<li><span style="background:url(images/waveStyle/loadCancelled.gif) no-repeat 5px 0px;"><a onClick="<%=methods.loadCancelled.caller() %>" >Cancelled</li></a>
		</ul>
	</div>
<%}else{%>
<%}%>