<%
    if( mw3.when == 'edit' ){
%>
        <table  border="0" cellspacing="0" cellpadding="0" style="width:100%; border:none;">
            <tr>
                <td width="20" style="border:none; padding:12px 0 0 0"><img src="images/waveStyle/re.gif" /> </td>
                <td width="40" style="border:none; padding:5px 0 0 0"><%=fields.writer.here({when:'followers'})%></td>
                <td style="border:none;padding:8px 0 0 0"> <%=value.title%></td>
                <td width="40" style="border:none;padding:5px 0 0 0">
                    <img src="images/waveStyle/apply.png" onclick="<%= methods.saveReply.caller() %>" />
                    <img src="images/waveStyle/delete.png" onclick="mw3.getFaceHelper('<%=objectId%>').deleteReply()" />
                </td>
            </tr>
        </table>
<%
    }else if( mw3.when == 'view' ){
%>
        <%=fields.writer.here({when:'followers'})%>
            title = <%=value.title%>
<%
    }
%>

