<%
	if(value){
		if(value.loginUser){
			value.loginUser.metaworksContext.when = 'self';
		}
%>
	
 	<div style="float:left; margin-top:5px;"><%=fields.loginUser.here()%></div>
	<div class="logo">		
		<img src="images/waveStyle/<%=mw3.localize("$logo")%>.png">
	</div>
	<%=fields.notificationBadge.here()%>
	
	<%=fields.windowPanel.here()%>	
	
	<%=fields.tray.here()%>
	
    <div class="info">
    <%=fields.searchBox.here()%>
        <%if(mw3.when!='__design-depth2'){/*TODO: later, rather use 'where' than 'when'.*/%>
        	<%=fields.session.here({when:'hidden'})%>
        <%}else{%>
        	session here.
        <%}%>	
	</div>	
	
	
	
<%
	}
%>