<%	
	if(value){
%>
		<div>
			<%=fields.parameters.here()%>
		</div>

<%	
		if(mw3.when != 'view'){
%>
		<div id="btnline" style="padding-top:8px;">
			<ul>	
<%if(!mw3.isHiddenMethod(methods.complete)){%>			<li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.complete.caller()%>"><span><%=mw3.localize('$Complete')%></span></a></li><%}%>
<%if(!mw3.isHiddenMethod(methods.save)){%>				<li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.save.caller()%>"><span><%=mw3.localize('$Save')%></span></a></li><%}%>
<%if(!mw3.isHiddenMethod(methods.cancel)){%>			<li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.cancel.caller()%>"><span><%=mw3.localize('$Cancel')%></span></a></li><%}%>
<%if(!mw3.isHiddenMethod(methods.skip)){%>				<li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.skip.caller()%>"><span><%=mw3.localize('$Skip')%></span></a></li><%}%>
<%if(!mw3.isHiddenMethod(methods.accept)){%>			<li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.accept.caller()%>"><span><%=mw3.localize('$Accept')%></span></a></li><%}%>
			</ul>
		</div>
		
<%	
		}
	}
%>