<%

if(mw3.when=='NEW'){

%>

		<div>
			<%=fields.parameters.here({when:'edit'})%>
		</div>

		<div id="btnline" style="padding-top:8px;">
			<ul>	
				<li><a id="wBtn" href="javascript:<%=methods.complete.caller()%>"><span><%=mw3.localize('$Complete')%></span></a></li>
				<li><a id="wBtn" href="javascript:<%=methods.save.caller()%>"><span><%=mw3.localize('$Save')%></span></a></li>
				<li><a id="wBtn" href="javascript:<%=methods.cancel.caller()%>"><span><%=mw3.localize('$Cancel')%></span></a></li>
				<li><a id="wBtn" href="javascript:<%=methods.skip.caller()%>"><span><%=mw3.localize('$Skip')%></span></a></li>
			</ul>
		</div>
		
<%	
}else{


%>

	
		<div>
			<%=fields.parameters.here({when:'view'})%>
		</div>
<%}%>
