<%


//mw3.debug(value);

	var width = null;
	var height = null;

	if(descriptor!=null){
		width = descriptor.getOptionValue('width');
		height = descriptor.getOptionValue('height');
	}
	
	//if(width==null) width = 500;
	//if(height==null) height = 700;


if (value != null){


	var objectName; 

	if(value.__toString){
		objectName = value.__toString();
	}else{
		objectName = objectMetadata.displayName;
	}
	
	var layoutPanelName = objectMetadata.faceOptions['layoutPanelName'];
	var className = "";
	
	if(layoutPanelName == "navigation")
		className = "inner-north";	
	else if(layoutPanelName == "contact")
		className = "inner-center";
	else if(layoutPanelName == "worklist")
		className = "middle-west";
	else if(layoutPanelName == "wih")
		className = "middle-center";
			
%>


		
		<div class="<%=className%>" style="padding-bottom:35px;">
            <div class="boxtopleft">
            	<span class="boxtopright">
            		<div id="navigationTitle"><%=objectName%></div>
            		<div id="loader_<%=objectId%>" class="loadingarea" style="display: none; "><img src="/uengine-web/codi-web/images/waveStyle/ajax-loader.gif" border="0"></div>
            	</span>
            </div>
            <div class="boxmiddleright">
                <div class="boxmiddleleft">
                    <div class="togglebtnmini" onclick="mw3.getFaceHelper('<%=objectId%>').minimize()"></div>
                    <div class="worklistcontentcontainer" style="overflow-y:auto">                        
                            
						<table cellpadding="10" cellspacing="0" width="100%" id="navigator">
							<tbody>
							
							
						<%	
						
						//alert(dwr.util.toDescriptiveString(objectMetadata.faceOptions, 5))
						 	var showLabel = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideLabels']);
						
						  for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
						  
						  	var fd = objectMetadata.fieldDescriptors[i];
						  	
						  	if(fd.attributes && fd.attributes['hidden']) continue;
						  	if(fd.name == 'metaworksContext') continue;
						  	
						  	var fieldValue = value[fd.name];
						  	
						  	
						%>
						 
						<tr height="25" valign="middle">
						
						<%
						 	if(showLabel){
						%>
						<td bgcolor=white> <b><%=fd.displayName%></b> </td>
						<%
							}
						%>
						<td bgcolor=white> <%=fields[fd.name] ? fields[fd.name].here() : "XXX"%></td></tr>
						
						
						<%
						  }
						   
						%>
						
						
									    <tr>
									    <td <%=showLabel ? "colspan=2":""%>>
									    <%
						   
						   if(objectMetadata.serviceMethodContexts)
						   for(var key in objectMetadata.serviceMethodContexts){
						   
						%><%=methods[key].here()%> <%   
						   }
						   
						%>
									    </td>
									    </tr>
						
						
							</tbody>
						</table>

                        
                    </div>
                </div>
            </div>
            <div class="boxbottomleft"><span class="boxbottomright"></span></div>
		</div>
  <%
     }
   %>