<div>
	<div style="*display:inline-block;_float:left;_width /**/:100%;padding-right:350px">
		<div style="float:left;width:100%;margin-right:-350px">
			<%=fields.instanceListPanel.here() %>
		</div>
		<div class="oce_service">
			<div style="height:55px;"><%=fields.myServicePanel.here() %></div>
			<div class="oce_calendaPanel"><%=fields.calendar.here() %></div>
		</div>
		<div class="clear"></div>
	</div>
	<%=fields.myAppPanel.here() %>
	<%=fields.projectPanel.here() %>
	

</div>