<%
	if(value){
		var showText = !(descriptor && descriptor.getOptionValue('hideText', false));
		if(showText)
			showText = !objectMetadata.getOptionValue('hideText', false);

%>
	<%=fields.fileTransfer.here()%>
<%		
		if(mw3.when == "image"){
%>
		<div id="convertProgress_<%=objectId%>" style="width:150px; margin:15px auto;">
			<div style="float:left;"><img src="images/img-loader.gif" /></div>
		</div>
			<a target="_blink" id="image_<%=objectId%>">&nbsp;</a> 
<%
		}else{
		
			if(mw3.when == mw3.WHEN_NEW || mw3.when == mw3.WHEN_EDIT){
%>

	
	<span id="filebtnadd_<%=objectId%>">
		<a id="wBtn" href="#" onclick="mw3.getFaceHelper(<%=objectId%>).add(event)"><span><%=mw3.localize('$FileAttach')%></span></a>
	</span>	
	<span id="filebtndel_<%=objectId%>" style="display:none">
		<a id="wBtn" href="#" onclick="mw3.getFaceHelper(<%=objectId%>).del(event)"><span><%=mw3.localize('$FileRemove')%></span></a>
	</span>
<%
			if(showText){
%>
	<span style="float: left; line-height:1.8em; margin-left:10px; width:300px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" id="filename_<%=objectId%>"><%=mw3.localize('$NoFileAttached')%></span>
<%
				}
			}else{
				if(value.uploadedPath){		
%>
	
	<a id="wBtn" href="#" onclick="<%=methods.download.caller()%>"><span style="z-index:1px;"><%=mw3.localize('$Download')%></span></a>
<%		
				}
				
				if(showText){
			
%>
	<span style="float: left; line-height:1.8em; margin-left:10px; margin-right:10px;" id="filename_<%=objectId%>">등록된 파일이 없습니다</span>
<%			
				}
			}
%>
	<div class="clear"></div>
<%				
		}
	}
%>