<% if(value){ %>
        <div>
            <a id="wBtn" style="cursor: pointer" onClick="<%=methods.addActivityVariable.caller()%>"><span><%=mw3.localize("$add")%></span></a>
            <a id="wBtn" style="cursor: pointer" onClick="mw3.getFaceHelper(<%=objectId%>).removeItem();"><span><%=mw3.localize("$Remove")%></span></a>
            <div class="clear"></div>
                <div>
                    <span>Variable</span>
                    <span style="width:100">Argument</span>
                    <span>VariableType</span>
                </div>
                <%
                    if( value.parameterContext && value.parameterContext.length > 0){
                        for(var i=0; i < value.parameterContext.length; i++){
                            var context = value.parameterContext[i];
                %>
                            <div onclick="mw3.getFaceHelper(<%=objectId%>).clickedItem('<%= i %>');">
                                    <%=mw3.locateObject(context, context.__className) %>
                            </div>
                <%
                            mw3.addBeanProperty(objectId, '[' + i + ']');
                        }
                        mw3.onLoadFaceHelperScript();
                    }else{
                %>
                            <div class="clear"></div>
                            <span>변수가 없습니다</span>
                            <div class="clear"></div>
               <% }%>
        </div>
<% }%>