<div id="gnb_wrap">
	<div id="gnb_l">
	</div>	
	<div id="gnb">
		<ul>
			<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, 'file');"><span>File</span></a></li>
			<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, 'edit');"><span>Edit</span></a></li>
			<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, 'project');"><span>Project</span></a></li>
			<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, 'run');"><span>Run</span></a></li>
			<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, 'help');"><span>Help</span></a></li>
		</ul>
	</div>
	<div id="gnb_r">
	</div>
</div>