<%
	if (value) {
		var fieldOrderValue = (objectMetadata.faceOptions ? (objectMetadata.faceOptions['fieldOrder']?objectMetadata.faceOptions['fieldOrder']:'') : '');
		var fieldOrder = [];
		var cols = 2;
		
		if(fieldOrderValue && fieldOrderValue.length>0){
			if(fieldOrderValue.indexOf(',')>0){
				fieldOrder = fieldOrderValue.split(',');
			}else{
				fieldOrder.push(fieldOrderValue);
			}
			
			for (var i=0; i<fieldOrder.length; i++){		
				var tempOrder = [];
		
				if(fieldOrder[i].indexOf('-') > -1){
					tempOrder = fieldOrder[i].split('-');						
				}else{
					tempOrder.push(fieldOrder[i]);
				}
				
				var separator = '';
				var tempField = '';
				var cnt = 0;
				
				for (var j=0; j<tempOrder.length; j++){
					if(fields[tempOrder[j]]){
						var fd = fields[tempOrder[j]].fieldDescriptor;
						
						if(mw3.isHidden(fd)) continue;
						
						tempField += separator + tempOrder[j];
						separator = '-';
							
						cnt++;
					}
				}
				
				fieldOrder[i] = tempField;
				
				if(cols < (cnt * 2))
					cols = cnt * 2;
			}			
		}else{
			for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
				var fd = objectMetadata.fieldDescriptors[i];
	   		   							
				if(fd.name == 'metaworksContext') continue;
							
				if(mw3.isHidden(fd)) continue;
											
				if(value[fd.name] == null
				   && fd.className != 'java.lang.String'
				   && fd.className != 'java.lang.Number'
				   && fd.className != 'java.lang.Boolean'
				   )
					continue;
					
				fieldOrder.push(fd.name);
			}
		}	
%>
	<div class="form_table2"> 
		<table border="1" cellspacing="0" >	
			<tbody>
<%	
		for (var i=0; i<fieldOrder.length; i++){
			if(fieldOrder[i].length == 0)
				continue;
				
			var tempOrder = [];
			
			if(fieldOrder[i].indexOf('-') > -1){
				tempOrder = fieldOrder[i].split('-');
			}else{
				tempOrder.push(fieldOrder[i]);
			}
%>
		<tr>
<%				
			for (var j=0; j<tempOrder.length; j++){					
				var fd = fields[tempOrder[j]].fieldDescriptor;
%>
			<th scope="row" <%=fd.getOptionValue('required')?"class=\"vCheck\"":""%>><%=mw3.localize(fd.displayName)%></th>
<%
				if(j < tempOrder.length-1){ 			
%> 			
			<td><%=fields[fd.name] ? fields[fd.name].here() : "XXX"%></td>		
<%
				}else{
%>
			<td colspan="<%=cols - (j*2) - 1%>"><%=fields[fd.name] ? fields[fd.name].here() : "XXX"%></td>
<%				
				}
			}
%>
		</tr>
<%			
		}
%>
			</tbody>
		</table>
	</div>
<%		
		
	   	if(objectMetadata.serviceMethodContexts){
%>
		
		<div class="positionRight">
<%			   	
			for(var key in objectMetadata.serviceMethodContexts){
	   		   	var serviceMethod = objectMetadata.serviceMethodContexts[key];	   		   	
%>
				<%=methods[serviceMethod.methodName].here()%>
<%	   	   	
			}
%>			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
<%			
		}
  	}
%>