<%console.log(value);%>

<%=fields.id.here()%>
<%=fields.displayName.here()%>
<%=fields.hide.here()%>

<label class="fb_box_desc" id=""><%=mw3.localize('$form.field.id')%></label>
<div class="">
	<input class="text medium" id="field0" type="text" value="ccc" />
</div>

<label class="fb_box_desc" id=""><%=mw3.localize('$form.field.displayname')%></label>
<div class="">          	
	<input class="text medium" id="field0" type="text" value="ddd" />
</div>

<label class="fb_box_desc" id=""><%=mw3.localize('$form.field.hide')%></label>
<div class="">
	<input class="text medium" id="field0" type="text" value="aaa" />
</div>
