	<div class="top" style="height: 68px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
		<%=fields.followers.here()%>
		
		<%=fields.instanceAction.here()%>		
	</div>

<%
	if(value) {
		for(var i = 0; i<value.documentNode.length; i++){
%>	
	<div class="cont" style="padding:5px 10px; margin:0px;">	
		<table id="tableHidtoryContent_1" width="100%" border="0" cellspacing="0" cellpadding="0">	
			<tbody>
				<tr>
					<td width="60" align="left" valign="top">
						<img class="navi_icon" src="images/file.png" />&nbsp;<%=value.documentNode[i].name%>
					</td>
					<td width="45" align="left" valign="top">
					<%=value.documentNode[i].url%>
					</td>
					<td width="45" align="left" valign="top">
					<%=value.documentNode[i].startDate%>
					</td>
				</tr>	
				</tbody>
		</table>
		</div>
		<p>

<%
	}
	}
%>	