<%
	if(value){
	
%>
	<%
		if( mw3.how == 'perspectivePanel' ){
	%>
				<div class="<%=nodeStatus%>"  onclick="<%=value.close?methods.collapse.caller():methods.expand.caller()%>">
					<img class="navi_icon" src="images/waveStyle/i_project.png" />	
					<a onClick="<%=methods.loadDocument.caller()%>" href="#">
						<%=value.name%>
					</a>
				</div>
				<div>
						<span style="margin-left:10px;"><%=fields.childNode.here()%></span>
				</div>

					
	<%	
		}else if( mw3.how == 'explorer' ){
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";
			if(mw3.when == 'onlyView'){
%>
				
				<div class="<%=nodeStatus%>"  onclick="<%=value.close?methods.collapse.caller():methods.expand.caller()%>">
					<img class="navi_icon" src="images/waveStyle/i_project.png" />	
					<a onClick="<%=methods.loadExplorerDocument.caller()%>" href="#">
						<%=value.name%>
					</a>
				</div>
				<div>
						<span  style="margin-left:10px;"><%=fields.childNode.here()%></span>
				</div>
				
				
				

<%
	}
%>							

				
				
	<%	
	}else if(mw3.how == 'fileView'){
		if(value){
	%>
		<%= fields.fileList.here()%>
				
			<span class="documentFileList">
				<div class="fixed_img_row2">
					<ul>				
						<li>
							<a href="#" onClick="<%=methods.loadDetailView.caller()%>">
								<span class="thumb" >
									<img src="images/<%=value.fileIcon%>" />
								</span>
								<strong><%=value.name%></strong>
							</a>							
							<p><%=value.startDate%></p>
							<p><%=fields.file.here()%> </p>
						</li>
					</ul>
				</div>	
				
			</span>

	
				
					
		
	<%}
	}else if(mw3.how == 'folderView'){
		if(value){

	 %>	
	 	<%= fields.folderList.here()%>
			<span class="documentFolderList">	
				<div class="fixed_img_row2">
					<ul>				
						<li>
							<a href="#" onClick="<%=methods.loadFolderView.caller()%>">
								<span class="thumb" >
									<img  alt="" src="images/Document_folder.png">
								</span>
								<strong><%=value.name%></strong>
							</a>
							<p><%=value.authorId%></p>
							<p><%=value.description%></p>
							<p><%=value.startDate%></p>
						</li>
					</ul>
				</div>				
			</span>
<%
	 
	
	 	}
	}else if(mw3.how = 'DetailView'){
	%>		
		<img src="images/<%=value.fileIcon%>" />
		
		<b>파일명: <%=value.name%></b><br>
		제작자: <%=value.authorId%><br>
		종류: <%=value.conntype%><br>
		작성일: <%=value.startDate%><br>
		Description: <%=value.url%><br>
		다운로드: <%=fields.file.here()%> 

		
	
	
	
	
	
	
	
<%	
	}
	}
%>