<%
	if(value){
	
%>
	<%
		if( mw3.how == 'perspectivePanel' ){
	%>
				<div class="<%=nodeStatus%>"  onclick="<%=value.close?methods.collapse.caller():methods.expand.caller()%>">
					<img class="navi_icon" src="images/waveStyle/i_project.png" />	
					<a onClick="<%=methods.loadDocument.caller()%>" href="#">
						<%=value.name%>
					</a>
				</div>
				<div>
						<span style="margin-left:10px;"><%=fields.childNode.here()%></span>
				</div>

					
	<%	
		}else if( mw3.how == 'explorer' ){
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";
			if(mw3.when == 'onlyView'){
%>
				
				<div class="<%=nodeStatus%>"  onclick="<%=value.close?methods.collapse.caller():methods.expand.caller()%>">
					<img class="navi_icon" src="images/waveStyle/i_project.png" />	
					<a onClick="<%=methods.loadExplorerDocument.caller()%>" href="#">
						<%=value.name%>
					</a>
				</div>
				<div>
						<span  style="margin-left:10px;"><%=fields.childNode.here()%></span>
				</div>
				
				
				

<%
	}
%>							

				
				
	<%	
	}else if(mw3.how == 'fileView'){
		if(value){
	%>
		<%= fields.fileList.here()%>
				
			<span class="documentFileList">
				<div class="fixed_img_row2">
					<ul>				
						<li>
							<a href="#" onClick="<%=methods.loadDetailView.caller()%>">
								<span class="thumb" >
									<img src="images/<%=value.fileIcon%>" />
								</span>
								<strong><%=value.name%></strong>
							</a>							
							<p><%=value.startDate%></p>
							<p style="margin-top:5px;"><%=fields.file.here()%> </p>
						</li>
					</ul>
				</div>	
				
			</span>

	
				
					
		
	<%}
	}else if(mw3.how == 'folderView'){
		if(value){

	 %>	
			<span class="documentFolderList">	
				<div class="fixed_img_row2">
					<ul>				
						<li>
							<a href="#" onClick="<%=methods.openFolderView.caller()%>">
								<span class="thumb" >
									<img  alt="" src="images/Document_folder.png">
								</span>
								<strong><%=value.name%></strong>
							</a>
							<p><%=value.authorId%></p>
							<p><%=value.description%></p>
							<p><%=value.startDate%></p>
						</li>
					</ul>
				</div>				
			</span>
<%
	 
	
	 	}
	 }else if(mw3.how == 'fileList'){
	 	
		%>
		<%= fields.fileList.here()%>


	<%
	 }else if(mw3.how == 'Navigator'){
%>	
	<style> a:hover{ text-decoration:underline; } </style>
		<a onClick="" href="#">
            <span><%=value.name %>l</span> 
        </a>
        &nbsp;<b>></b>&nbsp;
	
	 
<%
		}	 
	}
%>