<%if (value!=null){%>

<%if (mw3.how == 'document'){ %>
<%=fields.workItem.here()%>
<% }else{%>
<%=fields.instances.here()%>
<%}%>
<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<div id="moreListBtn" onclick="<%=methods.more.caller()%>"><%=mw3.localize("$more")%></div>


<%}

}%>