<%
	if(value){
%>

<%
		if(mw3.how == 'oce'){
%>		
			<img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="40" height="40"/>
			<a onClick="<%=methods.loadTopic.caller()%>"><%=value.name%></a>
			<div class="editicon3" onClick="<%=methods.remove.caller()%>">

<%
		}else{
%>
<%	
			if(value.secuopt=='1'){
%>	
 			
 				<img class="navi_icon" src="images/waveStyle/i_project.png"><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a>
 				
	 			
 			
<%	
			}else{
%>	 
				<img class="navi_icon" src="images/waveStyle/i_project.png"><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a>
 
 <%
	 		}
	 	}
	}
%>