<%
	if(value){
		if(mw3.how != 'NONE'){
			if(mw3.how != 'ROOT'){
			
				if(mw3.how == 'PATH'){
		
		
%>
<div class="wfPath" onclick="<%=methods.drillInto.caller()%>"><%=value.name%> - </div>
<%		
				
				}else {
%>
	<ul>
		<li>
<%
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";

				if(mw3.when != 'read'){
%>		
			<div id="wfnode_<%=objectId%>" class="wfNode" style="margin:4px 0; position:relative">
				<div id="wfnode_current_<%=objectId%>" class="wfnode_current" style="display:none"><img src="images/waveStyle/navi_icon.png" ></div>
				
				<!-- opened, closed -->
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td>
							<span class="wfNodeText" style="width:100%;"><%  if(value.linkedInstId){%><span class="wfLink" onclick="<%=methods.linkInstance.caller()%>">[<%=value.linkedInstId%>]</span><%}%>
								
					<%	if(value.type=='img'){		
%>
								<img src="<%=value.name%>" >
								<input type="text" id="wfnode_content_<%=objectId%>" style="height:1px;border:none;background:transparent;" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
<%					
				
				
				}else{ %>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent"" value="<%=value.name%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
<%				}%>
							</span>
						</td>
					</tr>
				</table>
					
				</span>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>			
<%
				}else{						
%>
			<div id="wfnode_<%=objectId%>" class="wfNode" style="margin:4px 0">
				<!-- opened, closed -->
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td>
							<span class="wfNodeText">
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal" value="<%=value.name%>" readonly>
							</span>
						</td>
					</tr>
				</table>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>
<%
				}
				
				}
			}
			
			if(!value.close){			
%>
	<%=fields.childNode.here()%>
<%			
			}
%>
		</li>
	</ul>
<%			
		}
	}
%>		