<div style="border-bottom:1px solid #aaaaaa;">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="projectInfoTable">
		<colgroup>
	    	<col width="95" height:23px; align="right"/>
	    	<col />
	    </colgroup>
		<tr height="22">
			<th align="right"><b>project name :</b></th>
			<td><%= fields.projectName.here() %></td>
		</tr>
		<tr height="22"">
			<th align="right"><b>OS Info :</b></th>
			<td><%= fields.os.here() %></td>
		</tr>
		<tr height="22"">
			<th align="right"><b>DB Info :</b></th>
			<td><%= fields.db.here() %></td>
		</tr>
		<tr height="22"">
			<th align="right"><b>WAS Info :</b></th>
			<td><%= fields.was.here() %></td>
		</tr>
		<tr height="22"">
			<th align="right"><b>IP Info :</b></th>
			<td><%= fields.vm.here() %></td>
		</tr>
	</table>	
</div>