<%
	value.metaworksContext.where = mw3.where;
	
	if('index' == mw3.where){ 
%>
	    <div class="index_signup">
            <div class="index_signup_inner">
            	<table width="100%" cellpadding="0" cellspacing="0">
            		<tr>
            			<td>
            			     <%=fields.email.here({htmlTag:'span', htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail'}})%>            			
            			</td>
            			<td width="100">
							<span onclick="<%=methods.signUpForMain.caller()%>" class="ebutton">Sign Up</span>            			
						</td>
            		</tr>
            	</table>
            	
        </div>	

<%
	}else{
%>
<div id="signup_popup">
	<div class="login_top_codi"></div>
    <div class="popup_logo_codi"></div>
<% if('forgotpassword' == mw3.how || 'afterforgotpassword' == mw3.how){ %>
    <div class="popup_title"> <span><%=mw3.localize("$ForgotPassword")%></span> </div>
<%}else if('signup' == mw3.how || 'aftersignup'== mw3.how){ %>
    <div class="popup_title"> <span><%=mw3.localize("$SignUp")%></span> </div>
<%}%>
    <div class="popup_content">
    	
<%
		if('login' == mw3.how || 'logout' == mw3.how){
		
%>		
		<label>E-mail</label>
		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
		<label>Password</label>
		<%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.login.caller()%>"><%=mw3.localize("$Login")%></div>
        	<span style="display:inline-block"><%=fields.rememberMe.here({when:'edit'})%></span><label style="display:inline-block; font-size:12px; color:#666; position:relative;top:-2px;"><%=mw3.localize("$RememberMe")%></label>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goForgotPassword.caller()%>"><%=mw3.localize("$ForgotPassword")%></span>  
            <%
					if(value.useSubscribe){
			%>
            <span id="method_<%=objectId%>_subscribe" onclick="<%=methods.goSignUp.caller()%>"><%=mw3.localize("$SignUp")%></span>
            <%
					}
			%>
        </div>
        <div style="clear:both"></div>
<%
		}else if('afterforgotpassword' == mw3.how){
%>        
        <div class="signup_textbox">
        	이메일을 확인해주세요.<br>
			이메일을 보냈습니다. 받은 편지함에 메시지를 확인해주세요.
		</div>
        
<%
		}else if('signup' == mw3.how){
%>
		<label  class="after_result_label">네트워크는 비공개입니다 : 유효한 회사 이메일이 필요합니다.</label>
		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
       
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>"><%=mw3.localize("$SignUp")%></div>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goLogin.caller()%>"><%=mw3.localize("$Login")%></span>  
        </div>
        <div style="clear:both"></div>
        
        <%if(false){%>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login"><%=mw3.localize("$SignupOR")%></div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
        <%}%>
        
<%
		}else if('forgotpassword' == mw3.how){
%>
		
		<label  class="after_result_label">회사 이메일 주소를 입력 해주십시오</label>
		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>       
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.forgotPassword.caller()%>">보내기</div>
        </div>
         <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goLogin.caller()%>"><%=mw3.localize("$Login")%></span>  
        </div>
        <div style="clear:both"></div>
        
<%
		}else if('aftersignup'){
%>
		
		<label class="after_result_label"><%=mw3.localize("$ConfirmEmail")%></label>
        <%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly',  style: 'margin-bottom:15px'}})%>
		<div class="signup_textbox">
			가입해주셔서 감사합니다.<br>
			<b>이메일을 확인하신 후 가입 완료해주세요.</b><br>					
			만약 이메일을 받지 못하셨으면 스펨 폴더를 확인하시거나 아래 버튼을 클릭하여 재전송 하시기 바랍니다. <br>
		</div>
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>"><%=mw3.localize("$ReSend")%></div>
        </div>
        <div style="clear:both"></div>

<%
		}
%>
    </div>

    <div class="popup_bottom"></div>
</div>

<%
	}
%>