adfadfsafdasdfasdasf
<%
	if(value){

%>
	<span style="position:relative; float:left; width:0px; height:0px; overflow:hidden; cursor:pointer; background-image:url('http://wstatic.naver.com/w9/btn_sch.gif');">
   <input type="file" id="<%=mw3.createInputId(objectId)%>" name="<%=mw3.createInputId(objectId)%>" style='position：absolute; margin-left:-10px; width:0px; height:0px; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor:pointer;'>
</span>
<%		
		if(mw3.when == "image"){
%>
			<a target="_blink" id="image_<%=objectId%>">&nbsp;</a> 
<%
		}else{
		
			if(mw3.when == mw3.WHEN_NEW || mw3.when == mw3.WHEN_EDIT){
%>

	
	<span id="filebtnadd_<%=objectId%>">
		<a id="wBtn" href="#" onclick="mw3.getFaceHelper(<%=objectId%>).add(event)"><span>파일첨부</span></a>
	</span>	
	<span id="filebtndel_<%=objectId%>" style="display:none">
		<a id="wBtn" href="#" onclick="mw3.getFaceHelper(<%=objectId%>).del(event)"><span>파일삭제</span></a>
	</span>

	<span style="line-height:1.8em; margin-left:10px;" id="filename_<%=objectId%>">선택된 파일이 없습니다</span>
<%
			}else{
				if(value.uploadedPath){		
%>
	
	<a id="wBtn" href="#" onclick="<%=methods.download.caller()%>"><span>다운로드</span></a>
<%		
				}
			
%>
	<span style="line-height:1.8em; margin-left:10px;" id="filename_<%=objectId%>">등록된 파일이 없습니다</span>
<%			
			}
		}
	}
%>