<%
	if(value.status == 'subscribe'){
%>
	<div class="signUpMail">
		<div id="signup">  
			<%=fields.userId.here() %>
		</div>
		<div class="signUpmailBtn">
			<img  onClick="<%=methods.subscribe.caller()%>" src="images/signIn/signUpbutton.png"/>
		</div>
		<div style="clear:both"></div>
		<div class="message" style="text-align:center; color:#C61866;"></div>
	</div>
	<div class="fbloginBox" style="border-top:1px solid #e9e9e9; padding-top:40px;">
		
		<span style="float:left; margin-left:170px; margin-right:10px;" onClick="mw3.getFaceHelper(<%=objectId%>).loginFacebook()"><img src="images/signIn/fb_btn.png" /></span>
			<!--
		<span  style="float:left; margin-left:10px; margin-right:10px;"><img src="images/signIn/tw_btn.png" /></span>
		<span style="float:left; margin-left:10px; margin-right:10px;"><img src="images/signIn/in_btn.png" /></span>
			-->
	<div>
	
	
	
<%	
	}else{
%>	
<div id="signup_popup">
	<div class="login_top_codi"></div>
    <div class="popup_logo_codi"></div>
    <div class="popup_content">
		<%=fields.userId.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
		<%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.login.caller() %>">Login</div>
        	<span style="display:inline-block"><%=fields.rememberMe.here({when:'edit'})%></span><label style="display:inline-block; font-size:12px; color:#666; position:relative;top:-2px;">Remember Me</label>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.findPassword.caller() %>">Forgot password?</span>  
            <%
					if(value.useSubscribe){
			%>
            <span id="method_<%=objectId%>_subscribe" onclick="<%=methods.popupSubscribe.caller() %>">SignUp</span>
            <%
					}
			%>
        </div>
        <div style="clear:both"></div>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login">..or you can skip that and sign up codi</div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
    </div>
    <div class="popup_bottom"></div>
</div>


<%
	}
%>	

<div>
	<span id = "ipaddress"></span>
</div>