<div id="signup_popup">
	<div class="login_top_codi"></div>
    <div class="popup_logo_codi"></div>
    <div class="popup_content">
    	
<%
		if('login' == mw3.how || 'logout' == mw3.how){
%>		
		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
		<%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.login.caller()%>">Login</div>
        	<span style="display:inline-block"><%=fields.rememberMe.here({when:'edit'})%></span><label style="display:inline-block; font-size:12px; color:#666; position:relative;top:-2px;">Remember Me</label>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goForgotPassword.caller()%>">Forgot password?</span>  
            <%
					if(value.useSubscribe){
			%>
            <span id="method_<%=objectId%>_subscribe" onclick="<%=methods.goSignUp.caller()%>">SignUp</span>
            <%
					}
			%>
        </div>
        <div style="clear:both"></div>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login">..or you can skip that and sign up codi</div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
<%
		}else if('signup' == mw3.how){
%>

		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>">Sign Up</div>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goLogin.caller()%>">Log In</span>  
        </div>
        <div style="clear:both"></div>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login">..or you can skip that and sign up codi</div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
        
<%
		}else if('forgotpassword' == mw3.how){
%>

		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.forgotPassword.caller()%>">Submit</div>
        </div>
        <div style="clear:both"></div>
        
<%
		}
%>
    </div>

    <div class="popup_bottom"></div>
</div>