<div id="container">
    <form action="#" method="post">
        <!-- #first_step -->
        <div id="first_step">
            <h1>PROCESS CODI&nbsp;&nbsp;<span>LOGIN</span></h1>
            <div class="form">           		
				<%=fields.userId.here() %>
                <label for="username">부여받으신 아이디를 입력 하여 주십시오.</label>
                <%=fields.password.here() %>
                <label for="password">패스워드를 입력하여 주십시오.</label>
                <div class="clear"></div>
            </div>
            <!-- clearfix -->
            <div class="clear"></div>
            <!-- /clearfix -->
            <div class="options" id="divCookie"">
            	<!-- 
            	<span><input type="checkbox" name="chksaveid" /> Save ID</span>
            	-->
                <span><input type="checkbox" name="chkautologin" /> Auto Login</span>

            </div>
            

            <input id="signin" class="submit"  value="" title="click is login" alt="click is login" onclick="javascript:loginAction();"/>
            
        </div>
        <!-- clearfix -->
        <div class="clear"></div>
        <!-- /clearfix -->
    </form>
</div>
<div id="progress_bar">
    <div id="progress"></div>
    <div id="progress_text">© 2000-2012 OpenSource BPMS uengine.org , overseas@uengine.org</div>
</div>



<!--
	<div id="login-box" >
	<div id="login-box-inner" >
		<H2>Process CODI Login</H2>
		<span class="subscr">PaaS for Business Expert (Chrome Optimized)</span>
		<br />

		<div id="login-box-name" style="margin-top:20px;">Your ID:</div>
		<div id="login-box-field" style="margin-top:20px;">
			<%=fields.userId.here() %>
		</div>
		<div id="login-box-name">Password:</div>
		<div id="login-box-field">
			<%=fields.password.here() %>
		</div>
		<% if(value.errorMessage) {
		%>
			<%=fields.errorMessage.here() %>
		<%
		}%>
		<div style="clear:both"></div>
		<span class="login-box-options"><input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
		<div style="clear:both"></div>
		<a href="javascript:<%=methods.login.caller() %>"><img src="images/signIn/login-btn.png" width="103" height="42" style="margin-left:90px;" /></a>
		
		
		
		
	
	</div>
	</div>
	
	<div id="copyright">© 2000-2012 OpenSource BPMS uengine.org , overseas@uengine.org
	</div>
-->