<div id="signup_popup">
	<div class="login_top_codi"></div>
    <div class="popup_logo_codi"></div>
    <div class="popup_content">
    	
<%
		if('login' == mw3.how || 'logout' == mw3.how){
		
%>		
		<!-- if remember me
		<%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly' , style: 'margin-bottom:15px; width:349px; float:left; margin-right:0px;' , value: 'ktw@test.com'}}) %>
		<div class="remember_email">Change</div>
		-->
		
		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
	
		<%=fields.password.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your password'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.login.caller()%>"><%=mw3.localize("$Login")%></div>
        	<span style="display:inline-block"><%=fields.rememberMe.here({when:'edit'})%></span><label style="display:inline-block; font-size:12px; color:#666; position:relative;top:-2px;"><%=mw3.localize("$RememberMe")%></label>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goForgotPassword.caller()%>"><%=mw3.localize("$ForgotPassword")%></span>  
            <%
					if(value.useSubscribe){
			%>
            <span id="method_<%=objectId%>_subscribe" onclick="<%=methods.goSignUp.caller()%>"><%=mw3.localize("$SignUp")%></span>
            <%
					}
			%>
        </div>
        <div style="clear:both"></div>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login"><%=mw3.localize("$SignupOR")%></div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
<%
		}else if('afterforgotpassword' == mw3.how){
%>        
        
        <label><%=mw3.localize("$FindEmailPassword")%></label>
        <%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly'}})%>
		        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>"><%=mw3.localize("$ReSend")%></div>
        </div>
        <div style="clear:both"></div>
<%
		}else if('signup' == mw3.how){
%>

		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>"><%=mw3.localize("$SignUp")%></div>
        </div>
        <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goLogin.caller()%>"><%=mw3.localize("$Login")%></span>  
        </div>
        <div style="clear:both"></div>
        <hr />
        <div class="popup_btn_line_login">
        	<div class="fb_login"><%=mw3.localize("$SignupOR")%></div>
            <span id="method_facebook_<%=objectId%>" onclick="mw3.getFaceHelper(<%=objectId%>).loginFacebook();" style="cursor:pointer"><img src="images/signIn/fbLogin.png" /></span>
        </div>
        
<%
		}else if('forgotpassword' == mw3.how){
%>

		<%=fields.email.here({htmlAttrChild: {class:'textinput', placeholder: 'Enter your E-mail', style: 'margin-bottom:15px'}}) %>
        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.forgotPassword.caller()%>"><%=mw3.localize("$Send")%></div>
        </div>
         <div class="popup_btn_line_login_r">
            <span onclick="<%=methods.goLogin.caller()%>"><%=mw3.localize("$Login")%></span>  
        </div>
        <div style="clear:both"></div>
        
<%
		}else if('aftersignup'){
%>
		
		<label><%=mw3.localize("$ConfirmEmail")%></label>
        <%=fields.email.here({htmlAttrChild: {class:'textinput textinputreadonly', readonly: 'readonly'}})%>
		        
        <div class="popup_btn_line_login_l">
            <div id="method_<%=objectId%>_login" class="popup_btn_blue" onclick="<%=methods.signUp.caller()%>"><%=mw3.localize("$ReSend")%></div>
        </div>
        <div style="clear:both"></div>

<%
		}
%>
    </div>

    <div class="popup_bottom"></div>
</div>