<ul>
	<li><a href="#" onClick="<%=methods.goSns.caller()%>" title="<%=mw3.localize("$move.to.sns")%>"><img src="images/waveStyle/app_social.png" /></a></li>
	<li><a href="#" onClick="" title="<%=mw3.localize("$move.to.process")%>"><img style="opacity: 50; -moz-opacity: 50; -khtml-opacity: 50; filter:alpha(opacity=50);" src="images/waveStyle/app_process.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goMarketplace.caller()%>" title="<%=mw3.localize("$move.to.appStore")%>"><img src="images/waveStyle/app_market.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goSelfServicePortal.caller()%>" title="<%=mw3.localize("$move.to.ssp")%>"><img src="images/waveStyle/app_selfService.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goIDE.caller()%>" title="<%=mw3.localize("$move.to.ide")%>"><img src="images/waveStyle/app_ide.png" /></a></li>
</ul>