<%
if(value) {

%>
<div class="inLineSpan">

	<div style="float:left;">
	<%
	var type = value.type;
	
	if(type != null){
	%>	
		<ul>
			<li>
				<span><%=value.name%>: </span>
				<% if(type == 'file'){ %>
					<span><div style="width:auto;"><%=fields.file.here()%></div></span>
					<span>
						<a id="wBtn" href="#" onClick="#"><span>다운로드</span></a>
						<a id="wBtn" href="#" onClick="#"><span>업로드</span></a>
					</span>
				<% }else if(type == 'string'){ %>
					<span><%=fields.value.here({when:'edit'})%></span>
					<span><a id="wBtn" href="#" onClick="#"><span>수정</span></a></span>
				<% }else if(type == 'process'){ %>
					<span>	프로세스는 어떻게 ? </span>
				 	
				<% }else if(type == 'img'){ %>
					<span><div style="width:auto;"><%=fields.file.here()%></div></span>
					<span>
						<a id="wBtn" href="#" onClick="#"><span>다운로드</span></a>
						<a id="wBtn" href="#" onClick="#"><span>업로드</span></a>
					</span>
				<% } %>
			</li>
		</ul>
	</div>
	<%
	}
	%>	
			
	<% if(mw3.when == 'view'){ %>
		<div style="float:right;">
			<span style="display:inline-block; cursor:pointer" onCLick="mw3.getFaceHelper('<%=objectId%>').removeProperty()"><img src="images/activity_status/i_status_CANCELLED.png" title="remove"></span>
		</div>
	<% } %>

	<div class="clear"></div>
</div>


<%
}

%>