<div style="bottom: 50px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
	<span>Select at item to open:</span>
	
	<%=fields.keyword.here({when: 'edit'})%>
	
	<span>Matching items:</span>
	
	<div>
		<select name="items_<%=objectId%>" id="items_<%=objectId%>" size="15" style="width: 100%" multiple="multiple">
		</select>
	</div>
	
	<input type="text" class="item_info" style="width: 100%" />
</div>

<div style="height: 50px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">
	<div class="positionRight">
		<%=methods.open.here()%>
		<%=methods.cancel.here()%>
	</div>
	<div class="clear"></div>
</div>


