<%

	if(value != null && typeof value != 'undefined'){
		if(mw3.how == 'inList'){
%>

<dl class="mp_lst_type2">
	<dt class="tit">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<strong><%=value.appName%></strong>
		</a>
	</dt>
	<dd class="photo">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 66px; height: 66px'}})%>
		</a> 
	</dd>
	<dd class="disc">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<span>
				<%=value.simpleOverview.substring(0,200)%><%=value.simpleOverview.length > 200?'...':''%>
			</span>
        </a>
	</dd>
    <dd class="make_by">product by <%=value.company.comName%>.</dd>
</dl>

<%
		}else if(mw3.how == 'detail'){
%>

        <div> 
            <ul class="mp_sub_lst_type">
                <li>
                    <div class="mp_sub_pic">
                    	<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 150px; height: 150px; border:1px solid #ccc; background:url(images/waveStyle/bg_thmb.gif) center no-repeat;'}})%>
                    </div>
                    <% if(!value.companyUsed){ %>
                    <div class="mp_sub_buybtn"><img  alt="" src="images/marketPlace/buyBtn.jpg" onClick="<%=methods.addApp.caller()%>"></div>
                    <% }%>
                    <div class="mp_sub_rightBox">
                    	<dl class="mp_sub_dsc1">
                        	<dt><%=value.appName%></dt>
                            <dd><span class="mp_sub_tit">vendor : </span><span class="mp_sub_rst"><%=value.company.comName%></span></dd>
                        </dl>                    
                    </div>
                    <div style="clear:both;"></div>
                    <div class="mp_sub_dsc2"><%=value.simpleOverview%></div>
                </li>
            </ul>
        </div>
        <div style="margin:0 10px">
	        <div class="workItem_tabs">
				 <ul>
					<li class="current">
						<a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').showDescription()"><span>Description</span></a>
					</li>
				 </ul>
			</div>
			<div class="clear"></div>
			
			<div id="tab_Description">
				<%=value.fullOverview%>
			</div>
		</div>

<%
		}else{
%>
	
		<div class="fixed_img_row">
			<ul>	
				<li> 
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
	                	<tr>
		                    <td class="appFirstTd"><span class="thumb"> <%=fields.logoFile.here({when:'image'})%> </span> </td>
		                    <td class="appTitleTd">
		                    	<div class="titleLine"><%=mw3.localize("$App.Name") %> : <strong><%=value.appName%></strong></div>
		                    	<div class="simpleOverview"><%=mw3.localize("$App.Overview.Simple") %> : <%=value.simpleOverview%></div>
								<div class="clear"></div>
		                        <div class="vendor"> product by <%=value.company.comName%></div>
		                    </td>
		                    <td class="appStatusTd"></td>
		                    <td class="appBtnTd">
<%
			if(mw3.when == 'marketplaceHome' || mw3.when == 'searchForSearchBox' || mw3.when == 'searchForCategory'){
				if(value.status == 'Published') {
%>
								<div class="btnbadge" style="float:none"><a onClick="<%=methods.addApp.caller()%>"> Add it now </a></div>
<%
				}else if(value.status == 'Approved'){
%>
								<div class="btnbadge" style="float:none"><a onClick="<%=methods.readyPublished.caller()%>"> <%=mw3.localize("$ReadyForPublish")%> </a></div>								
<%
				}						
			}else if(mw3.when == 'myVendor'){
				if(value.status == 'Approved'){
%>
								<div class="btnbadge" style="float:none"><a onClick="<%=methods.readyPublished.caller()%>"> <%=mw3.localize("$ReadyForPublish")%> </a></div>
<%
				}else if(value.status == 'Published'){
%>								
								<div class="btnbadge" style="float:none"><a onClick="<%=methods.readyApproved.caller()%>"> <%=mw3.localize("$ReadyForApproved")%> </a></div>					
<%
				}else if(value.status == 'Request'){					
%>
								<div class="btnbadge" style="float:none"> <%=mw3.localize("$ReadyForManagerRequset")%> </div>						
<%
				}		
%>	
				<% if(value.useIaas){ %>
					<div class="btnbadge" style="float:none"><a onClick="<%=methods.serverManage.caller()%>"> <%=mw3.localize("$project.servers.prod.manage")%> </a></div>	
				<% } %>
				<div class="btnbadge" style="float:none"><a onClick="<%=methods.edit.caller()%>"> <%=mw3.localize("$Edit")%> </a></div>						

<%
			}					
%>
							</td>
	                	</tr>
	            	</table>
				</li>
			</ul>
		</div>		
	
<%		
		}
	}
%>