<%
	var ejsPath = 'dwr/metaworks/' + objectTypeName.split('.').join('/') + 'Preview.ejs';	
	var displayName = (value.displayName == null || value.displayName =='') ? '$form.field.' + objectMetadata.displayName : value.displayName;	
%>

<div class="hover_div" style="display:none">
	<span>
		<img src="images/waveStyle/navigate-up.png" onclick="<%=methods.up.caller()%>" />
		<img src="images/waveStyle/navigate-down.png" onclick="<%=methods.down.caller()%>" />
	
		<img src="images/waveStyle/copy.png" onclick="<%=methods.copy.caller()%>" />
		<img src="images/waveStyle/delete.png" onclick="<%=methods.remove.caller()%>" />
	</span>
</div>

<label class="fb_desc" id=""><%=mw3.localize(displayName)%></label>

<div>
	<%=include(ejsPath)%>
</div>
