<%
	if(value){
		if(mw3.when == "selected"){
%>
	<%=value.selected%>
<%
		}else if(mw3.when == "selectedText"){
%>	
	<%=value.selectedText%>
<%	
		} else if(mw3.when == "new" || mw3.when == "edit") {
%>

	<select id="selection_<%=objectId%>">
<%	
			for(var i in value.optionValues){
				if(value.selected == value.optionValues[i]) {
%>
		<option value="<%=value.optionValues[i]%>" selected><%=value.optionNames[i]%></option>
<%
				} else {
%>
		<option value="<%=value.optionValues[i]%>"><%=value.optionNames[i]%></option>
<%
				}
			}
%>
	</select>
<%
		} else {
			for(var i in value.optionValues){
				if(value.selected == value.optionValues[i]) {
%>
	<%=value.optionNames[i]%>
<%
				}
			}
		}
	}
%>
