<%
	if(value){
%>	

	<% if(mw3.how == 'comitter') { %>
		<div style="border-bottom:1px solid #ccc; padding:5px;">
			<%=fields.checked.here({when: 'edit'})%>
			<%=value.friendId%>
			<div class="clear"></div>
		</div>
		
	<% } else {%>
		<%=fields.friend.here()%>
		<% if(value.metaworksContext.how == 'follower'){ %>
		<div style="clear:left;"></div>
		<% } %>
<%
		if(mw3.where && mw3.where =='roleUserPicker') {
%>
		<%=methods.roleUserPickUp.here()%>
<%
		} else {
%>
		<%=methods.pickUp.here()%>
<%
		}
%>
<% }
	}
%>
