<%
if(value){
	var portrait = '';
		
	if(value.empCode)
		portrait = 'portrait/' + value.empCode + '.thumnail';
	
	if(mw3.where == 'admin'){
		if(mw3.how == 'tree'){
		
			if(mw3.when == 'view') {
			%>
				<a onClick="<%=methods.showDetial.caller() %>" ><%=fields.empName.here() %>
				<%=fields.jikName.here() %></a>
			<%
			} else if(mw3.when == 'new') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			} else if(mw3.when == 'edit') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			}
		
		} else if(mw3.how == 'detail') {
			if(mw3.when == 'view') {
			%>
				<img id="userPicture_<%=objectId %>" src="<%=portrait%>" width="30" height="30">
				<%=fields.imageFile.here() %>
				<%=mw3.localize("$Id")%> :<%=value.empCode %>
				<%=mw3.localize("$Name")%> : <%=fields.empName.here() %>
				<%=mw3.localize("$Dept")%> : <%=fields.partName.here() %>(<%=value.partCode %>)
				<%=mw3.localize("$Position")%> : <%=fields.jikName.here() %>
				<%=mw3.localize("$Phone")%> : <%=fields.mobileNo.here() %>
				<%=mw3.localize("$Email")%> : <%=fields.email.here() %>
				<%=mw3.localize("$Language")%> : <%=fields.locale.here() %>
			<%
			} else if(mw3.when == 'new') {
			%>	
				<ul id="green_and_orange_step_menu">
				    <!-- first inprogress -> lastinprogress 로 수정 나중에 다시 first로 변경-->
					<li class="lastinprogress">STEP1<em>Choose language</em></li>
					<!-- 임시 주석 
					<li class="last">STEP2<em>Basic Informationy</em><span></span></li>
				    -->
				    
				    <!--
				    <li>STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				    -->
				</ul>		
				<ul>
					<li class="checkStyle">							
						<div class="infoSub">Language :<%=fields.locale.here({when:'new'}) %></div>							
						<div style="clear"></div>							
			  		</li> 
			  		
			  		
			 	</ul>
			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.subscribeStep1.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>				 	
			<%
			} else if(mw3.when == 'new2') {
			%>
				<ul id="green_and_orange_step_menu">
				    <!-- 여기 STEP1을 STEP2로 바꿈 나중에 수정. 그리고 li class 이름 frist fdone -> lastinprogress 로 수정-->
					<li class="lastinprogress">STEP2<em>Choose language</em></li>
					
					<!-- 임시 주석
					<li  class="lastinprogress last">STEP2<em>Basic Informationy</em><span></span></li>
					-->
				    
				    <!--
				    <li class="inprogress">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				    -->
				</ul>
				<div class="form_table">
					<table border="1" cellspacing="0" summary="">
						<tbody>
						<!--tr>	
							<th scope="row"><%=mw3.localize("$Id")%></th>
							<td>
								<div class="item">
									<span style="float:left;"><%=fields.empCode.here({when:'new'}) %></span><a style="margin-left:10px;" id="wBtn" href="#" onClick="<%=methods.checkEmpCode.caller()%>"><span>Check ID</span></a>
									<span style="float:left;" id="checkEmpCode_<%=objectId%>"></span>
								</div>
							</td>
						</tr
						<tr>
							<th scope="row"><%=mw3.localize("$Email")%>(<%=mw3.localize("$Id")%>)</th>
							<td>
								<div class="item">
									<span style="float:left;"><%=fields.email.here({when:'new'}) %></span><a style="margin-left:10px;" id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').checkId()"><span>Check ID</span></a>
									<span style="float:left; color:red; padding-left:10px;" id="checkId_<%=objectId%>"></span>
								</div>
							</td>
						</tr-->
						<tr>
							<th scope="row"><%=mw3.localize("$Name")%></th>
							<td>
								<div class="item">
									<%=fields.empName.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$CompanyName")%></th>
							<td>
								<div class="item">
									<%=fields.globalCom.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						
						<!-- 가짜 가짜 지워 지워!!!! -->
						<tr>
                            <th scope="row">대표자</th>
                            <td>
                                <div class="item">
                                    <%=fields.ceoName.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">사업분야</th>
                            <td>
                                <div class="item">
                                    <%=fields.bPart.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">주소</th>
                            <td>
                                <div class="item">
                                    <%=fields.address.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">전화번호</th>
                            <td>
                                <div class="item">
                                    <%=fields.mobileNo.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">회사 설립 년도</th>
                            <td>
                                <div class="item">
                                    <%=fields.foundation.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">해당부문 종사기간</th>
                            <td>
                                <div class="item">
                                    <%=fields.jongsa.here({when:'new'}) %>
                                </div>
                            </td>
                        </tr>
                        
                        <!-- 여기까지 --> 
						<tr>
							<th scope="row"><%=mw3.localize("$Password")%></th>
							<td>
								<div class="item">
									<%=fields.password.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Re-Password")%></th>
							<td>
								<div class="item">
									<%=fields.confirmPassword.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.subscribeStep2.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>		
				
			<!-- 여기도 야메임!! 제발 알아서 지워!! -->		
		 	<%
            } else if(mw3.when == 'yame1') { %>
            
                <ul id="green_and_orange_step_menu">
                    <li  class="lastinprogress last">STEP3<em>Service</em><span></span></li>
                    
                </ul>
                <div> <B>서비스</B> </div>
                <%for(var i = 0; i < 2; i++) {%>
                <div class="form_table">
                    <table border="1" cellspacing="0" summary="">
                        <tbody>
                    <tr>
                        <th scope="row">서비스 형태</th>
                        <td>
                            <div class="item">
                                <%=fields.serviceHyungtae.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">제품명</th>
                        <td>
                            <div class="item">
                                <%=fields.productName.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">프로젝트실적</th>
                        <td>
                            <div class="item">
                                <%=fields.projectSiljeok.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <p>
                    <p>
                    <p>
                    
                <% } %>
                </tbody>
                </table>
                <div id="btnline">
                    <ul>    
                        <li><a id="wBtn" href="#" onClick="<%=methods.yame1.caller()%>"><span>Next</span></a></li>
                    </ul>
                </div>   
                
            <%
            } else if(mw3.when == 'yame2') { %>
            
                <ul id="green_and_orange_step_menu">
                    <li  class="lastinprogress last">STEP4<em>Service</em><span></span></li>
                    
                </ul>
                <div> <B>특허/프로그램 출원 및 등록실적</B> </div>
                <%for(var i = 0; i < 2; i++) {%>
                <div class="form_table">
                    <table border="1" cellspacing="0" summary="">
                        <tbody>
                    <tr>
                        <th scope="row">특허 형태</th>
                        <td>
                            <div class="item">
                                <%=fields.tukher.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">특허/프로그램명</th>
                        <td>
                            <div class="item">
                                <%=fields.tukherAndProgram.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">출원/등록일</th>
                        <td>
                            <div class="item">
                                <%=fields.chulwonAndStartDate.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">출원/등록순번</th>
                        <td>
                            <div class="item">
                                <%=fields.chulwonAndStartSunbun.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">출원등록자수</th>
                        <td>
                            <div class="item">
                                <%=fields.chulwonSu.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비고</th>
                        <td>
                            <div class="item">
                                <%=fields.etc.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <p>
                    <p>
                    <p>
                    
                <% } %>
                </tbody>
                </table>
                <div id="btnline">
                    <ul>    
                        <li><a id="wBtn" href="#" onClick="<%=methods.yame2.caller()%>"><span>Next</span></a></li>
                    </ul>
                </div>   
            <%            
            } else if(mw3.when == 'yame3') { %>
            
                <ul id="green_and_orange_step_menu">
                    <li  class="lastinprogress last">STEP5<em>Service</em><span></span></li>
                    
                </ul>
                <div> <B>자가 진단</B> </div>
                <div class="form_table">
                    <table border="1" cellspacing="0" summary="">
                    <tr>
                        <th scope="row">동종업계 해외 선도기업에 비해 품질경쟁력을 가지고 있습니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.product.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">해외 정보 수집에 적극적 의지를 가지고 있습니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.info.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">적정 수준의 해외 마케팅 전문 인력을 보유하고 있습니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.markecting.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">해외바이어와 온라인 화상상담을 활용해 본 적이 있거나 계획중입니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.it.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">제품의 혁신성을 향상하기 위해 지속적인 노력을 하고 있습니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.rnd.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">해외 거래처 에이전트는 확보하고 있습니까?</th>
                        <td>
                            <div class="item">
                                <%=fields.global.here({when:'new'}) %>
                            </div>
                        </td>
                    </tr>
                    <p>
                    <p>
                    <p>
                </table>
                <div id="btnline">
                    <ul>    
                        <li><a id="wBtn" href="#" onClick="<%=methods.yame3.caller()%>"><span>Next</span></a></li>
                    </ul>
                </div>  
                 <%
                 } else if(mw3.when == 'yame4') { %>
            
                 <ul id="green_and_orange_step_menu">
                    <li  class="lastinprogress last">STEP6<em>Service</em><span></span></li>
                    
                </ul>
                <div> <B>자가 진단 결과</B> </div>
                <div style="float:left;padding-top:10px; margin-right:5px;">
                    <img src="images/waveStyle/imsi2.png"/>
                </div>
                    
                <div id="btnline">
                    <ul>    
                        <li><a id="wBtn" href="#" onClick="<%=methods.yame4.caller()%>"><span>Next</span></a></li>
                    </ul>
                </div>                        
            <!-- 여기까지 -->
			<%
			} else if(mw3.when == 'new3') {
				
			%>	
				<ul id="green_and_orange_step_menu">
				<!--
					<li class="frist fdone">STEP1<em>Choose language</em></li>
					<li class="last lastinprogress">STEP2<em>Basic Informationy</em><span></span></li>
			    -->				    
				    
				    <!-- 임시 주석 처리 
				    <li class="done">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last lastinprogress">STEP3<em>Preferences</em><span></span></li>
				    -->
				    <li class="last lastinprogress">STEP7<em>Complete</em><span></span></li>
				</ul>		
			 	
				<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.saveEmployeeInfo.caller()%>"><span><%=mw3.localize('$Finish')%></span></a></li>
					</ul>
				</div>			 	
			<%
			} else if(mw3.when == 'edit') {
			%>
				<%=methods.saveEmployeeInfo.here() %>
			<%
			}
		}
		
	} else if(mw3.where == 'navigator'){
	%>
	
	<a onClick="<%=methods.loadOrganization.caller() %>"class="iemployee"><%=value.empName %> <%=(value.jikName ? "(" + value.jikName + ")":"") %></a>
	
	<%
	} else if(mw3.where == 'navigatorIDE'){
	%>
	
	<span class="iemployee"><%=value.empName %> <%=(value.jikName ? "(" + value.jikName + ")":"") %></span>
	
	<%
	} else if(mw3.where == 'modifyEmployeeInfo') {
	%>
	<%
	} else if(mw3.where == 'instanceList') {
	%>
	<img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="30" height="30" title="<%=value.empName %>">
	<%
	} else if(mw3.where == 'inSession') {
	%>
	<!--
	<a onClick="<%=methods.showDetail.caller() %>" >
	-->
		<b><%=value.empName %></b> (<%=value.empCode %>)
	<!--
	</a>
	-->
	<%
	} else if(mw3.where == 'inSessionInfo') {
	%>
	<b><%=value.empName %></b> (<%=value.empCode %>)
	<%
	} else if(mw3.where == 'inWorkItem') {
	%>
	<img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="30" height="30"><%=fields.empCode.here() %>
	<%
	} else if(mw3.where == 'inDetailWindow' || mw3.where == 'inDetailPopup') {
	%>
	
	<ul>
		<li>
			<dl class="lst_type2">
				<dd class="photo2">
					<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="104" height="104"></div>
										
					
				</dd>
				<dd class="tit">
					<div id="popupInfoNameWih"><b><%=value.empName %></b></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Id")%> :</span><span><%=value.empCode %></span></div>
<%
		if(mw3.when == 'edit'){
%>					
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Name")%> :</span><span><%=fields.empName.here()%></span></div>		
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Password")%> : </span><span><%=fields.password.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Re-Password")%> : </span><span><%=fields.confirmPassword.here() %></span></div>								
<%		
		}
%>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Position")%> : </span><span><%=fields.jikName.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Phone")%> : </span><span><%=fields.mobileNo.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Email")%> : </span><span><%=fields.email.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$EmailNoti")%> : </span><span><%=fields.mailNoti.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$FacebookID")%> : </span><span><%=fields.facebookId.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Language")%> : </span><span><%=fields.locale.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$PreferUX")%> : </span><span><%=fields.preferUX.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$PreferMob")%> : </span><span><%=fields.preferMob.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Portrait")%> : </span><span><%=fields.imageFile.here() %></span></div>
				</dd>

   			</dl>
  		</li>    
 	</ul>

	<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
		<ul>	
			<!--
			<li><a id="wBtn" href="#" onClick="<%=methods.logout.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Logout")%></span></a></li>	
			<li><a id="wBtn" href="#" onClick="<%=methods.unsubscribe.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Unsubscribe")%></span></a></li>	
			-->
			<% if(mw3.when == 'view') {%>
			<li><a id="wBtn" href="#" onClick="<%=methods.editEmployeeInfo.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Edit")%></span></a></li>	
			<% }else if(mw3.when == 'edit') {%>
			<li><a id="wBtn" href="#" onClick="<%=methods.saveEmployeeInfo.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Save")%></span></a></li>
			<%}%>
		</ul>
	</div>
	
	
	<%
	} else if(mw3.where == 'pickerCaller') {
		if(value.empCode) {
		%>
		<%=value.empName %>(<%=value.empCode %>)
		<%
		}
	%>
	
	<a id="wBtn" href="#" onClick="<%=methods.openPicker.caller() %>"><span>openPicker</span></a>

	<%
	} else if(mw3.where == 'picker') {
	%>
	<a onClick="<%=methods.pickup.caller() %>" class="iemployee"><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addContact') {
	%>
	<a onClick="<%=methods.addContact.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addTopic') {
	%>
	
	<a onClick="<%=methods.addTopicUser.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'user_menu_option') {
	
	%>
		<div class="info_top_show_detail" onClick="<%=methods.showDetail.caller() %>" style="cursor:pointer;"><img src="images/waveStyle/i_memo.png"><%=mw3.localize('$Profile')%></div>
		<div class="info_top_show_detail" onClick="<%=methods.logout.caller() %>" style="border:none; cursor:pointer;"><img src="images/waveStyle/i_logout.png"><%=mw3.localize('$Logout')%></div>
	<%
	} else {
	%>
	IEmployee Object where context value : <%=mw3.where %> <%=fields.empCode.here() %>
	<%
	}
}
%>