<%
if(value){
	var portrait = '';
		
	if(value.userId)
		portrait = 'portrait/' + value.userId + '.thumnail';
%>	
	<ul>
		<li>
			<dl class="lst_type2">
				<dd class="photo2">
					<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="104" height="104"></div>
				</dd>
				<dd class="tit">
					<div>
						<div>시스템</div>
						<div style="float:left"><%=fields.notiEmail.here() %></div>
						<div style="float:left"><%=mw3.localize("$NotiEmail")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.checkLogin.here() %></div>
						<div style="float:left"><%=mw3.localize("$CheckLogin")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.notiAdvice.here() %></div>
						<div style="float:left"><%=mw3.localize("$NotiAdvice")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div>주제</div>
						<div style="float:left"><%=fields.modiTopic.here() %></div>
						<div style="float:left"><%=mw3.localize("$ModiTopic")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.writeTopic.here() %></div>
						<div style="float:left"><%=mw3.localize("$WriteTopic")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.inviteTopic.here() %></div>
						<div style="float:left"><%=mw3.localize("$InviteTopic")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div>조직</div>
						<div style="float:left"><%=fields.modiOrgan.here() %></div>
						<div style="float:left"><%=mw3.localize("$ModiOrgan")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.writeOrgan.here() %></div>
						<div style="float:left"><%=mw3.localize("$WriteOrgan")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.inviteOrgan.here() %></div>
						<div style="float:left"><%=mw3.localize("$InviteOrgan")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div>회원</div>
						<div style="float:left"><%=fields.modiUser.here() %></div>
						<div style="float:left"><%=mw3.localize("$ModiUser")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.addFriend.here() %></div>
						<div style="float:left"><%=mw3.localize("$AddFriend")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div>댓글</div>
						<div style="float:left"><%=fields.writeBookmark.here() %></div>
						<div style="float:left"><%=mw3.localize("$WriteBookmark")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.writeInstance.here() %></div>
						<div style="float:left"><%=mw3.localize("$WriteInstance")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div>일정</div>
						<div style="float:left"><%=fields.beforehandNoti.here() %></div>
						<div style="float:left"><%=mw3.localize("$BeforehandNoti")%></div>
						<div class="clear"></div>
					</div>
					<div>
						<div style="float:left"><%=fields.notiTime.here() %></div>
						<div style="float:left"><%=mw3.localize("$NotiTime")%></div>
						<div style="float:left"><%=fields.selectTime.here() %></div>
						<div class="clear"></div>
					</div>
					
				</dd>
   			</dl>
   			<div style="float:right"><%=methods.save.here()%></div>
  		</li>    
 	</ul>
 <%
 }
 %>