<% if(value){ %>
	<table>
		<tr align="center">
			<td>
			■ 진출국가 : 
			</td>
			<td>
			 <%=fields.businessArea.here({when:'new'})%> 
			</td>			
			<td>
			■ 업종 :
			</td>
			<td>
			<%=fields.region.here({when:'new'})%> 
			</td>			
			<td style="margin-top:2px;">
			<a id="wBtn" href="#" onClick="<%=methods.choose.caller()%>"><span><%=mw3.localize("$choose")%></span></a>
			</td>
			<td>
			■ 검색 :
			</td>
			<td>
			<input type="text">
			</td>
			<td>
			<a id="wBtn" href="#" onClick="<%=methods.choose.caller()%>"><span><%=mw3.localize("검색")%></span></a>
			</td>
		</tr>
		
	</table>
	

<% } %>

