<%
	if(value){
%>
    <div>
    
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
				    <colgroup>
				    <col width="110">
				    <col>
				    <col width="80">
				    <col>
				    </colgroup>
				    <tbody>
						<tr>
							<th width="25%">진출국가</th>
							<td width="25%"><%=fields.entered_con.here()%></td>
							<th width="25%">진출지역</th>
							<td width="25%"><%=fields.entered_reg.here()%></td>
						</tr>
						<tr>
							<th width="25%" colspan="1">기업명</th>
							<td width="75%" colspan="3"><%=fields.comp_name.here()%></td>
						</tr>
						<tr>
							<th width="25%" colspan="1">주소</th>
							<td width="75%" colspan="3"> <%=fields.mcomp_addr.here()%></td>
						</tr>
						<tr>
							<th width="25%">전화번호</th>
							<td width="25%"><%=fields.tel.here()%> </td>
							<th width="25%">팩스</th>
							<td width="25%"><%=fields.fax.here()%></td>
						</tr>
						<tr>
							<th width="25%">E-mail</th>
							<td width="25%"> <%=fields.email.here()%></td>
							<th width="25%">홈페이지</th>
							<td width="25%"> <%=fields.homepage.here()%></td>
						</tr>
						<tr>
							<th width="25%" colspan="1">해외대표</th>
							<td width="75%" colspan="3"> <%=fields.oversea_rep.here()%></td>
						</tr>
						<tr>
							<th width="25%">진출형태</th>
							<td width="25%"><%=fields.entry_form.here()%> </td>
							<th width="25%">진출년도</th>
							<td width="25%"><%=fields.entered_year.here()%> </td>
						</tr>
						<tr>
							<th width="25%">업종</th>
							<td width="25%"><%=fields.sector.here()%> </td>
							<th width="25%">취급분야</th>
							<td width="25%"><%=fields.areas.here()%></td>
						</tr>	
						<tr>
							<th width="25%" colspan="1">모기업명</th>
							<td width="75%" colspan="3"><%=fields.mcomp_name.here()%></td>
						</tr>
						<tr>
							<th width="25%" colspan="1">모기업 전화번호</th>
							<td width="75%" colspan="3"> <%=fields.mcomp_tel.here()%></td>
						</tr>																																									
				</tbody>
			    
		</table>
        
    </div>
		
<% 
 	}
 %>