<%
if(value){
%>
 <table class="form_table2">

    <tr>
        <td width="5%"><%=value.number ? fields.number.here() : "·"%></td>
        <td width="40%"><%=value.projectname ? fields.projectname.here() : "·"%></td>
        <td width="25%"><%=value.industrypart ? fields.industrypart.here() : "·"%></td>
        <td width="10%"><%=value.servicepart ? fields.servicepart.here() : "·"%></td>
        <td width="10%"><%=value.status ? fields.status.here() : "·"%></td>
        <td width="10%"><%=value.regdate ? fields.regdate.here() : "·"%></td>
        
    </tr>
</table>


<%
}
%>