<%

var icon = "default";

if (value.objType == "folder"){
	icon = "folder_c.png";	
} else if (value.objType == "form"){
	icon = "form.png";	
} else if (value.objType == "process"){
	icon = "process.gif";	
} else if (value.objType == "class"){
	icon = "bean.png";	
}

%>


<%
if(value!=null){

  if(value.isFolder){
  
  
  	if(value.childs){
%>

<span style="background:url(images/waveStyle/folder_o.png) no-repeat 5px 0px;">
	<a onclick="<%=methods.drillDown.caller()%>"><b><%=value.name%></b></a>
</span>
<ul style="padding:5px 0 15px 25px;"><li><%=fields.childs.here({when: mw3.when})%></li></ul>

<%
 
	}else{%>



<span style="background:url(images/waveStyle/<%=icon%>) no-repeat 5px 0px;">
	<a onclick="<%=methods.drillDown.caller()%>"><%=value.name%></a>
</span>


<%	}


	if(mw3.where=="design"){
%>
	<span style="display:inline-block;">[<a onclick="<%=methods.newChild.caller()%>">add child</a>]</span>
<%
  	}



  }else{
  
  	if(mw3.where=="design"){
  
%>
	<span style="background:url(images/waveStyle/<%=icon%>) no-repeat 5px 0px;">
		<a onclick="<%=methods.design.caller()%>"><%=value.name%></a>
	</span>
<%
  	}else{
  	  
%>
	<span style="background:url(images/waveStyle/<%=icon%>) no-repeat 5px 0px;">
		<a onclick="<%=methods.initiate.caller()%>"><%=value.name%></a>
	</span>
<%
  	}
  }
}
%>

