<table class="form_table2">

    <tr>
        <td width="5%"><B><%=mw3.localize("$number")%></B></td>
        <td width="40%"><B><%=mw3.localize("$projectname")%></B></td>
        <td width="25%"><B><%=mw3.localize("$industrypart")%></B></td>
        <td width="10%"><B><%=mw3.localize("$servicepart")%></B></td>
        <td width="10%"><B><%=mw3.localize("$infoStatus")%></B></td>
        <td width="10%"><B><%=mw3.localize("$regdate")%></B></td>
        
        
    </tr>
  </table>  
<%=fields.orderInformation.here()%> 