<% if(value) { %>
    
    <% if(mw3.when == 'view' || mw3.when == 'select_view') { %>
    <div>
        <table class="tbl_type_brw" cellspacing="0"  border="1" >
             <tbody>
                <tr>
                    <th width="5%"><B><%=mw3.localize("$number")%></B></th>
                    <th width="35%"><B><%=mw3.localize("$projectname")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$industrypart")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$servicepart")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$infoStatus")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$regdate")%></B></th>
                </tr>
             </tbody>
        </table>
    </div>   
    <% } else { %>
    <div>
        <table class="tbl_type_brw" cellspacing="0"  border="1">
            <tbody>
                <tr>
                    <th width="5%"><B><%=mw3.localize("$number")%></B></th>
                    <th width="10%"><B><%=mw3.localize("$RegionName")%></B></th>
                    <th width="30%"><B><%=mw3.localize("$projectname")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$industrypart")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$servicepart")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$infoStatus")%></B></th>
                    <th width="15%"><B><%=mw3.localize("$regdate")%></B></th>
                </tr>
            </tbody>
        </table>
    </div>
    <% } %>
    
    <%=fields.orderInformationList.here()%>
    <%=fields.selectPage.here()%>
    
<% } %>