<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=mw3.localize("$navigation.role")%></span></div>

<%
		if(value.selected){
%>
	<div class="depth2">		
		<div><%=fields.roleList.here()%></div>
		<div class="fist_menu"><a id="wBtn" href="#" onClick="<%=methods.addRole.caller()%>"><span><%=mw3.localize('$newRole')%></span></a><div class="clear"></div></div>
	</div>
	
<%
		}
	}
%>