<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=mw3.localize("$Organization")%></span></div>
<%
		if(value.selected){
%>
	<div class="depth2">		
		<div class="fist_menu"><%=fields.deptList.here()%></div>
		<div class="fist_menu"><a id="wBtn" href="#" onClick="<%=methods.addDept.caller()%>"><span><%=mw3.localize('$newOrganization')%></span></a><div class="clear"></div></div>
		<div class="fist_menu"><%=fields.deptEmployee.here()%></div>
	</div>	
<%
		}
	}
%>