<%
	if(value != null && typeof value != 'undefined'){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("$Personal")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<ul class="fist_menu">
			<li class="selected_navi"><img class="navi_icon" src="images/waveStyle/nav_newsfeed.png"><a onClick="<%=methods.loadAllICanSee.caller()%>" href="#"><%=mw3.localize("$All")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_participating.png"><a onClick="<%=methods.loadAll.caller()%>" href="#"><%=mw3.localize("$Following")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_my_to_do.png"><a onClick="<%=methods.loadInbox.caller()%>" href="#" ><%=mw3.localize("$MyToDo")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_by_me.png"><a onClick="<%=methods.loadRequest.caller()%>" href="#"><%=mw3.localize("$StartedbyMe")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_trash.png"><a onClick="<%=methods.loadStopped.caller()%>" href="#"><%=mw3.localize("$Trash")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_gantt.png"><a onClick="<%=methods.calendar.caller()%>" href="#"><%=mw3.localize("$Calendar")%></a></li>
		</ul>
	</div>
<%}else{%>
<%}%>

<%
	}
%>