
<div id="navigator">
<div style="height:15px;"></div>
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	
	<!--  지역별 작업해야함 -->
	<%=fields.regionPerspective.here() %>
	<!-- 지식 마켓 작업해야함 -->
	<%=fields.knowledgeMarketPerspective.here() %>
	<!-- 발주 정보 작업해야함 -->
	<%=fields.orderInformationPerspective.here() %>
	<!-- pool 작업해야함 -->
	<%=fields.customsEnterprisePoolPerspective.here() %>
	<!-- 한국형 서비스 소개 작업해야함 -->
	<%=fields.publicServiceIntroducePerspective.here() %>
	
	<!-- 이 부분 uengine.properties에서 못찾아서 주석
	<%=fields.commingTodoPerspective.here() %>
	-->
	<%=fields.organizationPerspectiveDept.here() %>
	<%=fields.processPerspective.here() %>
	<%=fields.organizationPerspectiveRole.here() %>
	<%=fields.projectPerspective.here() %>
	<%=fields.appPerspective.here() %>
	<%=fields.contactPerspective.here() %>
	
</div>