<%
if(value) {
%>

<ul class="process_map2">   

    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick=""><%=value.orderInfo%></a>
    </li>
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick=""><%=value.koreaPublicService%></a>
    </li>
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick=""><%=value.exportConsulting%></a>
    </li>
    
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick=""><%=value.userFunctionImprovement%></a>
    </li>
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick="C:\Users\Ryuha\Desktop\1.png" target="_blank"><%=value.exportEnterprisePool%></a>
    </li>
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick="http://processcodi.com:9090/uengine-web/" target="_blank"><%=value.socialNetworking%></a>
    </li>
    <li>
    <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
    <a href="#" onClick=""><%=value.knolMarket%></a>
    </li>

</ul>

<%
}
%>