
<div id="navigator" class="oce_navi">
	<div style="height:15px;"></div>
	<div class="depth1 selected" onClick="<%=methods.loadOce.caller()%>">
		<%=mw3.localize("$Dashboard")%>
	</div>
	<!--
	<div class="depth1">
		<a onClick="<%=methods.loadAllICanSee.caller()%>" href="#"><%=mw3.localize("$All")%></a>
	</div>
	-->
	<%=fields.appPerspective.here() %>
	
	<!--
	<%=fields.projectPerspective.here() %>
	-->
</div>