<%
	if(value){
		if(value.iExportOISCompany && mw3.how == 'InternalCompany'){ 
		
%>
    <div>
    
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
		    <tbody>
						<tr>
							<th width="10%" scope="row">ID</th>
							<th width="60%" scope="row">기업명</th>
							<th width="15%" scope="row">자료원</th>
							<th width="15%" scope="row">등록일</th>
						</tr>
					</tbody>
		</table>
	</div>
		<%=fields.iExportOISCompany.here()%>
<%
			
		}else if(value.iExternalCompany && mw3.how == 'ExternalCompany'){
%>
	<div>
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
		    <tbody>
						<tr>
							<th width="10%" scope="row">번호</th>
							<th width="75%" scope="row">기업명</th>
							<th width="15%" scope="row">자료원</th>
						</tr>
					</tbody>
		</table>
	</div>
<%
		for (var i=0; i<value.iExternalCompany.length; i++){
%>
			<%=mw3.locateObject(value.iExternalCompany[i], value.iExternalCompany[i].__className)%>	
<%
			}
		}else if(value.iExportAgent && mw3.how == 'ExportAgent'){
%>
	<div>
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
		    <tbody>
						<tr>
							<th width="25%" scope="row">번호</th>
							<th width="50%" scope="row">성명</th>
							<th width="25%" scope="row">자료원</th>
						</tr>
					</tbody>
		</table>
	</div>
<%
		for (var i=0; i<value.iExportAgent.length; i++){
%>
			<%=mw3.locateObject(value.iExportAgent[i], value.iExportAgent[i].__className)%>	
<%
		}
	}
}
%>	


