<%
	if(value){
%>
    <div>
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
				    <colgroup>
				    <col width="110">
				    <col>
				    <col width="80">
				    <col>
				    </colgroup>
				    <tbody>
						<tr>
							<th width="25%">진출국가</th>
							<td width="25%"><%=fields.region.here()%></th>
							<th width="25%">진출지역</th>
							<td width="25%"><%=fields.region.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">기업명</th>
							<td width="75%" colspan="3"><%=fields.companyName.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">성명</th>
							<td width="75%" colspan="3"> <%=fields.chairName.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">주요사업분야</th>
							<td width="75%" colspan="3"> <%=fields.businessArea.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">전화번호</th>
							<td width="75%" colspan="3"> <%=fields.tel.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">E-mail</th>
							<td width="75%" colspan="3"> <%=fields.email.here()%></th>
						</tr>																																													
					</tbody>
			    
		</table>
        
    </div>
<%
 	}
 %>		