<%
if(value){
	var portrait = '';
		
	if(value.empCode)
		portrait = 'portrait/' + value.empCode + '.thumnail';
	
	if(mw3.where == 'admin'){
		if(mw3.how == 'tree'){
		
			if(mw3.when == 'view') {
			%>
				<a onClick="<%=methods.showDetial.caller() %>" ><%=fields.empName.here() %>
				<%=fields.jikName.here() %></a>
			<%
			} else if(mw3.when == 'new') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			} else if(mw3.when == 'edit') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			}
		
		} else if(mw3.how == 'detail') {
			if(mw3.when == 'view') {
			%>
				<img id="userPicture_<%=objectId %>" src="<%=portrait%>" width="30" height="30">
				<%=fields.imageFile.here() %>
				<%=mw3.localize("$Id")%> :<%=value.empCode %>
				<%=mw3.localize("$Name")%> : <%=fields.empName.here() %>
				<%=mw3.localize("$Dept")%> : <%=fields.partName.here() %>(<%=value.partCode %>)
				<%=mw3.localize("$Position")%> : <%=fields.jikName.here() %>
				<%=mw3.localize("$Phone")%> : <%=fields.mobileNo.here() %>
				<%=mw3.localize("$Email")%> : <%=fields.email.here() %>
				<%=mw3.localize("$Language")%> : <%=fields.locale.here() %>
			<%
			} else if(mw3.when == 'new') {
			%>	
				<ul id="green_and_orange_step_menu">
					<li class="frist inprogress">STEP1<em>Choose language</em></li>
					<li class="last">STEP2<em>Basic Informationy</em><span></span></li>
				    
				    <!--
				    <li>STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				    -->
				</ul>		
				<ul>
					<li class="checkStyle">							
						<div class="infoSub">Language :<%=fields.locale.here({when:'new'}) %></div>							
						<div style="clear"></div>							
			  		</li> 
			  		
			  		
			 	</ul>
			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.subscribeStep1.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>				 	
			<%
			} else if(mw3.when == 'new2') {
			%>
				<ul id="green_and_orange_step_menu">
					<li class="frist fdone">STEP1<em>Choose language</em></li>
					<li  class="lastinprogress last">STEP2<em>Basic Informationy</em><span></span></li>
				    
				    <!--
				    <li class="inprogress">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				    -->
				</ul>
				<div class="form_table">
					<table border="1" cellspacing="0" summary="">
						<tbody>
						<!--tr>	
							<th scope="row"><%=mw3.localize("$Id")%></th>
							<td>
								<div class="item">
									<span style="float:left;"><%=fields.empCode.here({when:'new'}) %></span><a style="margin-left:10px;" id="wBtn" href="#" onClick="<%=methods.checkEmpCode.caller()%>"><span>Check ID</span></a>
									<span style="float:left;" id="checkEmpCode_<%=objectId%>"></span>
								</div>
							</td>
						</tr
						<tr>
							<th scope="row"><%=mw3.localize("$Email")%>(<%=mw3.localize("$Id")%>)</th>
							<td>
								<div class="item">
									<span style="float:left;"><%=fields.email.here({when:'new'}) %></span><a style="margin-left:10px;" id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').checkId()"><span>Check ID</span></a>
									<span style="float:left; color:red; padding-left:10px;" id="checkId_<%=objectId%>"></span>
								</div>
							</td>
						</tr-->
						<tr>
							<th scope="row"><%=mw3.localize("$Name")%></th>
							<td>
								<div class="item">
									<%=fields.empName.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$CompanyName")%></th>
							<td>
								<div class="item">
									<%=fields.globalCom.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Password")%></th>
							<td>
								<div class="item">
									<%=fields.password.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Re-Password")%></th>
							<td>
								<div class="item">
									<%=fields.confirmPassword.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.subscribeStep2.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>				
		 	
			<%
			} else if(mw3.when == 'new3') {
				
			%>	
				<ul id="green_and_orange_step_menu">
				<!--
					<li class="frist fdone">STEP1<em>Choose language</em></li>
					<li class="last lastinprogress">STEP2<em>Basic Informationy</em><span></span></li>
			    -->				    
				    
				    <li class="done">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last lastinprogress">STEP3<em>Preferences</em><span></span></li>
				    
				</ul>		
			 	
				<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
					<ul>	
						<li><a id="wBtn" href="#" onClick="<%=methods.saveEmployeeInfo.caller()%>"><span><%=mw3.localize('$Finish')%></span></a></li>
					</ul>
				</div>			 	
			<%
			} else if(mw3.when == 'edit') {
			%>
				<%=methods.saveEmployeeInfo.here() %>
			<%
			}
		}
		
	} else if(mw3.where == 'navigator'){
	%>
	
	<a onClick="<%=methods.loadOrganization.caller() %>"class="iemployee"><%=value.empName %> <%=(value.jikName ? "(" + value.jikName + ")":"") %></a>
	
	<%
	} else if(mw3.where == 'navigatorIDE'){
	%>
	
	<span class="iemployee"><%=value.empName %> <%=(value.jikName ? "(" + value.jikName + ")":"") %></span>
	
	<%
	} else if(mw3.where == 'modifyEmployeeInfo') {
	%>
	<%
	} else if(mw3.where == 'instanceList') {
	%>
	<img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="30" height="30" title="<%=value.empName %>">
	<%
	} else if(mw3.where == 'inSession') {
	%>
	<!--
	<a onClick="<%=methods.showDetail.caller() %>" >
	-->
		<b><%=value.empName %></b> (<%=value.empCode %>)
	<!--
	</a>
	-->
	<%
	} else if(mw3.where == 'inSessionInfo') {
	%>
	<b><%=value.empName %></b> (<%=value.empCode %>)
	<%
	} else if(mw3.where == 'inWorkItem') {
	%>
	<img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="30" height="30"><%=fields.empCode.here() %>
	<%
	} else if(mw3.where == 'inDetailWindow' || mw3.where == 'inDetailPopup') {
	%>
	
	<ul>
		<li>
			<dl class="lst_type2">
				<dd class="photo2">
					<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" src="<%=portrait %>" width="104" height="104"></div>
										
					
				</dd>
				<dd class="tit">
					<div id="popupInfoNameWih"><b><%=value.empName %></b></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Id")%> :</span><span><%=value.empCode %></span></div>
<%
		if(mw3.when == 'edit'){
%>					
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Name")%> :</span><span><%=fields.empName.here()%></span></div>		
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Password")%> : </span><span><%=fields.password.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Re-Password")%> : </span><span><%=fields.confirmPassword.here() %></span></div>								
<%		
		}
%>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Position")%> : </span><span><%=fields.jikName.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Phone")%> : </span><span><%=fields.mobileNo.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Email")%> : </span><span><%=fields.email.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$EmailNoti")%> : </span><span><%=fields.mailNoti.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$FacebookID")%> : </span><span><%=fields.facebookId.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Language")%> : </span><span><%=fields.locale.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$PreferUX")%> : </span><span><%=fields.preferUX.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$PreferMob")%> : </span><span><%=fields.preferMob.here() %></span></div>
					<div class="infoSub"><span class="infoSubFirstSpan"><%=mw3.localize("$Portrait")%> : </span><span><%=fields.imageFile.here() %></span></div>
				</dd>

   			</dl>
  		</li>    
 	</ul>

	<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
		<ul>	
			<!--
			<li><a id="wBtn" href="#" onClick="<%=methods.logout.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Logout")%></span></a></li>	
			<li><a id="wBtn" href="#" onClick="<%=methods.unsubscribe.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Unsubscribe")%></span></a></li>	
			-->
			<% if(mw3.when == 'view') {%>
			<li><a id="wBtn" href="#" onClick="<%=methods.editEmployeeInfo.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Edit")%></span></a></li>	
			<% }else if(mw3.when == 'edit') {%>
			<li><a id="wBtn" href="#" onClick="<%=methods.saveEmployeeInfo.caller()%>" tabIndex="-1"><span><%=mw3.localize("$Save")%></span></a></li>
			<%}%>
		</ul>
	</div>
	
	
	<%
	} else if(mw3.where == 'pickerCaller') {
		if(value.empCode) {
		%>
		<%=value.empName %>(<%=value.empCode %>)
		<%
		}
	%>
	
	<a id="wBtn" href="#" onClick="<%=methods.openPicker.caller() %>"><span>openPicker</span></a>

	<%
	} else if(mw3.where == 'picker') {
	%>
	<a onClick="<%=methods.pickup.caller() %>" class="iemployee"><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addContact') {
	%>
	<a onClick="<%=methods.addContact.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addTopic') {
	%>
	
	<a onClick="<%=methods.addTopicUser.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'user_menu_option') {
	
	%>
		<div class="info_top_show_detail" onClick="<%=methods.showDetail.caller() %>" style="cursor:pointer;"><img src="images/waveStyle/i_memo.png"><%=mw3.localize('$Profile')%></div>
		<div class="info_top_show_detail" onClick="<%=methods.logout.caller() %>" style="border:none; cursor:pointer;"><img src="images/waveStyle/i_logout.png"><%=mw3.localize('$Logout')%></div>
	<%
	} else {
	%>
	IEmployee Object where context value : <%=mw3.where %> <%=fields.empCode.here() %>
	<%
	}
}
%>