

<% if(value) { %>

    <div class="form_table" style="border:solid #000 1px;">
    
        <table id="detail_<%=objectId%>" border="0" cellspacing="0" summary="">
        
            <tbody>
            
                <tr>
                    <td style="width:20%; border-right:solid #000 1px;">
                        <B>공공서비스 명</B>
                    </td>
                    <td width="80%">
                         디지털 예산 회계 시스템 (dBrain)
                    </td>
                </tr>
                
                <tr>
                   <td style="width:20%; border-right:solid #000 1px;">
                        <B>공공서비스 명</B>
                    </td>
                    <td width="80%">
                         디지털 예산 회계 시스템 (dBrain)
                    </td>
                </tr>
                
               <tr>
	               <table cellspacing="0" >
	               		<tr>
		                   <td style="width:20%; border-right:solid #000 1px;">
		                        <B>구축기간</B>
		                    </td>
		                    <td width="30%">
		                         디지털 예산 회계 시스템 (dBrain)
		                    </td>
		                   <td style="width:20%; border-right:solid #000 1px;border-left:solid #000 1px;">
		                        <B>예산</B>
		                    </td>
		                     <td width="30%">
		                         디지털 예산 회계 시스템 (dBrain)
		                    </td>
	                    </tr>
	                    <tr>
		                   <td colspan="2" style="width:10%;">
		                        <B>서비스 개요</B>
		                    </td>
		                   <td style="width:20%; border-right:solid #000 1px;border-left:solid #000 1px;">
		                        <B>예산</B>
		                    </td>
		                     <td width="30%">
		                         디지털 예산 회계 시스템 (dBrain)
		                    </td>
	                    </tr>
	                    <tr>
		                   <table cellspacing="0">
		                   		<tr>
		                   			<td width="50%" rowspan="6" style="border-right:solid #000 1px;">테스트</td>
		                   			<td width="10%" rowspan="2" style="border-right:solid #000 1px;">기대효과</td>
		                   			<td width="10%" style="border-right:solid #000 1px;">공공</td>
		                   			<td width="30%">국제지식재산원</td>
		                   		</tr>
		                   		<tr>
	                   				<td width="10%" style="border-right:solid #000 1px;">민간</td>
		                   			<td width="30%">민간중심국제지식재산원</td>
		                   		</tr>
		                   		<tr>
		                   			<td width="10%" rowspan="4" style="border-right:solid #000 1px;">담당자</td>
		                   			<td width="10%" style="border-right:solid #000 1px;">소속기관</td>
		                   			<td width="30%">국제지식재산원</td>
		                   		</tr>
		                   		<tr>
		                   			<td width="10%" style="border-right:solid #000 1px;">소속기관</td>
		                   			<td width="30%">국제지식재산원</td>
		                   		</tr>
		                   		<tr>
		                   			<td width="10%" style="border-right:solid #000 1px;">소속기관</td>
		                   			<td width="30%">국제지식재산원</td>
		                   		</tr>
		                   		<tr>
		                   			<td width="10%" style="border-right:solid #000 1px;">소속기관</td>
		                   			<td width="30%">국제지식재산원</td>
		                   		</tr>
		                   </table>
	                    </tr>
	                </table>
                </tr>
                <tr>
                	<table cellspacing="0">
	                	<tr>
							<td width="20%" rowspan="4" style="border-right:solid #000 1px;">구축이력</td>
							<td width="5%" style="border-right:solid #000 1px;">번호</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%">비고</td>
	             	   </tr>
						<tr>
							<td width="5%" style="border-right:solid #000 1px;">번호</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%">비고</td>
						</tr>
						<tr>
							<td width="5%" style="border-right:solid #000 1px;">번호</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%">비고</td>			
						</tr>       
					</table>
				</tr>  
 				 <tr>
                	<table cellspacing="0">
	                	<tr>
							<td width="20%" rowspan="4" style="border-right:solid #000 1px;">관련서비스</td>
							<td width="5%" style="border-right:solid #000 1px;">번호</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%" >비고</td>
	             	   </tr>
						<tr>
							<td width="5%" style="border-right:solid #000 1px;">1</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%" >비고</td>
						</tr>
						<tr>
							<td width="5%" style="border-right:solid #000 1px;">2</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%" >비고</td>			
						</tr>     
						<tr>
							<td width="5%" style="border-right:solid #000 1px;">3</td>
							<td width="25%" style="border-right:solid #000 1px;">사업명</td>
							<td width="10%" style="border-right:solid #000 1px;">연도</td>
							<td width="30%" style="border-right:solid #000 1px;">기업명</td>
							<td width="10%" >비고</td>			
						</tr> 						  
					</table>
				</tr>         				       
            </tbody>
            
        </table>
        
    </div>
    
    <div id="btnline">
    
        <ul>
            <% if(mw3.when == 'view') { %>  
              
                <li><a id="wBtn" href="#" onClick="<%=methods.modify.caller()%>"><span><B><%=mw3.localize("$Modify")%></B></span></a></li>
                <li><a id="wBtn" href="#" onClick="<%=methods.apply.caller()%>"><span><B><%=mw3.localize("$Apply")%></B></span></a></li>
                <li><a id="wBtn" href="#" onClick="<%=methods.delete.caller()%>"><span><B><%=mw3.localize("$Delete")%></B></span></a></li>
                
            <% } else { %>
            
                <li><a id="wBtn" href="#" onClick="<%=methods.save.caller()%>"><span><B><%=mw3.localize("$Save")%></B></span></a></li>
                
            <% } %>
        </ul>
        
    </div>  

<% } %>