<% if(value) { %>
    
    <!-- 이 표는 컬럼과 서비스가 무조건 1개 이상이 있다고 가정하고 만들었음 (for문을 -1로 시작하는 이유). 행여나 없는 상태가 있으면 그때 로직생성 -->
    <div class="form_table">
    
        <table id="introTable_<%=objectId%>" border="1" cellspacing="0" summary="">
        
            <tbody>
            
            <% for(var i = -1; i < value.services.length; i++) { %>
                <tr>
                    <% if(i == -1) { %>
                    
                        <td width="10%"></td>
                        
                    <% } else { %>
                    
                        <td width="10%">
                            
                            <% var options = {};
                               options['htmlAttr'] =  {'style': 'cursor: default;' }; %>
                            
                            <%=mw3.locateObject(value.services[i], value.services[i].__className, null, options)%>
                            <% mw3.addBeanProperty(value.__objectId, '.services[' + i + ']'); %>
                            
                        </td>
                        
                    <% } 
                        
                          for(var j = 0; j < value.sectors.length; j++) {
                            
                            if(i == -1) { %>
                            
                                <td width="10%">
                                
                                <% var options = {};
                                   options['htmlAttr'] =  {'style': 'cursor: default;' }; %>
                                
                                    <%=mw3.locateObject(value.sectors[j], value.sectors[j].__className, null, options)%>
                                    <% mw3.addBeanProperty(value.__objectId, '.sectors[' + j + ']'); %>
                                    
                                </td>
                                
                            <% } else { %>
                                
                                <td class="item" sector="<%=value.sectors[j].id%>" service="<%=value.services[i].id%>" width="10%">
                                
                                <% if(value.item.length != 0) {
                                
                                        for(var k = 0; k < value.item.length; k++) {
                                           
                                            if(value.services[i].id == value.item[k].serviceId &&
                                               value.sectors[j].id == value.item[k].sectorId) {
                                                
                                                var options = {};
                                                options['htmlAttr'] =  {'style': 'width: 50%; cursor: pointer;' }; %>
                                                
                                                <%=mw3.locateObject(value.item[k], value.item[k].__className, null, options)%>
                                                <% mw3.addBeanProperty(value.__objectId, '.item[' + k + ']'); %>
                                                
                                      
                                           <% } %> <!-- end if -->
                                           
                                        <% } %>  <!-- end for k -->
                                           
                                        </td>
                                        
                                    <% } %> <!-- end if -->
                                     
                              <% } %> <!-- end else -->
                                  
                        <% } %> <!-- end for j -->
                        
                </tr>
                
            <% } %> <!-- end for i -->
            
            </tbody>
            
        </table>
        
    </div>
<% } %>

