

<% if(value) { %>

    <div>
    
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0" summary="PMS v2.0 프로젝트 관리 시스템">
		    <caption>
		    PMS v2.0 프로젝트 관리 시스템
		    </caption>
		    <colgroup>
		    <col width="250">
		    <col>
		    <col width="80">
		    <col>
		    </colgroup>
		    <tbody>
		        <tr>
		            <th width="150" scope="row">공공서비스명</th>
		            <td colspan="5">디지털 예산 회계 시스템 (dBrain)</td>
		        </tr>
		        <tr>
		            <th scope="row">소개</th>
		            <td colspan="5">재정의 전 과정을 온라인으로 관리하고 재정사업의 현황을 실시간으로 파악할 수 있는 통합재정정보시스템</td>
		        </tr>
		        <tr>
		            <th scope="row">구축기간</th>
		            <td colspan="2">00.00.~11.00 (11년간)</td>
		            <th colspan="2" scope="row">예산</th>
		            <td width="32%">승인 (진행중)<br>
		                상위프로젝트등록</td>
		        </tr>
		        <tr>
		            <th colspan="3" scope="row">서비스 개요</th>
		            <th colspan="2" scope="row">상태</th>
		            <td>승인 (진행중)<br>
		                상위프로젝트등록</td>
		        </tr>
		        <tr>
		            <td colspan="3" rowspan="6" scope="row"><p>-디지털예산회계시스템<br />
		                    : 국가재정에 경영개념과 경쟁원리를 도입한 성과 중심의 재정정보시스템이며, <br />
		                    세계은행이 권장하는 재정정보시스템(FMIS : Financial Management Information System) 모델을 체계적 으로 구현한 것. </p>
		                <p>-서비스 내용<br />
		                    • 성과중심의 전략적 재정운영체제 구축<br />
		                    •사업관리시스템 중심의 실시한 업무연계로 실시간 모니터링가능<br />
		                    •재정수입과 지출의 실시간 관리 및 자동화<br />
		                    •기존 시스템 통합 및 외부시스템 연계</p>
		                <p>-서비스 주요 특징<br />
		                    •완전한 시스템 통합을 통해 사용자 편의성 및 정보의 정확성제고<br />
		                    •완전한 전산화를 통해 대국민 편의성 제고<br />
		                    •사업관리시스템을 통한 사업별, 사업간 집행관리 편의성 제고</p></td>
		            <th width="5%" scope="row">상태</th>
		            <th width="6%" class="sub_th" scope="row">공공</th>
		            <td>•사업관리시스템을 통한 종합적인 사업정보 관리<br />
		                •예산요구에서 결산까지 통합된 예산관리시스템<br />
		                •자동분개 기능을 통한 편의성 및 정합성 제고<br />
		                •수요자 요구정보를 실시간으로 분석,제공</td>
		        </tr>
		        <tr>
		            <th rowspan="5" scope="row">담당자</th>
		            <th class="sub_th" scope="row">민간</th>
		            <td>&nbsp;</td>
		        </tr>
		        <tr>
		            <th class="sub_th" scope="row">소속기관</th>
		            <td>&nbsp;</td>
		        </tr>
		        <tr>
		            <th class="sub_th" scope="row">성명</th>
		            <td>&nbsp;</td>
		        </tr>
		        <tr>
		            <th class="sub_th" scope="row">연락처</th>
		            <td>&nbsp;</td>
		        </tr>
		        <tr>
		            <th class="sub_th" scope="row">이메일</th>
		            <td>&nbsp;</td>
		        </tr>
		       <tr> 
		        	<table cellspacing="0" class="tbl_type_brw">
	        		    <colgroup>
					    <col width="65">
					    <col>
					    <col width="80">
					    <col>
					    </colgroup>
		  			      <tr>
			            <th rowspan="4" scope="row">구축기간구축기간구축기간구축기간</th>
			            <th class="sub_th">no</th>
			            <th class="sub_th">사업명사업명사업명사업명</th>
			            <th class="sub_th">연도</th>
			            <th class="sub_th">기업명</th>
			            <th class="sub_th">비고</th>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
			        <tr>
			            <th rowspan="4" scope="row">구축기간구축기간구축기간구축기간</th>
			            <th class="sub_th">no</th>
			            <th class="sub_th">사업명</th>
			            <th class="sub_th">연도</th>
			            <th class="sub_th">기업명</th>
			            <th class="sub_th">비고</th>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
			        <tr>
			            <th class="sub_th">no</th>
			            <td class="align_center td_border-right">사업명</td>
			            <td class="align_center td_border-right">연도</td>
			            <td class="align_center td_border-right">기업명</td>
			            <td class="align_center">비고</td>
			        </tr>
		    	</table>
		    	</tr>
		    </tbody>
			    
		</table>
        
    </div>
    
    <div id="btnline">
    
        <ul>
            <% if(mw3.when == 'view') { %>  
              
                <li><a id="wBtn" href="#" onClick="<%=methods.modify.caller()%>"><span><B><%=mw3.localize("$Modify")%></B></span></a></li>
                <li><a id="wBtn" href="#" onClick="<%=methods.apply.caller()%>"><span><B><%=mw3.localize("$Apply")%></B></span></a></li>
                <li><a id="wBtn" href="#" onClick="<%=methods.delete.caller()%>"><span><B><%=mw3.localize("$Delete")%></B></span></a></li>
                
            <% } else { %>
            
                <li><a id="wBtn" href="#" onClick="<%=methods.save.caller()%>"><span><B><%=mw3.localize("$Save")%></B></span></a></li>
                
            <% } %>
        </ul>
        
    </div>  

<% } %>