<% if(value) { %>
    <div align = "center">
        <% if(value.pageLength < 10) { %>
            <% for(var i = 0; i < value.pageLength; i++) { %>
                <% if(i == 0) { %>
                    <span id="<%=value.pageId%>_page_<%=i+1%>" style="padding:5px;" value="<%=i+1%>">
                        <%=i+1%>
                    </span>
                    
                <% } else {%>
                    <span id="<%=value.pageId%>_page_<%=i+1%>" style="padding:5px;" value="<%=i+1%>">
                        <%=i+1%>
                    </span>
                <% } %>
            <% } %>
            
        <% } else { %>
            <% for(var i = 0; i < value.pageLength; i++) { %>
                <% if(i < 10) { %>
                    <span id="<%=value.pageId%>_page_<%=i+1%>" style="padding:5px;" value="<%=i+1%>">
                       <%=i+1%>
                    </span>
                <% } %>
                
                <% if(i == value.pageLength - 1) { %>
                    <span style="padding:5px;"> ... </span>
                    <span id="<%=value.pageId%>_page_<%=i+1%>" style="padding:5pxl" value="<%=value.pageLength%>">
                        <%=value.pageLength%>        
                    </span>
                <% } %>
            <% } %>
        <% } %>
    </div>
<% } %>