<% if(value) { %>

    <!-- 처음 시작이냐 이미 설문을 한 적이 있는가 -->

    <% if(mw3.when == 'init' && mw3.how == 'however') { %>
       
        <ul>
            <li><em><H>셀프테스트를 진행한 적이 없습니다. 다음을 누르면 셀프테스트가 진행됩니다.</H></em></li>
        </ul>
        
        <div id="btnline">
            <ul>    
                <li><a id="wBtn" href="#" onClick="<%=methods.surveyStandBy.caller()%>"><span><%=mw3.localize("$Next")%></span></a></li>
            </ul>
        </div>
    
    <% } 
    
    <% if(mw3.when == 'progressive' && mw3.how == 'however') { %>
    
        <div class="item">
            <B>셀프테스트를 진행하신 적이 있습니다. 다음을 누르면 계속 진행됩니다.<B>
            <!-- 추후에 작업합시다. 이부분 보다는 새시작에 초점을 맞추겟음 -->
        </div>
    
    <% } %>
    
    
    <!-- 설문 1 ~ 9까지 mw3.when = init 이고 mw3.how 1 ~ 9 까지-->
    
    <% if(mw3.how == 'first' || mw3.how == 'second' || mw3.how == 'third' || mw3.how == 'fourth' || mw3.how == 'fifth' || mw3.how == 'sixth' || mw3.how == 'seventh' || mw3.how == 'eighth' || mw3.how == 'ninth') { %>
        
        <br>
        
        <div>
            <B><%=value.surveyForm[mw3.how]%><B>  
        </div>        
     
        <% for(var i = 0; i < value.surveyContent.length; i++) {
            var content = value.surveyContent[i]; %>
            
            <br>
            
            <%=content.itemContent%>
            
            <div>
            
                <input type="radio" id="radio_1" name="preferred_color" value=5 /> 5
                <input type="radio" id="radio_2" name="preferred_color" value=4 /> 4 
                <input type="radio" id="radio_3" name="preferred_color" value=3 /> 3 
                <input type="radio" id="radio_4" name="preferred_color" value=2 /> 2 
                <input type="radio" id="radio_5" name="preferred_color" value=1 /> 1 
                
            </div>
            
        <% } %>
        
        <% if(mw3.how == 'ninth') { %>
            <div id="btnline">
                <ul>    
                    <li><a id="wBtn" href="#" onClick="<%=methods.initProgressSurvey.caller()%>"><span><%=mw3.localize("$Finish")%></span></a></li>
                </ul>
            </div>
            
        <% } else { %>
            <div id="btnline">
                <ul>    
                    <li><a id="wBtn" href="#" onClick="<%=methods.initProgressSurvey.caller()%>"><span><%=mw3.localize("$Next")%></span></a></li>
                </ul>
            </div>
            
        <% } %>
            
    <% } if(mw3.how == 'complete') { %>
        <%console.log(mw3.how);%>
        아야어여우유우이 여기다 방사형 그래프 그리세욘
    <% } %>
    
<% } %>