<div class="pane ui-layout-north">
	<div class="boxmiddleright">
		<div class="boxmiddleleft">
			<div id="mystatus">
				<ul>	                	 	
					<div id="myInfo">
						<%=fields.user.here({when:'contact'})%>            	 		
            	 	</div>
            	 	<div style="clear:both;"></div>
        	 	</ul> 
        	</div>
        	                 	 
            <div id="contactsearchbox">
				<%=fields.searchBox.here({when: 'contact'})%>
			</div>
		</div>
	</div>
</div>

<div class="pane ui-layout-center">
	<div class="ui-layout-content">
		<div id="tabs-1" class="basic">
			<h3><a href="#">Company</a></h3>
			<div>
				<%=fields.contactList.here()%>
			</div>
	
			<h3><a href="#">FaceBook</a></h3>
			<div>
				asas
			</div>
		</div>
	</div>
</div>

<div class="pane ui-layout-south">
	<div id="addcontact">

		<div id="btnAddContact" style="float:right">
			<a href="#" onclick="<%=methods.addContact.caller()%>"><img src="images/waveStyle/addContact_f.png" /></a>	   
		</div>
		<div id="btnAddLocalContact" style="float:right">
			<a href="#" onclick="<%=methods.addLocalContact.caller()%>"><img src="images/waveStyle/addContact.png" /></a>	   
		</div>
	</div>
</div>