<% if(value!=null){

	if(mw3.where=="instanceNavigator"){%>
	
<div style="cursor:pointer" onclick="<%=methods.flowchart.caller()%>"><%=value.defName%></div>	
	
	<%
		mw3.where="anywhere";
	
	
	}else{
			
		var isChat = (value.defId == null && value.secuopt == '1')
		var isOpenCollab = (value.defId == null && value.secuopt=='0')
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		
	
	
	%>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_type">						
	<tbody>
	<tr  class="q <%=value.firstDueTimeTerm ? (value.firstDueTimeTerm>=0 ? (value.firstDueTimeTerm>=3 ? "" : "plus" + value.firstDueTimeTerm ) : "minus" )  : "" %>" onClick="<%=methods.detail.caller()%>" style="cursor:pointer;">
		<td class="first_td">
			<div class="worklistuser">
					<dl>					                		
						<dd><%=fields.initiator.here() %></dd>
						<dd><%=fields.currentUser.here() %></dd>
						<div class="clear"></div>					                	
					</dl>	
			</div>				
		</td> 
		<td>									
			<ul class="lst_type">										
				<li class="trigger">
				<% if(isChat){ %>
					<span class="type_ping"></span><span class="instanceLock"></span>
				<% }else if(isOpenCollab){ %>
					<span class="type_ping"></span><span class="instanceUnLock"></span>
				<% }else if(isProcess){ %>
					<span class="type_process"></span><span class="instanceUnLock"></span>
				<% }else if(isSecureProcess){ %>
					<span class="type_process"></span><span class="instanceLock"></span>
				<% } %>	
						
				<a href="#middle-center"><%=fields.name.here()%></a></li>								
			</ul>								
		</td>
		<td class="last_td"><%=fields.startedDate.here()%></td>
	</tr>
	
</table>


	<%}%>


<%}%>
