

<% if(value!=null){

			
		var isChat = (value.defId == null && value.secuopt == '1')
		var isOpenCollab = (value.defId == null && value.secuopt=='0')
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		
		
		var pinterest_listCount = mw3['pinterest_listCount']++;
	
		var column = 4;
		
		if(pinterest_listCount > 3){
			column = isProcess ? 3:2;
		}
		
		if(mw3.when=='newItem'){
			column = 3;
		}
	
	%>
	
	
<div class="box col<%=column%>"<%=mw3.when=='newItem' ? " style='background:#FFB249'":""%>>
<a href="javascript:<%=methods.popupDetail.caller()%>">
	<img src="images/portrait/<%=value.initiator.userId%>.jpg" width="100%" align=left onerror="$(this).remove();">
</a>
	<b><font color=204070><%=value.initiator.name%></font></b>
				<% if(isChat){ %>
					<span class="type_ping"></span><span class="instanceLock"></span>
				<% }else if(isOpenCollab){ %>
					<span class="type_ping"></span><span class="instanceUnLock"></span>
				<% }else if(isProcess){ %>
					<span class="type_process"></span><span class="instanceUnLock"></span>
				<% }else if(isSecureProcess){ %>
					<span class="type_process"></span><span class="instanceLock"></span>
				<% } %>	
						
<a href="javascript:<%=methods.popupDetail.caller()%>"><b><%=value.name%></b></a>
				
				<% if(value.currentUser && value.currentUser.userId && (value.initiator.userId!=value.currentUser.userId || value.name!=value.lastCmnt)){%>
			<img src="images/portrait/<%=value.currentUser.userId%>.jpg" width="30%" align=left onerror="$(this).remove();">
			<%=value.lastCmnt%>
				<%}%>

	<font size=2 color=gray>
		<%=fields.startedDate.here()%>
	</font>
		
		<%if(value.status=='Completed'){%> ( <%=mw3.localize('$Complete')%> ) <%}%>

</div>

<%}%>

