		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
		
		            <div id="searchbox">
		                <div class="searchboxline">
		                	<div class="searchboxline2">
		                        <div class="newprocessbtn"><a href="#" onclick="<%=methods.newInstance.caller()%>"><div id="startBtn"><%=getMessage("New")%></div></a></div>
		                        <div class="searchboxarea" id="method_<%=objectId%>_newInstance">
		                        	<%=fields.searchBox.here()%>
		                        </div>
		                        <div style="clear:both;"></div>
		                    </div>
		                </div>
		                <div style="clear:both;"></div>
		            </div>    
		            <div class="toolbar">
		            
		            <%
		            	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
		            	
		            %>
	                    <ul>
	                        <li style="width:50px"<%=(value.instanceList && session.lastPerspecteType=='allICanSee') ? "class='toolbar_current'" : ""%>><span></span><span onclick="<%=methods.switchToInstanceList.caller()%>"><%=getMessage("ComingUp")%></span></li>
	                        <li style="width:50px"<%=(value.instanceList && session.lastPerspecteType=='all') ? "class='toolbar_current'" : ""%>><span></span><span onclick="<%=methods.switchToInstanceListFollowing.caller()%>"><%=getMessage("Following")%></span></li>               
	                        <li style="width:50px"<%=(value.instanceList && session.lastPerspecteType=='inbox') ? "class='toolbar_current'" : ""%>><span></span><span onclick="<%=methods.switchToInstanceListMyToDo.caller()%>"><%=getMessage("MyToDo")%></span></li>               
	                        <li style="width:50px"<%=value.knowledge ? "class='toolbar_current'" : ""%>><span></span><span onclick="<%=methods.switchToKnowledge.caller()%>"><%=getMessage("Strategic")%></span></li>               
	                        <li style="width:50px"<%=value.scheduleCalendar ? "class='toolbar_current'" : ""%>><span></span><span onclick="<%=methods.switchToScheduleCalendar.caller()%>"><%=getMessage("Calendar")%></span></li>
	                    </ul>
                	</div>     
		        </div>

		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center" id="method_<%=objectId%>_switchToScheduleCalendar">
			<div class="ui-layout-content">
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
				<%=value.knowledge ? fields.knowledge.here() : ""%>
			</div>
		</div>