		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
		
		            <div id="searchbox">
		                <div class="searchboxline">
		                	<div class="searchboxline2">
		                        <div class="newprocessbtn"><a href="#" onclick="<%=methods.newInstance.caller()%>"><span id="method_<%=objectId%>_newInstance"><div id="startBtn"><%=mw3.localize("$New")%></div></span></a></div>
		                        <div class="searchboxarea" id="method_<%=objectId%>_newInstance">
		                        	<%=fields.searchBox.here()%>
		                        </div>
		                        <div style="clear:both;"></div>
		                    </div>
		                </div>
		                <div style="clear:both;"></div>
		            </div>    
		            <div class="toolbar">
		            
		            <%
		            	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");		
		            %>
	                    <ul>
	                        <li <%=(value.instanceList && session.lastPerspecteType=='allICanSee') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_upcoming.png" border="0"></span><span onclick="<%=methods.switchToInstanceList.caller()%>"><%=mw3.localize("$ComingUp")%></span></li>
	                        <li <%=(value.instanceList && session.lastPerspecteType=='all') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_follow.png" border="0"></span><span onclick="<%=methods.switchToInstanceListFollowing.caller()%>"><%=mw3.localize("$Following")%></span></li>               
	                        <li <%=(value.instanceList && session.lastPerspecteType=='inbox') ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_todo.png" border="0"></span><span onclick="<%=methods.switchToInstanceListMyToDo.caller()%>"><%=mw3.localize("$MyToDo")%></span></li>               
	                        <li <%=value.knowledge ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_know.png" border="0"></span><span id="method_<%=objectId%>_switchToKnowledge" onclick="<%=methods.switchToKnowledge.caller()%>"><%=mw3.localize("$Strategic")%></span></li>               
	                        <li <%=value.scheduleCalendar ? "class='toolbar_current'" : ""%>><span><img src="images/waveStyle/i_gantt.png" border="0"></span><span onclick="<%=methods.switchToScheduleCalendar.caller()%>"><%=mw3.localize("$Calendar")%></span></li>
	                    </ul>
                	</div>     
		        </div>

		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center" id="method_<%=objectId%>_switchToScheduleCalendar">
			<div class="ui-layout-content">
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
				<%=value.knowledge ? fields.knowledge.here() : ""%>
			</div>
		</div>