<%	
	if(value){
		var portrait;		
		if(value.userId)
			portrait = 'http://graph.facebook.com/' + value.userId + '/picture';
		else
			portrait = 'images/portrait/unknown_user.gif';
	
	
%>
	<div class="user">
		<div class="user_picture">	
			<img id="user_picture_<%=objectId%>" src="<%=portrait%>" width="30" height="30">
		</div>
<%	
		// case by user
		if(mw3.when == 'list' || mw3.when == 'addContact'){
%>
		<div class="user_detail">
			<span class="fontbold"><%=value.name%></span><br />
			<span class="fontgray"><%=value.userId%></span><br />
			<span class="fontgray"></span>
<%
			if(mw3.when == 'addContact'){
%>
			<%=methods.addContact.here()%>
		</div>
<%
			}
		}else if(mw3.when == 'contact'){
%>

		<div class="user_compact">
			<%=value.name%>
		</div>
<%		
		}
%>
	</div>
<%		
	}
%>

<%=methods ? methods.pickUp.here() : ""%>
