<%	
	if(value && value.userId){
		var clickAction = '';
		
		if(mw3.when == 'addContact'){
			clickAction = methods.addContact.caller();
		}else if(mw3.when == 'addFollower'){
			clickAction = methods.addFollower.caller();
		}else if(mw3.when == 'self'){
			clickAction = methods.info.caller();
		}else{
			clickAction = methods.detail.caller();
		}
					
		var unknown = 'images/portrait/unknown_user.gif';
		var portrait = unknown;
		
		if(value.network == 'local' || value.network == null){
			if(value.userId)
				portrait = 'images/portrait/' + value.userId + '.jpg';			
		}else if(value.network == 'fb'){
			if(value.userId)
				portrait = 'http://graph.facebook.com/' + value.userId + '/picture';			
		}		
		
		if(mw3.how == 'info'){			
%>
		<ul>
			<li>
				<dl class="lst_type2">
					<dt class="tit">
						<div id="popupInfoNameWih"><b><%=value.name%></b></div>
						<%
							var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
							var itIsMe = (session.user.userId == value.userId);
							
							if(itIsMe){
						%>
						<%=fields.mood.here({when:'edit'})%>
						<%=methods.changeMood.here()%>
						
						<%	}else{%>
							<%=value.mood%>
						<%	}%>
					</dt>
					<dd class="photo">
						<div id="popupInfoImgWih"><img id="user_picture_<%=objectId%>" src="<%=portrait%>" onerror="this.src='<%=unknown%>';" width="104" height="104"></div>
					</dd>
       			</dl>
      		</li>    
     	</ul>

<%
			if(mw3.when != 'chat'){
%>			     	
     	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px;">
			<ul>
<%
				if(mw3.when == 'contacts'){
%>							
				<li><a id="wBtn" href="javascript:<%=methods.removeContact.caller()%>"><span><%=mw3.localize("$RemoveFromContact")%></span></a></li>
<%
				}else if(mw3.when== 'followers'){
%>							
				<li><a id="wBtn" href="javascript:<%=methods.removeFollower.caller()%>"><span><%=mw3.localize("$RemoveFromFollowers")%></span></a></li>
<%
				}
				
				if(value.network == 'fb'){
%>
				<li><a id="wBtn" href="http://www.facebook.com/profile.php?id=<%=value.userId%>" target="_blank"><span>goFacebook</span></a></li>
<%				
				}
%>				
				<li><a id="wBtn" href="javascript:<%=methods.addContact.caller()%>"><span><%=mw3.localize("$AddFriend")%></span></a></li>						
				<li><a id="wBtn" href="javascript:<%=methods.chat.caller()%>"><span>Chat</span></a></li>						
			</ul>
		</div>
<%
			}
		}else{			
%>
		<div class="user" onclick="<%=clickAction%>">		
			<div class="user_focus<%=(mw3.how=='small' ? ' small':'')%>" style="background: url('<%=portrait%>'); background-size:<%=(mw3.how=='small' ? '25px':'33px')%>;">	
				<img id="user_picture_<%=objectId%>" width=1 height=1 src="<%=portrait%>"  onerror="$(this).parent().css({'background':'url(\'<%=unknown%>\')','background-size':'<%=(mw3.how=='small' ? '25px':'33px')%>'})">
			</div>
<%	
			/* case by user */
			if(mw3.when == 'contacts' || mw3.when == 'addContact' || mw3.when == 'addFollower'){
%>
			<div class="user_detail">
				<span class="fontbold"><%=value.name%></span>
				<span class="fontgray"><%=value.mood%></span>
				<span class="fontgray"></span>
			</div>
<%			
			}else if(mw3.when == 'self'){
%>

			<div class="user_compact">
				<%=value.name%>
			</div>
			<%=value.mood%>
<%		
			}
%>		
			<div style="clear:both"></div>
		</div>
<%		
		}
	}
%>

<%=methods ? methods.pickUp.here() : ""%>
