<%
	if(value){
		var portrait;
		
		if(value.userId)
			portrait = 'http://graph.facebook.com/' + value.userId + '/picture';
		else
			portrait = 'images/portrait/unknown_user.gif';

		if(mw3.when == 'searchBox'){
%>
	<li><img src="<%=portrait%>" border="0" height="30" width="30" /></li>
	<li class="name"><%=value.name%></li>

<%		
		}else{	
%>
	<a target="_blank" href="http://www.facebook.com/profile.php?id=<%=value.userId%>">
		<img id="userPicture_<%=objectId%>" src="<%=portrait%>" width="30" height="30">
	</a>	
<% 
			if(mw3.when != 'onlyFaceSmall'){
%>
	<center>
		<%=value.name%>
	</center>
<% 
			}
			if(mw3.where && mw3.where =='roleUserPickerCaller') {
%>
	<%=methods.openRoleUserPicker.here()%>
<%
			} else {
%>
	<%=methods.addContact.here()%>
<%			}	
		}
	}
%>


	<%=methods ? methods.pickUp.here() : ""%>
