<%
	if(value){
%>
<div class="view_box3" style="background:#fff">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<%		
		if(value.type == "comment"){
%>
		<tr>
		
			<td width=16>&nbsp;
			</td>
			
			<td width=30>
				<%=fields.writer.here()%>
			</td>
		
			<td width=16>&nbsp;</td>
		
			<td> 
				<textarea id="post_<%=objectId%>" value=""  onkeydown="mw3.getFaceHelper('<%=objectId%>').press()"  rows="3" style="width:99%; -webkit-border-radius:3px; outline:none;  webkit-border-radius:3px; border:1px solid #ccd; none;"></textarea>
			</td>			
			
			<td width=50 align="center"><a class="gBtn" href="javascript:<%=methods.add.caller()%>"><span>게시</span></a></td>
		</tr> 
		
		
<%		
		}else if(value.type == "src"){
%>
		<tr>
			<td> 
				소스코드를 입력해주세요.
			</td>			
			
		</tr>
		<tr>
			<td> 
				<input id="post_<%=objectId%>" value="" size="80" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
			</td>			
			
		</tr>
		<tr>
			<td>
				<div style="position:relative; height:300px;">
				<%=fields.sourceCode.here()%>
				</div>
			</td>
		</tr>				
		<tr>
			<td><a class="gBtn" href="javascript:<%=methods.compile.caller()%>"><span>컴파일</span></a><a class="gBtn" href="javascript:<%=methods.add.caller()%>"><span>게시</span></a></td>
		</tr>
<%		
		}else if(value.type == "file"){
%>
		<tr>
			<td> 
				<input id="post_<%=objectId%>" value="" size="80">
			</td>			
			
		</tr>
		<tr>
			<td>
				컴퓨터에 있는 이미지나 동영상 파일을 선택하세요.
			</td>
		</tr>				
		<tr>
			<td>
				<%=fields.file.here()%>
			</td>
		</tr>
		<tr>
			<td><a class="gBtn" href="javascript:<%=methods.add.caller()%>"><span>게시</span></a></td>
		</tr> 			
<%		
		}
%>
	</table>
	</div>
	
	<div id="wih_button">
		<a class="<%= value.type=='comment'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newComment.caller()%>"><span>답글</span></a>
		<a class="<%= value.type=='src'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newSourceCode.caller()%>"><span>소스코드</span></a>
		<a class="<%= value.type=='file'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newFile.caller()%>"><span>파일</span></a>
	</div>
	
	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>
<%
	}
	
%>


