
<div id="canvasForLoopLines" style="position:absolute;left:0px;top:0px;z-index: -1"></div>

<div align="center" id="divFlowchartArea"></div>



<% 

//mw3.debug(value.parentFolder);

if(value.parentFolder){%>


<a href="/uengine-web/processmanager/ProcessDesigner.jnlp?folderId=<%=value.parentFolder%>">Launch Process Designer</a>
<p>
Name:
<%=fields.name.here()%>

Description:
<%=fields.description.here()%>

Definition XML:
<%=fields.definitionString.here()%>

<%=methods.save.here()%>


<%}else{%>


FlowChart:

<%=value.chartHTML%>


<a href="/uengine-web/processmanager/ProcessDesigner.jnlp?defId=<%=value.defId%>&defVerId=<%=value.defVerId%>">Edit</a>

<%}%>


