
<div id="canvasForLoopLines" style="position:absolute;left:0px;top:0px;z-index: -1"></div>

<div align="center" id="divFlowchartArea"></div>



<% 

//mw3.debug(value.parentFolder);

if(value.parentFolder!=null){%>


<br><br><br>
<center>
launching Process Designer ....

<script>

location= mw3.base + "/processmanager/ProcessDesigner.jnlp?folderId=<%=value.parentFolder%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>";

</script>


<%}else{%>

<br><br><br>
<center>
launching Process Designer ....

<script>
location= mw3.base + "/processmanager/ProcessDesigner.jnlp?defId=<%=value.defId%>&defVerId=<%=value.defVerId%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>";
</script>
<%}%>


