<ul class="process_map">

<%

mw3.debug(value, true);

var icon = "images/processMap/empty.png";
var box = "folder";

if (value.objType == "process"){
	box = "white";	
	icon = "images/waveStyle/process.gif";
} else if (value.objType == "class"){
	box = "green";	
	icon = "images/waveStyle/bean.png";
} else if (value.objType == "form"){
	box = "purple";	
	icon = "images/waveStyle/form.png";
} else if (value.objType == "folder"){
	box = "folder";	
	icon = "images/processMap/empty.png";
}

%>


<%
if(value!=null){

  if(value.folder){
  
  
  	if(value.childs){
%>
<div class="fdiv" id="<%=box%>" onclick="<%=methods.drillDown.caller()%>">
   <div class="editicon"></div>
    <a href="#"><img alt="" src="<%=icon%>" width="40" height="40"></a>
    <a><%=value.name%></a>
</div>
<!--
<div style="position:absolute; background:#ccc; width:100%; height:200px; display:block; margin-top:120px;">	

	<div><%=fields.childs.here({when: mw3.when})%></div>
	
</div>
-->
<div style="position:absolute; background:url(images/processMap/rarrowup.png) top left no-repeat; width:22px; height:11px; margin:120px 0 0 25px; z-index:1000;"></div>
<div style=" box-shadow:5px 5px 20px  0 #ccc; border-radius: 10px; -moz-border-radius:10px;-webkit-border-radius:10px; background:#fff; border:1px solid #ccc; padding:5px 0 15px 0px; display:block; position:absolute; width:400px; margin-top:130px;  z-index:999;"><div><%=fields.childs.here({when: mw3.when})%></div><div style="clear:both;"></div></div>

<%
 
	}else{%>


<div class="fdiv" id="<%=box%>" onclick="<%=methods.drillDown.caller()%>">
   <div class="editicon"></div>
    <a href="#"><img alt="" src="<%=icon%>" width="40" height="40"></a>
    <a ><%=value.name%></a>
</div>




<%	}


	if(mw3.where=="design"){
%>
<span style="display:inline-block;">[<a onclick="<%=methods.newChild.caller()%>">add child</a>]</span>
<%
  	}



  }else{
  
  	if(mw3.where=="design"){
  
%>
<span style="background:url(images/waveStyle/<%=icon%>) no-repeat 5px 0px;">
		<a onclick="<%=methods.design.caller()%>"><%=value.name%></a>
</span>
<%
  	}else{
  	  
%>

	<div class="fdiv" id="<%=box%>"  onclick="<%=methods.initiate.caller()%>">
       <div class="editicon"></div>
        <a href="#"><img alt="" src="<%=icon%>" width="40" height="40"></a>
        <a><%=value.name%></a>
    </div>


<%
  	}
  }
}
%>
</ul>    
