<%
	if(value){
		if(mw3.when == 'view'){
%>
			<span style="display:inline-block;"><%=fields.employee.here() %></span>
				 |	
			<a href="http://www.slideshare.net/pongsor/110609-8326309" type="application/pdf"><%=getMessage("Help")%></a>			 
				 |	
			<span style="display:inline-block;"><a onClick="<%=methods.logout.caller() %>" style="cursor:pointer;"><%=getMessage("Logout")%></a></span>
<%
		} else {
%>
		Login Object no has face when context : <%=mw3.when %>
<%
		}
	}
%>
