
<%
if(mw3.when == 'filter'){

%>

	<img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="13" height="13"/><a href="#" onClick="#"><%=value.appName%></a>

<%
}else {

	if(value){
	
		var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
		var company = session.company[0];
		
		if(value.metaworksContext.when == 'myVendor') {
		
	%>
	<div class="fixed_img_row">
   	  <ul>	
	     <li> 
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="appFirstTd"><span class="thumb"> <%=fields.logoFile.here({when:'image'})%> </span> </td>
                    <td class="appTitleTd">
                    	<div class="titleLine"> <strong><a href="#" onClick="<%=methods.detailListing.caller()%>"> <%=value.appName%> (<%=value.pricing%>) </a></strong></div>
                    	<div class="simpleOverview"><%=value.simpleOverview%></div>
                        <div><a href="#" class="viewMore">view more overview</a></div>
                    </td>
                    <td class="appVenderTd"><b>Listing Status</b><br><%=value.status%></td>
                    <td class="appBtnTd">
                    	<%if(value.status == 'Unpublished'){%>
							<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px" onClick="<%=methods.readyPublished.caller()%>">Ready for publish</div>
						<%}%>
							<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px" onClick="<%=methods.editListing.caller()%>">Edit Detail</div>
					</td>
                </tr>
            </table>
		 </li>
		</ul>
	</div>

	<%
		
		}else if(value.metaworksContext.when == 'detailList'){

	%>
		<div>CODI Apps > <a href="#" onclick="#"> <%=value.category.categoryId%> </a></div>
		
		<div class="detailView_app_outer">
			<div class="detailView_app">
				<div class="topTitle_app"><%=value.appName%></div>
				<div class="byCompany_app">by <%=company.comName%></div>
				
				<div class="clear"></div>
			</div>
			<div class="fixed_img_row" >
		   	  <ul>	
			     <li style="border:0; margin-bottom:30px;"> 
		        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                    <td class="appFirstTd"><span class="thumb"> <%=fields.logoFile.here({when:'image'})%> </span> </td>
		                    <td class="appTitleTd">
		                    	<div> <%=value.simpleOverview%> </div>
								<div class="PricingDetail_app" style="float:left"> Pricing Detail : </div>
								<div style="float:left;margin:7px 5px"><%=value.pricing%> </div>
								<div class="clear"></div>
								<div class="PricingDetail_app"> Status > <%=value.status%> </div>
		                    </td>	 
		                    <td class="appBtnTd">
								<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px">Add it now</div>
							</td>                 
		                </tr>
		            </table>
				 </li>
				</ul>
			</div>
		
			
					
			
			<%
			if(value.status == 'Published') {
			
			%>
			
				 <a href="#" onClick="<%=methods.addAppOurGroup.caller()%>"> <%=mw3.localize('$Add') %> </a> 
			
			<%
			
			}
			%>
			
			
			<div class="workItem_tabs">
				 <ul>
					<li class="current">
						<a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').showDescription()"><span>Description</span></a>
					</li>	
				 	<li>
				 		<a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').showVendor()"><span>Vendor</span></a>
				 	</li>
				 </ul>
			</div>
			<div class="clear"></div>
			
			<div id="tab_Vendor" style="display:none">
			
				<div class="fixed_img_row">
			   	  <ul>	
				     <li> 
			        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			                <tr>
			                    <td class="appFirstTd"><span class="thumb"> logo </span> </td>
			                    <td class="appTitleTd">
			                    	<div class="titleLine"> <strong><%=company.comName%></strong></div>
			                    	<div class="fullOverview"><%=company.description%></div> 
			                    	<div class="simpleOverview"><%=company.repMail%></div>
			                    </td>
			                </tr>
			            </table>
					 </li>
					</ul>
				</div>
			</div>

			<div id="tab_Description">
				<%=value.fullOverview%>
			</div>
		</div>
					
		
	<%
		}else if(value.metaworksContext.when == 'marketplaceHome'){
		
	%>
	<div class="fixed_img_row">
   	  <ul>	
	     <li> 
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="appFirstTd"><span class="thumb"> <%=fields.logoFile.here({when:'image'})%> </span> </td>
                    <td class="appTitleTd">
                    	<div class="titleLine"> <strong><a href="#" onClick="<%=methods.detailListing.caller()%>"> <%=value.appName%> </a></strong></div>
                    	<div class="simpleOverview"><%=value.simpleOverview%></div>
                    	<!--div class="fullOverview"><%=value.fullOverview%></div--> 
                        <div class="titleLine"> Pricing Detail</div>
                        <div class="pricing"> <%=value.pricing%> </div>
                        <div class="vendor"> service by <%=company.comName%></div>
                    </td>
                    <td class="appStatusTd">
                    	<div> Status </div>
                    	<div> <%=value.status%> </div>
                    </td>
                    <td class="appBtnTd">
						<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px">Add it now</div>
					</td>
                </tr>
            </table>
		 </li>
		</ul>
	</div>
	
		
	
	<%	
		
		}else if(value.metaworksContext.when == 'newApps') {
	
	%>
		
	<div class="fixed_img_row">
   	  <ul>	
	     <li>
	     	<div class="titleLine"><a href="#" onClick="<%=methods.detailListing.caller()%>"> <%=value.appName%> (<%=value.pricing%>) </a></div>
	     	<div  class="simpleOverview"><%=value.simpleOverview%></div>
	     </li>
	  </ul>
	</div>  
	 
	<%
		}else if(value.metaworksContext.when == 'searchForCategory' ) {
		
	%>
		5
		<table>
			<tr>
				<td rowspan="3" style="width: 100px; height: 100px">  <%=fields.logoFile.here({when:'image'})%> </td>
				<td> <a href="#" onClick="<%=methods.detailListing.caller()%>"> <%=value.appName%> </a> </td>
			</tr>
			<tr>
				<td> <%=value.simpleOverview%> </td>
			</tr>
			<tr>
				<td> <span style:"font-weight:bold"> Pricing: </span> <%=value.pricing%> </td>
			</tr>
		</table>
	
	<%
		
		}else if(value.metaworksContext.when == 'searchForSearchBox') {
		
	%>
		6
		<table>
			<tr>
				<td rowspan="3" style="width: 100px; height: 100px">  <%=fields.logoFile.here({when:'image'})%> </td>
				<td> <a href="#" onClick="<%=methods.detailListing.caller()%>"> <%=value.appName%> </a> </td>
			</tr>
			<tr>
				<td> <%=value.simpleOverview%> </td>
			</tr>
			<tr>
				<td> <span style:"font-weight:bold"> Pricing: </span> <%=value.pricing%> </td>
			</tr>
			<tr>
				<td> <span style:"font-weight:bold; font-style:oblique" align="right"> service by <%=value.pricing%> </td>
			</tr>
		</table>
			
	<%
		}
	
	}
	
}
%>
