
<%

if(value){

	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
	var company = session.company[0];
	

	if(value.searchBox != null && value.metaworksContext.when != 'detailList') {

	%>
		<div id="searchbox">
			<div class="searchboxline">
				<div class="searchboxline2">
					<div class="searchboxarea" id="method_<%=objectId%>_newInstance" style="margin-left:10px;">
						<%=fields.searchBox.here()%>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	
	<%
	}
	
	if(value.vendor != null) {
	%>
		<div><%=fields.vendor.here()%> </div>
		
	<%
	} else if (value.appInfo != null) {
		
	%>
		
		<div><%=fields.appInfo.here()%> </div>
	
	<%
	}else{
		
		if(value.metaworksContext.when == 'searchForCategory') {
			
		%>
			<div class="toolbar">
                <ul>
                    <li  onClick="<%=methods.gomarketHome.caller()%>"><span>CODI Apps</span></li>
                    <li onClick="mw3.getFaceHelper(<%=objectId%>).selectCategory()"><span class="toolbarIcon"><span > > <%=value.category.categoryName%></span></li>               
                   
                </ul>
        	</div>
		
		<%
		}else if(value.metaworksContext.when == 'detailList') {
			var category;
			
			if(value.category != null && value.category.length !=0 ) {
			
				category = value.category[0];
			
		
			%>
				
					<div class="toolbar">
	                    <ul>
	                        <li onClick="<%=methods.gomarketHome.caller()%>"><span>CODI Apps</span></li>
	                        <li onClick="mw3.getFaceHelper(<%=objectId%>).selectCategory()"><span class="toolbarIcon"><span > > <%=category.categoryName%></span></li>               
	                       
	                    </ul>
                	</div>  
			
			<%
			}
		}
		
		%>
		<div><%=fields.listing.here()%> </div>
	
	<%
	}
	 
	 if(value.listing == null || value.listing.length == 0) {
	 	if(!value.appInfo){
	 %>
	 
	 	<div style="margin-top:30px; text-align:center;"> <%=mw3.localize('$App.NoResult')%> </div>
	 
	 <%
		 }
	 }

}
%>
