<!-- Tabs -->
<div id="tabs_assist" class="stContainer">
    <ul class="stContainer_ul">
        <li><a href="#tabs-1"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/java.png">
            
            </a></li>
        <li><a href="#tabs-2"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/url.png">
            
            </a></li>
        <li><a href="#tabs-3"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/database.png">
            
            </a></li>
        <li><a href="#tabs-4"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/cart.png">
            
            </a></li>
    </ul>
    <div id="tabs-1" class="right_div">
       <div id="container_content">     
    <!------------------------------------- THE CONTENT ------------------------------------------------->
    <div id="jslidernews3" class="lof-slidecontent" style="width:980px; height:300px;">
        <div class="preload">
            <div></div>
        </div>
        <div id="assist_up" class="button-previous">Previous</div>
        
        <!-- MAIN CONTENT -->
        <div class="main-slider-content" style="width:580px; height:300px;">
            <div style="background:white; position:absolute; z-index:1000; left:102px; width:580px; height:300px;">
            	<%=fields.document.here()%>
            </div>        

        
            <ul class="sliders-wrap-inner" style="width:580px; height:300px;">

<%
	for(var i in value.assistances){
%>
                <li>
                    <div class="slider-description"><div class="module_content"></div> </div>
                </li>
<%
	}
%>            
            </ul>
        </div>
        <!-- END MAIN CONTENT --> 
        <!-- NAVIGATOR -->
        <div class="navigator-content">
        	<div><input type="text" id="assist_text_<%=objectId%>" style="border:none; width:98px" /></div>
            <div class="navigator-wrapper">
                <ul class="navigator-wrap-inner">
<%
	for(var i in value.assistances){
%>
                    <li onclick="mw3.getFaceHelper('<%=objectId%>').enter('<%=value.assistances[i]%>');" assistname="<%=value.assistances[i]%>">
                        <div> <span><%=value.assistances[i]%></span> </div>
                    </li>
<%
	}
%>                
                </ul>
            </div>
        </div>
        <!----------------- END OF NAVIGATOR --------------------->
        <div id="assist_down" class="button-next">Next</div>
    </div>
    
    <!------------------------------------- END OF THE CONTENT -------------------------------------------------> 
    
</div>
    </div>
    <div id="tabs-2" class="right_div">
        <%=fields.webServiceDefinition.here()%>
    </div>
    <div id="tabs-3" class="right_div">
        <%=fields.entityDefinition.here()%>
    </div>
    <div id="tabs-4" class="right_div">
        4444444444444
    </div>
</div>