<%
if (value != null){
    objectMetadata.faceOptions && objectMetadata.faceOptions['tabClass'];

	var tabClass = objectMetadata.faceOptions && objectMetadata.faceOptions['tabClass'];
	if(!tabClass)
		tabClass = 'org.uengine.codi.mw3.ide.CloudTab';
	
	var divClass = tabClass.split('.').join('_');
	
%>
<div class="boxtopleftTab">
    <span class="boxtoprightTab">
<%	
	for (var i=0; i<value.tabs.length; i++){
		var tabId = null;
		var tabName = '';
		var tabMetadata = mw3.getMetadata(value.tabs[i].__className);
		
		var tab = {
			__className : tabClass,
			id : value.tabs[i].id,
			name : value.tabs[i].name,
			type : value.tabs[i].type,
			parentId : objectId,
			className : value.__className
		};
%>
	<div id="top_<%=objectId%>_<%=i%>" class="<%=divClass%>" >
		<%=mw3.locateObject(tab, tab.__className, null)%>
	</div>
<%			
	}
%>  
    </span>
</div>


<div class="boxmiddleright">
	<div class="boxmiddleleft">
		<div class="contentcontainer" style="position: relative">
<%
	for (var i=0; i<value.tabs.length; i++){
%>
	<div id="bottom_<%=objectId%>_<%=i%>" style="display:none; height:100%">
		<%=mw3.locateObject(value.tabs[i], value.tabs[i].__className, null, null, {objectId: objectId, name: '[' + i + ']'})%>
	</div>		
<%	
	}
%>
		
		</div>
	</div>
</div>


<div class="boxbottomleft"><span class="boxbottomright"></span></div>

<%
}
%>