<%
	var preview = false;
%>
	<span id="preview_<%=objectId%>">
		<div class="workItem_tabs">
			 <ul>
				<li class="current">
					<a href="#" onClick="<%=methods.viewAsPDF.caller()%>"><span><%=mw3.localize('$ViewAsPdf')%></span></a>
				</li>	
			 	<li style="<%=value.convertStatus==null?'display:none':''%>">
			 		<a href="#" onClick="<%=methods.viewAsImages.caller()%>"><span><%=mw3.localize('$ViewAsImage')%></span></a>
			 	</li>
			 </ul>
		</div>
<%		
		if(value.mimeType != null && value.mimeType == 'image'){
			if(value.convertStatus != null && value.convertStatus == '2')
				preview = true
		}else{			
			if(value.convertStatus != null && (value.convertStatus =='1' || value.convertStatus =='2'))
				preview = true
		}
		
		if(!preview){
%>
		<div id="convert_progress_<%=value.convertStatus==null?'pdf':'img'%>_<%=objectId%>" align="center">
			<br />
			<br />
			<br />
			<li></li>
			<li><b><i><%=mw3.localize('$PreviewLoading')%></i></b></li>
			<progress id="convertProgressBar"></progress>
			<li></li>
		</div>
<%
		}
		
		if(value.mimeType != null && value.mimeType == 'image'){
			if(!preview){
%>
		<img style="display:none" src="preview/<%=value.taskId%>.image" />
<%
			}else{
				if(value.pageCount != null){
%>
				<table>
<%
					for(i=0; i<value.pageCount; i++){
%>
 					<tr>
						<td> <img width="100%" src="preview/<%=value.taskId%>.pdf_<%=i%>.jpg"/></td>
					</tr>
					<tr>
						<td align="center" style="padding:5px 0 20px 0; font-weight:bold">< Page <%=i+1%> ></td>
					</tr>
<%				
					}
%>
				</table>
<%
				}		
			}
		}else{
%>
		 <iframe id="converted_pdf_<%=objectId%>" style="display:none" onload="mw3.getFaceHelper(<%=objectId%>).onloadPdf();" src="preview/<%=value.taskId%>.pdf" frameborder="0" scrolling="no" width="100%" height="300px" />
<%				
		}
%>
		<br />
		<br />
	</span>
