<%
if(value!=null){
%>
		<td align="center"><%=fields.key.here()%></td>
		<td><%=fields.name.here()%></td>
		<td><%=fields.dataType.here()%></td>
		<td><%=fields.length.here()%></td>

		<td align="center"><%=fields.allowNull.here()%></td>
		<td><%=fields.defaultValue.here()%></td>

<!--
		<td><%=fields.comment.here()%></td>	
-->

		<td>
				<ul>
		
<%		
		if(mw3.when != mw3.WHEN_EDIT){
%>		 		
		
					<li><a id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').edit();"><span>edit</span></a></li>
					<li><a id="wBtn" href="#" onClick="<%=methods.up.caller()%>"><span>up</span></a></li>
					<li><a id="wBtn" href="#" onClick="<%=methods.down.caller()%>"><span>down</span></a></li>
					<li><a id="wBtn" href="#" onClick="<%=methods.remove.caller()%>"><span>remove</span></a></li>
			
<%
		}else{
			if(mw3.where == "newEntry"){
%>					
					<li><a id="wBtn" href="#" onClick="<%=methods.add.caller()%>"><span>add</span></a></li>
<%
			}else{
%>
					<li><a id="wBtn" href="#" onClick="<%=methods.save.caller()%>"><span>save</span></a></li>
<%
			}
		}
%>			
				</ul>
		</td>		
		<td><div id="progress_<%=objectId%>"></div></td>
<%
	}	
%>