<%
if (value != null){
    objectMetadata.faceOptions && objectMetadata.faceOptions['tabClass'];

    var tabClass = objectMetadata.faceOptions && objectMetadata.faceOptions['tabClass'];
    if(!tabClass)
        tabClass = 'org.uengine.codi.mw3.ide.CloudTab';
    
    var divClass = tabClass.split('.').join('_');
    
%>
<div class="boxtopleftTab"  style="display:none;">
    <span class="boxtoprightTab">
<%  
    for (var i=0; i<value.pagePanel.length; i++){
        var tabId = null;
        var tabName = '';
        var tabMetadata = mw3.getMetadata(value.pagePanel[i].__className);
        
        var tab = {
            __className : tabClass,
            id : value.pagePanel[i].id + value.pageText[i],
            name : value.pageText[i],
            type : value.pagePanel[i].type ? value.pagePanel[i].type : 'java' ,
            parentId : objectId,
            className : value.__className
        };
%>
    <div id="top_<%=objectId%>_<%=i%>" class="<%=divClass%>">
        <%=mw3.locateObject(tab, tab.__className, null)%>
    </div>
<%          
    }
%>  
    </span>
</div>


<div class="boxmiddleright">
    <div class="boxmiddleleft">
        <div class="contentcontainer" style="position: relative; margin:0px;overflow:hidden;">
<%
    for (var i=0; i<value.pagePanel.length; i++){
%>
    <div id="bottom_<%=objectId%>_<%=i%>" style="display:none; height:100%">
        <%=mw3.locateObject(value.pagePanel[i], value.pagePanel[i].__className)%>
    </div>      
<%  
		mw3.addBeanProperty(objectId, "[" + i + "]");
    }
%>
        
        </div>
    </div>
</div>


<div class="boxbottomleft"   style="display:none;"><span class="boxbottomright"></span></div>

<%
}
%>
