<table>

	<tr>
		<td><%=fields.writer.here()%></td> 
		<td>
		
<%	if(mw3.when==mw3.WHEN_NEW && value.writer==null){%>
	
	<== You're required to login to leave a feedback.
<%	}else{ 
		if(mw3.when==mw3.WHEN_NEW){ %>
			<input id="post_<%=objectId%>" value="" size="40" onkeydown="keyEventProcess('<%=objectId%>')">			
<%  }else{ %>
			

			<%=fields.text.here()%> 												
<%
		} %>
	
		<%=methods.post.here()%>			
<%	}

	var session = mw3.getAutowiredObject("org.metaworks.website.Session");
			
	if(session!=null && session.loginUser!=null){
		if(session.loginUser.admin || value.writerId == session.loginUser.userId) { %>

			<%=methods.delete.here()%>

	
<%			if(mw3.when != mw3.WHEN_EDIT && mw3.when != mw3.WHEN_NEW){ %>
				<input type=button onclick="<%=editFunction%>" value="edit">
<%			}
		}

	}

%>
		</td>

	</tr>
	
</table>



