<table>

	<tr>
		<td><%=fields.writer.here()%></td> 
		<td>
		
<%	if(mw3.when==mw3.WHEN_NEW && value.writer==null){%>
	
	<== You're required to login to leave a feedback.
<%	}else{%>
		<%=fields.text.here()%>
<%
	}

	var loginUser = mw3.getAutowiredObject("org.metaworks.website.IFacebookLoginUser");
	
	if(loginUser!=null && loginUser.admin){
%>

<%=methods.post.here()%>
<%=methods.delete.here()%>
	
<%
	
		if(mw3.when != mw3.WHEN_EDIT && mw3.when != mw3.WHEN_NEW){
%>
		<input type=button onclick="<%=editFunction%>" value="edit">
		
<%
		}

	}

%>
		</td>

	</tr>
	
</table>

