
<%
if(value!=null){

 if(mw3.when!=mw3.WHEN_VIEW || value.enabled){
 
  if(value.selected){%>
<b><a onclick="mw3.getFaceHelper('<%=objectId%>').showSubMenu()"><%=value.name%></a></b>
<table><td width=10></td><td><%=fields.subMenu.here({when: mw3.when})%></td></table>

<%}else{%>

<a onclick="mw3.getFaceHelper('<%=objectId%>').showSubMenu()"><%=value.name%></a>

<%}
 }
 

  if(mw3.when==mw3.WHEN_EDIT){
  
  	if(value.enabled){
%>

<%=methods.disable.here()%>

<%  }else{%>
<%=methods.enable.here()%>

<%	}

%>
<%=methods.delete.here()%>
<%=methods.addChild.here()%>
<%

  }

}
%>