<%

if(mw3.where == 'ssp'){
	if(mw3.when == 'edit') {
%>
	<span class="form_tit"><br /><br /><%=value.description%></span>
	<div class="sp_form_block">
		<div style="float:left; background:#f0f2f4; border:1px solid #d3d6da;-webkit-border-radius:3px;-moz-border-radius:3px; line-height:30px;margin-right:5px;"><%=fields.value.here()%></div>
		<div id="sp_editBtn_<%=objectId%>"><a id="wBtn" onClick="<%=methods.save.caller()%>"><span><%=mw3.localize('$Save')%></span></a></div>
	</div>
<%
	}else {
%>
	
	<ul>
		<li id="sp_accordion_list_<%=objectId%>"><%=value.description%></li>
	</ul>
	
	<%
	}
}else if(mw3.where == 'ide'){
%>
    <label class="fb_box_desc" id="">이름</label>
    <div class=""><%= fields.name.here()%>
    </div>
    <label class="fb_box_desc" id="">값</label>
    <div class=""><%= fields.value.here()%>
    </div>
    <label class="fb_box_desc" id="">화면출력정보</label>
    <div class=""><%= fields.description.here()%>
    </div>
    <label class="fb_box_desc" id="">메타데이타 타입변경</label>
    <div class=""><%= fields.type.here()%>
    </div>
      <div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px; padding-bottom:8px;">
      <ul>
          <li>
<%
		if(value.metaworksContext.when == 'edit') {
%>	          
              <a id="wBtn" href="#" onclick="<%=methods.edit.caller()%>"><span>저장</span></a>
<%
		}else{
%>
			  <a id="wBtn" href="#" onclick="<%=methods.add.caller()%>"><span>추가</span></a>
<%		
		}
%>	 
          </li>
      </ul>
  </div>
  
<%
}else{
%>
     <div class="fb_form_box" onclick="<%=methods.metadataModify.caller()%>">
            <div class="hover_div">
                 <span>
                    <img src="images/waveStyle/copy.png" />
                    <img src="images/waveStyle/delete.png" onclick="<%=methods.remove.caller()%>" />
                 </span>
            </div>
            <div style="margin: 0px 10px 0px 0px; float:left">
                <img class="ide_icon" src="images/<%=value.type%>.png"/>
            </div>
            
            <div style="float:left">
                <span><%=mw3.localize("$Name")%>: </span>
                <span style="margin: 0px 0px 0px 3px;"><%=value.name%></span>
                <div>
                    <li style="margin-top: 10px"><%=value.description%></li>
                </div>
                <% 
                    if(value.file != null && value.file.mimeType != null && value.file.mimeType=='image'){ 
                    %>
                        <div style="float:left;margin: 0px 5px 0px 0px;"><%=fields.file.here({when: (value.file.mimeType.indexOf('image')==0)?'image':'view'})%></div>
                <% } %>
            
            </div>
            <div class="clear"></div>
        </div>
<%
}
%>



