<div  id="method_<%=objectId%>_goKnowledge" height=300>
<%
	if(value){
%>

<img src="images/waveStyle/page_flip.png" "="" border="0"  style="width: 42px; height: 42px; " usemap="#Map">

<map name="Map" id="Map">

	<% if(value.oce) { %>
		
		<area shape="circle" coords="101,39,17" href="#" onclick="<%=methods.goDashBoard.caller()%>" title="<%=mw3.localize("$move.to.dashboard")%>"/>
	    <area shape="circle" coords="140,78,18" href="#"  onclick="<%=methods.goSns.caller()%>" title="<%=mw3.localize("$move.to.sns")%>"/>
	    <area shape="circle" coords="178,116,21" href="#"  onclick="<%=methods.goSelfServicePortal.caller()%>" title="<%=mw3.localize("$move.to.ssp")%>"/>
	    <area shape="circle" coords="219,156,20" href="#"  onclick="<%=methods.goIDE.caller()%>" title="<%=mw3.localize("$move.to.ide")%>"/>
	    <area shape="circle" coords="256,195,21" href="#"  onclick="<%=methods.goMarketplace.caller()%>" title="<%=mw3.localize("$move.to.appStore")%>"/>
    
	<% }else { %>
		<area shape="rect" coords="153,37,199,84" href="#" onclick="<%=methods.goProcess.caller()%>" title="<%=mw3.localize("$move.to.process")%>" />
		<area shape="rect" coords="219,108,265,157" href="#" onclick="<%=methods.goIDE.caller()%>" title="<%=mw3.localize("$move.to.ide")%>" />
	
		<% if(false) { %>
		
			<% if(value.ide){ %>
				<% if(value.knowlege){ %>
					<area shape="rect" coords="102,19,166,75" href="#" onclick="<%=methods.goProcess.caller()%>" title="<%=mw3.localize("$move.to.dashboard")%>" />
					<area shape="rect" coords="166,77,225,138" href="#" onclick="<%=methods.goKnowledge.caller()%>" title="<%=mw3.localize("$move.to.knowledge")%>" />
					<area shape="rect" coords="224,141,285,204" href="#" onclick="<%=methods.goMarketplace.caller()%>" title="<%=mw3.localize("$move.to.appStore")%>" />
				<% }else{ %>
				<% } %>
			<% }else{ %>
				<% if(value.knowlege){ %>
					<area shape="rect" coords="153,37,199,84" href="#" onclick="<%=methods.goProcess.caller()%>" title="<%=mw3.localize("$move.to.process")%>" />
					<area shape="rect" coords="219,108,265,157" href="#" onclick="<%=methods.goKnowledge.caller()%>" title="<%=mw3.localize("$move.to.ide")%>" />
				<% } %>
			<% } %>
		<% }else if(false){ %>
			<area shape="rect" coords="88,32,132,73" href="#" onclick="<%=methods.goProcess.caller()%>" title="<%=mw3.localize("$move.to.process")%>" />
		    <area shape="rect" coords="137,73,180,120" href="#" onclick="<%=methods.goSelfServicePortal.caller()%>" title="<%=mw3.localize("$move.to.knowledge")%>" />
		    <area shape="rect" coords="185,124,230,170" href="#" onclick="<%=methods.goIDE.caller()%>" title="<%=mw3.localize("$move.to.ide")%>" />
		    <area shape="rect" coords="235,172,279,218" href="#" onclick="<%=methods.goMarketplace.caller()%>" title="<%=mw3.localize("$move.to.appStore")%>" />
		    <area shape="rect" coords="188,37,229,76" href="#" onclick="<%=methods.goSelfServicePortal.caller()%>" title="<%=mw3.localize("$move.to.ssp")%>"/>
		    <area shape="rect" coords="233,80,279,124" href="#" onclick="<%=methods.goNkia.caller()%>" title="go Nkiam"/>
		    <area shape="rect" coords="233,80,279,200" href="#" onclick="<%=methods.goAppMap.caller()%>" title="<%=mw3.localize("$move.to.appMap")%>"/>
		    <area shape="rect" coords="232,175,284,222" href="#" onclick="<%=methods.goMarketplace.caller()%>" title="<%=mw3.localize("$move.to.appStore")%>" />
		<% } %>
	<% } %>
	
</map>
	
<div class="msg_block">
</div>	

<%
	}
%>	
</div>