
<div id="navigator">
<div style="height:15px;"></div>
	<div class="depth2">
		<ul class="fist_menu">
			<li class="selected_navi"><img class="navi_icon" src="images/waveStyle/nav_newsfeed.png"><a onClick="<%=methods.loadOce.caller()%>" href="#"><%=mw3.localize("$Home")%></a></li>
			<li><img class="navi_icon" src="images/waveStyle/nav_newsfeed.png"><a onClick="#" href="#"><%=mw3.localize("$All")%></a></li>
		</ul>
	</div>
	<%=fields.appPerspective.here() %>
	<%=fields.projectPerspective.here() %>
</div>