<% if(value){ %>
	<% if(value.resultType == 'WIKI'){ %>
		<div class="form_table2"> 
			<table border="1" cellspacing="0" > 
				<tbody>
					<tr>
						<th scope="row">제목</th>
						<td><%= value.title %></td>
						<td><%=methods.choose.here()%></td>
					</tr>
					<%if(value.thumbnail){ %>
					<tr>
						<th scope="row">썸네일</th>
						<td colspan="2"><img src="<%= value.thumbnail %>" width="220" height="150" /></td>
					</tr>
					<%}%>
					<tr>
						<th scope="row">내용</th>
						<td colspan="2"><%= value.url %></td>
					</tr>
				</tbody>
			</table>
		</div>
	<% }else if(value.resultType == 'LMS'){ %>
		<div class="form_table2"> 
			<table border="1" cellspacing="0" > 
				<tbody>
					<tr>
						<th scope="row">검색결과</th>
						<td><%= value.title %></td>
						<td><%=methods.choose.here()%></td>
					</tr>
					<%if(value.thumbnail){ %>
					<tr>
						<th scope="row">썸네일</th>
						<td colspan="2"><img src="<%= value.thumbnail %>" width="220" height="150" /></td>
					</tr>
					<%}%>
				</tbody>
			</table>
		</div>
	<% }else{ %>
		<div class="form_table2"> 
			<table border="1" cellspacing="0" > 
				<tbody>
					<tr>
						<th scope="row">검색결과</th>
						<td><%= value.title %></td>
					</tr>
				</tbody>
			</table>
		</div>
	<% } %>
<% } %>