	<li>
		<div class="contactlistpic">
			<div id="" class="my_status" style="background:url(../../images/waveStyle/logoff.png)"></div>
			<%=fields.friends.here({when: 'onlyFaceSmall'})%>
		</div>
		
		<div class="contactlistname">
			<span class="fontbold"><%=value.friendName%></span><br />
			<span class="fontgray"><%=value.friendId%></span><br />
			<span class="fontgray"></span>
		</div>
		<div style="clear:left;"></div>
		<%
		if(mw3.where && mw3.where =='roleUserPicker') {
		%>
		<%=methods.roleUserPickUp.here()%>
		<%
		} else {
		%>
		<%=methods.addFollower.here()%>
		<%=methods.pickUp.here()%>
		<%
		}
		%>
	</li>


