<% if(value!=null){

	if(mw3.where=="instanceNavigator"){%>
	
<div id="method_<%=objectId%>_flowchart" style="cursor:pointer" onclick="<%=methods.flowchart.caller()%>"><%=value.defName%></div>	
	
	<%
		mw3.where="anywhere";
	
	
	}else{
			
		var isChat = (value.defId == null && value.secuopt == '1');
		var isOpenCollab = (value.defId == null && value.secuopt=='0');
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		
		
		value.initiator.metaworksContext.how='list';
	
	%>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_type" <%=(value.status=='Completed') ? "style='background:#eeeeee';":""%>>						
	<tbody>
	<tr  class="q <%=value.firstDueTimeTerm ? (value.firstDueTimeTerm>=0 ? (value.firstDueTimeTerm>=3 ? "" : "plus" + value.firstDueTimeTerm ) : "minus" )  : "" %>" onClick="<%=methods.detail.caller()%>" style="cursor:pointer;">
		<td class="first_td" valign="top">
			<div class="worklistuser">
					<dl>					                		
						<dd><%value.currentUser.metaworksContext.how='small';%><%=fields.initiator.here() %></dd>
						<div class="clear"></div>					                	
					</dl>	
			</div>				
		</td> 
		<td>									
			<ul class="lst_type">										
				<li class="trigger">
				<% if(isChat){ %>
					<!--span class="type_ping"></span--><span class="instanceLock"></span>
				<% }else if(isOpenCollab){ %>
					<!--span class="type_ping"></span--><span class="instanceUnLock"></span>
				<% }else if(isProcess){ %>
					<span class="type_process"></span><span class="instanceUnLock"></span>
				<% }else if(isSecureProcess){ %>
					<span class="type_process"></span><span class="instanceLock"></span>
				<% } %>	
						
				<a href="#middle-center"><b><font color=204070><%=value.initiator.name%></font> &nbsp;&nbsp; <font color=#5C5C5C><%=value.name%></font></b></a></li>
				
				<% if(value.currentUser && value.currentUser.userId && (value.initiator.userId!=value.currentUser.userId || value.name!=value.lastCmnt)){%>
			
			<table><td><%value.currentUser.metaworksContext.how='small';%><%=fields.currentUser.here()%></td>
			<td colspan=2 style="border:none; padding-right:10px;"><font color=204070><%=value.currentUser.name%></font>&nbsp;&nbsp; <font color=gray><%=value.lastCmnt%></font></td></table>
	
				<%}%>
												
			</ul>								
		</td>
		<td class="last_td"><font color="gray"><div style="margin-bottom:5px;"><%=fields.startedDate.here()%></div></font>
		
		<%if(value.status=='Completed'){%> <div class="badge">&nbsp;&nbsp; <%=mw3.localize('$Complete')%> &nbsp;&nbsp;</div> 
		<%}else if(value.dueDate){ 
			if(value.dueDate < new Date()){%>
				<div class="badge" style="background:#F52020;">&nbsp;&nbsp; <%=mw3.localize('$Delay')%> &nbsp;&nbsp;</div>
			<%}else{%>
					<table><td><%=mw3.localize('$Due')%> :</td><td><%=fields.dueDate.here()%></td></table>
			<%}
		 }%>
			
		</td>
	</tr>
	
</table>


	<%}%>


<%}%>
