<%
	if(value){
%>

		<div class="pane ui-layout-north">
			<%=fields.followers.here()%>
			
			<div class="toolbar">
			    <ul>
			        
			        <li id="wih_btn_item_Information">
			        	<a href="javascript:<%=methods.activityStream.caller()%>">
			        		<span><img src="images/waveStyle/i_workitem_i.png" border="0"></span>
			        		<span>프로세스</span>
			        	</a>
			        </li>
			        <li id="wih_btn_item_GanttChart">
			        	<a href="javascript:<%=methods.schedule.caller()%>">
			        		<span style="color: black; "><img src="images/waveStyle/i_gantt.png" border="0"></span>
			        		<span style="color: black; ">스케쥴</span>
			        	</a>
			        </li>
			        <li id="wih_btn_sendMail" style="display: none; ">
			        	<a href="javascript:sendMail()">
			        		<span><img src="images/waveStyle/i_mail.png" border="0"></span>
			        		<span>메일</span>
			        	</a>
			        </li>
			        <li id="wih_btn_reply" style="display: block; ">
			        	<a href="javascript:<%=methods.newSubInstancePanel.caller()%>">
			        		<span style="color: black; cursor:hand "><img src="images/waveStyle/i_reply.png" border="0"></span>
			        		<span>활동추가</span>
			        	</a>
			        </li>
			        <li id="wih_btn_complete" style="display: none; ">
			        	<a href="">
				        	<span><img src="images/waveStyle/i_completed.png" border="0"></span>
				        	<span>완료</span>
				        </a>
			        </li>
			        <li id="wih_btn_edit" style="display: none; ">
			        	<a href="">
			        		<span><img src="images/waveStyle/i_edit.png" border="0"></span>
			        		<span>수정</span>
			        	</a>
			        </li>
			        <li id="wih_btn_delete" style="display: none; ">
			        	<a href="javascript:deleteMail()">
			        		<span><img src="images/waveStyle/i_delete.png" border="0"></span>
			        		<span>삭제</span>
			        	</a>
			        </li>
			        <li id="wih_btn_item_delete" style="display: block; ">
			        	<a href="javascript:deleteProcessInstance()">
			        		<span><img src="images/waveStyle/i_delete.png" border="0"></span>
			        		<span>삭제</span>
			        	</a>
			        </li>
			        <li id="wih_btn_toInstance" style="display: none; ">
			        	<a href="javascript:getRecommandProcessList();">
			        		<span><img src="images/waveStyle/i_toinst.png" border="0"></span>
			        		<span>프로세스화</span>
			        	</a>
			        </li>			       
<%
			if(value.secuopt == null || value.secuopt == '0'){
%>						        
			        <li id="wih_btn_sec">
			        	<a href="javascript:<%=methods.toggleSecurityConversation.caller()%>">
			        		<span><img src="images/waveStyle/i_unsecuopt.png" border="0"></span>
			        		<span>보안설정</span>
			        	</a>
			        </li>
<%
			}else{
%>						        
			        <li id="wih_btn_sec" class="toolbar_current">
			        	<a href="javascript:<%=methods.toggleSecurityConversation.caller()%>">
			        		<span><img src="images/waveStyle/i_secuopt.png" border="0"></span>
			        		<span>보안설정중</span>
			        	</a>
			        </li>
<%
			}
%>			
			        
			        <!-- 2011.09.05 -->
			        <!-- li id="wih_btn_reply"><a href="javascript:openEventHandler()"><span><img src="images/waveStyle/i_reply.png" border="0" /></img></span><span>이벤트핸들러</span></a></li-->
			        
			    </ul>
			</div>
		</div>

		<div class="pane ui-layout-center">
			<div class="ui-layout-content">
				<%=fields.instanceNameChanger.here({when:'edit'})%>
				<%=fields.eventTriggerPanel.here()%>
				<%=value.scheduleEditor ? fields.scheduleEditor.here() : ""%>
				
				<%=fields.instanceViewThreadPanel.here()%>
				<%=fields.threadPosting.here()%>

<%
		if(mw3.when != "public"){
%>
 
				<%=fields.newItem.here()%>
				<%=fields.crowdSourcer.here()%>

<%
		}
%>		
			</div>
		</div>
<%			
	}
%>