<%
	if(value){
%>
	<div id="wih_button">
		<input type="button" value="댓글" onclick="<%=methods.newComment.caller()%>">
		<input type="button" value="소스코드" onclick="<%=methods.newSourceCode.caller()%>">
		<input type="button" value="파일" onclick="<%=methods.newFile.caller()%>">		
	</div>
	
	<table>
<%		
		if(value.type == "comment"){
%>
		<tr>
			<td>
				댓글을 입력해주세요.
			</td>
		</tr> 
		<tr>
			<td> 
				<input id="post_<%=objectId%>" value="" size="80" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
			</td>			
			
		</tr>
		<tr>
			<td><input type="button" value="게시" onclick="<%=methods.add.caller()%>"></td>
		</tr> 
<%		
		}else if(value.type == "src"){
%>
		<tr>
			<td> 
				소스코드를 입력해주세요.
			</td>			
			
		</tr>
		<tr>
			<td> 
				<input id="post_<%=objectId%>" value="" size="80" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
			</td>			
			
		</tr>
		<tr>
			<td>
				<%=fields.sourceCode.here()%>
			</td>
		</tr>				
		<tr>
			<td><input type="button" value="컴파일" onclick="<%=methods.compile.caller()%>"><input type="button" value="게시" onclick="<%=methods.add.caller()%>"></td>
		</tr>
<%		
		}else if(value.type == "file"){
%>
		<tr>
			<td> 
				<input id="post_<%=objectId%>" value="" size="80">
			</td>			
			
		</tr>
		<tr>
			<td>
				컴퓨터에 있는 이미지나 동영상 파일을 선택하세요.
			</td>
		</tr>				
		<tr>
			<td>
				<%=fields.file.here()%>
			</td>
		</tr>
		<tr>
			<td><input type="button" value="게시" onclick="<%=methods.add.caller()%>"></td>
		</tr> 			
<%		
		}
%>
	</table>
<%
	}
%>