<%
	if(value){
	
	
		value.writer = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user;
		value.writer.metaworksContext.when = 'workitem';
%>


<div class="view_box3">
	<!--div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div-->
	<!--div class="cont"-->
 	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px;">
<%		
		if(value.type == "comment"){
%>
		<tr>
		
			<td width=8>&nbsp;
			</td>
			
			<td width=30>
				<%=fields.writer.here({when:'view'})%>
			</td>
		
			<td width=16>&nbsp;</td>
		
			<td>
			
				<div id="commandDiv_<%=objectId%>"> 
					<textarea class="newComment" _placeholder="<%=mw3.localize('$WhatYouThinkNow')%>" id="post_<%=objectId%>" value="<%=value.title%>" tabindex=1 onkeyup="mw3.getFaceHelper('<%=objectId%>').press()"  rows="1" style="width:99%; height:21px; -webkit-border-radius:3px; outline:none;  webkit-border-radius:3px; border:1px solid #ccd; none;"><%=value.title%></textarea>
					<div id="commandRecommendDiv_<%=objectId%>"></div> 
				</div>
				
			</td>			
			
			<td width=50 align="center"><a id="wBtn" href="javascript:<%=methods.add.caller()%>"><span id="method_<%=objectId%>_add"><%=mw3.localize("$Post")%></span></a></td>
		</tr> 
		
		
<%		
		}else if(value.type == "src"){
%>

		<tr>
			<td width="50" height="25" style="color:#8D98AF; padding-left:15px;"> 
				<%=mw3.localize("$Title")%> 
			</td>			
			<td style="padding-right:15px;"> 
				<input id="post_<%=objectId%>" value="<%=value.title%>"  style="width:99%;-webkit-border-radius:3px;  border:1px solid #ccc" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
			</td>			
			
		</tr>
		<tr>
			<td colspan="2">
				<div style="padding:15px;">
					<div style="position:relative; height:300px; border:1px solid #ccc;">
						<%=fields.sourceCode.here()%>
					</div>
				</div>
			</td>
		</tr>				
		<tr>
			<td height="30" colspan="2" style="padding-left:15px;">
				<a id="wBtn" href="javascript:<%=methods.compile.caller()%>"><span><%=mw3.localize("$Compile")%></span></a>
				<a id="wBtn" href="javascript:<%=methods.add.caller()%>"><span><%=mw3.localize("$Post")%></span></a>
			</td>
		</tr>
<%		
		}else if(value.type == "memo"){
%>

		<tr>
			<td width="50" height="25" style="color:#8D98AF; padding-left:15px;"> 
				Title : 
			</td>			
			<td style="padding-right:15px;"> 
				<input id="post_<%=objectId%>" value="<%=value.title%>"  style="width:99%;-webkit-border-radius:3px;  border:1px solid #ccc" onkeydown="mw3.getFaceHelper('<%=objectId%>').press()">
			</td>			
			
		</tr>
		<tr>
			<td colspan="2">
				<div style="padding:15px;">
						<%=fields.memo.here({when:'edit'})%>
				</div>
			</td>
		</tr>				
		<tr>
			<td height="30" colspan="2" style="padding-left:15px;">
				<a id="wBtn" href="javascript:<%=methods.add.caller()%>"><span>게시</span></a>
			</td>
		</tr>
<%		
		}else if(value.type == "file"){
%>
		<tr>
			<td width="50" height="25" style="color:#8D98AF; padding-left:15px;"> 
				Title : 
			</td>
			<td style="padding-right:15px;"> 
				<input id="post_<%=objectId%>" value="<%=value.title%>" style="width:99%;-webkit-border-radius:3px; border:1px solid #ccc">
			</td>			
			
		</tr>			
		<tr>
			<td height="30" colspan="2" style="padding-left:15px;">
				<%=fields.file.here()%>
			</td>
		</tr>
		<tr>
			<td height="30" colspan="2" style="padding-left:15px;"><a id="wBtn" href="javascript:<%=methods.add.caller()%>"><span id="method_<%=objectId%>_add"><%=mw3.localize("$Post")%></span></a></td>
		</tr> 			
<%		
		}
%>
	</table>
	<!--/div-->
	
	<div id="wih_button">
		<a class="<%= value.type=='comment'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newComment.caller()%>"><span><%=mw3.localize("$Write")%></span></a>
		<a class="<%= value.type=='memo'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newMemo.caller()%>"><span id="method_<%=objectId%>_newMemo"><%=mw3.localize("$Memo")%></span></a>
		<a class="<%= value.type=='file'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newFile.caller()%>"><span id="method_<%=objectId%>_newFile"><%=mw3.localize("$File")%></span></a>
		<a class="<%= value.type=='src'?'comment_btn_on':'comment_btn_off' %>" onclick="<%=methods.newSourceCode.caller()%>"><span id="method_<%=objectId%>_newSourceCode"><%=mw3.localize("$SourceCode")%></span></a>
		<a class="comment_btn_off" onclick="<%=methods.newActivity.caller()%>"><span id="method_<%=objectId%>_newActivity"><%=mw3.localize("$etc")%></span></a>
	</div>
	
	<!--div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div-->
	

	
</div>
<div style="height:35px;">&nbsp;
</div>
<%
	}
	
%>


