<!--<div style="background:url(images/waveStyle/atvLine.gif) bottom center no-repeat; padding-bottom:40px; ">-->	


<%
	var isMine = (value.endpoint == mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId);

	mw3.setWhen('view');

	if(isMine == true){
%>
	<div style="position:relative;">
		<div class="commentTailRight"><img src="images/waveStyle/bubbleTailRight.png" ></div>				
		<div class="view_box3" style="background:#fff; margin-right:13px; width:80%;  float:right">
	
<% } else if(isMine == false){%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="65">
				<div class="notMePic">
					<div class="notMePicPic"><%=fields.writer.here()%></div>
					<div class="notMePicName"><%=value.writer.name%></div>
				</div>
			</td>			
			<td>
				<div style="position:relative;">
					<div class="commentTailLeft"><img src="images/waveStyle/bubbleTailLeft.png" ></div>				
					<div class="view_box2" style="background:#fff; margin-left:13px; width:80%;  float:left">
	

<% } %>
		<div class="guide">
			<span class="tl"></span>
			<span class="tr"></span>
		</div>
		<div class="cont" style="padding:5px 10px; margin:0px">	
			<table id="tableHidtoryContent_1" width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>	
					<% if(value.type!='comment'){%>						
						<td rowspan="3" width="45" align="left" >
							<div style="position:relative; height:38px;">
							<img src="images/waveStyle/wih<%=value.type%>.gif">
								<% if(value.status) { %>
									<span style="position:absolute; bottom:3px; right:12px;"><img src="images/activity_status/i_status_<%=value.status%>.png" style="margin-top:1px;" title="<%=value.status%>"></span>										
								<% } %>					
						</td>
					<% }%>
						<td>
							<div class="formcontexttitle" id="currentRunningWorkItemHandler">
								<% if(value.type=='comment' || value.type=='file' || value.type=='src'){%>
									<span>
										<%=value.title%>
									</span>								
								<%}else if(value.type==null){%>
									<span>
										<a href="javascript:<%=methods.detail.caller()%>"><%=value.title%> [ <%=value.status%> ]</a>
									</span>
									<span>
										<a href="javascript:<%=methods.workItemPopup.caller()%>"><img src="images/waveStyle/newWindow.png" style="margin-top:2px;" title="새창으로 열기"></a>
									</span>				
								<%}%>
								<% if(value.dueDate!=null){%>
									<span class="workItemDate">
									<% if(value.type!='comment' && value.type!='src' && value.type!='file' ){%>
									납기일 : 
									<%}%>
									<%=value.dueDate%></span>
								<%} if(value.startDate!=null){%>		
									<span class="workItemDate">
									<% if(value.type!='comment' && value.type!='src' && value.type!='file' ){%>
									시작일 :  
									<%}%>
									<%=value.startDate%></span>	
								<%}%>										
								<div class="clear"></div>
							</div>
						</td>
					</tr>
					<%if(value.type=='file'){%>
					<tr>
						<td>	
						<%  value.file.metaworksContext.when='view'; %>
							<%=fields.file.here()%>
						</td>
					</tr>
					<%}%>
					<%if(value.type=='src'){%>
					<tr>
						<td>	
							<div style="position:relative; height:350px;">					
								<%=fields.sourceCode.here()%>						
							</div>
						</td>
					</tr>
					<%}else if(value.workItemHandler != null && value.workItemHandler.instanceId != null ){
					
					
					%>
					<tr>
						<td>	
								<%=fields.workItemHandler.here()%>						
						</td>
					</tr>
					
					<%}else if(value.type == 'generic' ){
					
					
					%>
					<tr>
						<td>	
								<%=fields.genericWorkItemHandler.here()%>						
						</td>
					</tr>
					
					<%}%>
					<tr>
						<td>
							<div class="" style="position: relative;">
							<div class="good_up"><span id="saidGoodUsersInfo950"><div class="re_saidGood"><em>&nbsp;</em></div></span><span id="task950" class="cb_activate_up cb_first"><a href="javascript:pressIsGood('task', '950')"><em>좋아요</em></a></span>						
							</div>					
							</div>					
							<div id="addCommentArea_tempTaskId"></div>				
						</td>			
					</tr>			
			</table>
		</div>
		<div class="guide">
			<span class="lb"></span>
			<span class="rb"></span>
		</div>
	</div>
	<div class="clear"></div>
	
	<!--
	<% if(isMine == true && value.type=='comment'){%>
		<div class="commentTailRight"><img src="images/waveStyle/bubbleTailRight.png" ></div>
	</div>		
	<% }else if(isMine == false && value.type=='comment'){%>
		<div class="commentTailLeft"><img src="images/waveStyle/bubbleTailLeft.png" ></div>	
		</div></td></tr></tbody></table>
	<% } %>
	<div class="clear"></div>
	-->

<% if(value.workItemHandler && value.workItemHandler.instanceId){%>
<%=fields.workItemHandler.here()%>
<% }%>