<%
	if(value){
%>
	
<div id="cluetip-outer" style="width: <%=value.width%>px">
	<h3 id="cluetip-title"><b><%=value.name%></b>&nbsp;</h3>
	<div id="cluetip-inner">
		<div id="cluetip-close2">
			<a><img src="scripts/jquery/cluetip/images/cross.png" onclick="mw3.getFaceHelper(<%=objectId%>).destoryPopup()"></a>
		</div>
		<div id="addcontact-con" style="display: block; overflow:auto; border:1px solid #ccc; height:<%=value.height%>px">
			<%if(value.panel){%>
				<%=fields.panel.here()%>
			<%}else{%>
				<div style="width:400px;height:300px;">&nbsp;</div>
			<%}%>
		</div>
	</div>
</div>
<div id="cluetip-extra"></div>
<div class="cluetip-arrows" style="top: 10px; display: block; z-index: 98;"></div>

<%
	}
%>	