<%
	if(value){
%>
	
<div id="cluetip-outer" style="width: <%=value.width%>px">
	<h3 id="cluetip-title"><%=value.name%></h3>
	<div id="cluetip-inner">
		<div id="cluetip-close2">
			<a><img src="scripts/jquery/cluetip/images/cross.png" onclick="mw3.getFaceHelper(<%=objectId%>).destoryPopup()"></a>
		</div>
		<div id="addcontact-con" style="display: block; overflow:auto; border:1px solid #DBDBDB; height:<%=value.height%>px">
			<%=fields.panel.here()%>
		</div>
	</div>
</div>
<div id="cluetip-extra"></div>
<div class="cluetip-arrows" style="top: 10px; display: block; z-index: 98;"></div>

<%
	}
%>	