
<div id="canvasForLoopLines" style="position:absolute;left:0px;top:0px;z-index: -1"></div>

<div align="center" id="divFlowchartArea"></div>



<% 

//mw3.debug(value.parentFolder);

if(value.parentFolder){%>


<a href="/uengine-web/processmanager/ProcessDesigner.jnlp?folderId=<%=value.parentFolder%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>">New Process</a>

<%}else{%>


FlowChart:

<%=value.chartHTML%>


<a href="/uengine-web/processmanager/ProcessDesigner.jnlp?defId=<%=value.defId%>&defVerId=<%=value.defVerId%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>">Edit</a>

<%}%>


