<%
	if(value){
	
		if(mw3.when == 'view'){
%>
		<div style="float:left; margin-right:15px;">
			<span style="display:inline-block; line-height:37px;"><%=fields.employee.here() %></span>
				 |	
			<a href="http://www.slideshare.net/pongsor/110609-8326309" type="application/pdf"><%=mw3.localize("$Help")%></a>			 
				 |	
			<span style="display:inline-block; line-height:37px;"><a onClick="<%=methods.logout.caller() %>" style="cursor:pointer;"><%=mw3.localize("$Logout")%></a></span>
		</div>

			
<%
		} if(value.ux && value.ux == 'phone') {
%>
		<div  style="float:left">
			<a href="javascript:<%=methods.returnToList.caller()%>"><img src="images/waveStyle/back.gif"></a>
		</div>
<%
		}
	}
%>
