<%
	if(value){	
		if(mw3.when == 'view'){
			if(value.ux && value.ux == 'phone') {
%>
		<div onClick="<%=methods.returnToList.caller()%>" style="float:left;margin-right:10px; width:96px; padding-left:45px;background:url(images/waveStyle/back.gif) no-repeat;">
			<span style="display:inline-block; line-height:37px;"><b><%=mw3.localize("$List")%></b></span>			
		</div>
<%
			}
%>
		<div style="float:left; margin-right:15px;">
			<span style="display:inline-block; line-height:37px;"><%=fields.employee.here() %></span>
				 |	
			<a href="javascript:mw3.test(mw3.getAutowiredObject('org.uengine.codi.mw3.model.InstanceListPanel').__objectId, 'first', {guidedTour:true})" type="application/pdf"><%=mw3.localize("$Help")%></a>			 


<%	if(value.employee.isAdmin){%>
				 |	
			<a href="javascript:<%=methods.manager.here()%>">manager</a>
<%	}%>
				 |	
			<span style="display:inline-block; line-height:37px;"><a onClick="<%=methods.logout.caller() %>" style="cursor:pointer;"><%=mw3.localize("$Logout")%></a></span>
		</div>

			


<%
		}
	}
%>
