<%
	if(mw3.when == mw3.WHEN_VIEW){
		if(mw3.how == 'selectbox'){
%>
<%	
		}else if(mw3.how == 'radiobutton'){ 
%>		
			<span id="radio">
            	<input class="radio" name="radiogroup" type="radio">
            	<label class="choice"><%=value.option%></label>
            </span>
<%		
		}else if(mw3.how == 'checkbox'){
%>
			<span id="checkbox">
            	<input class="checkbox" type="checkbox">
                <label class="choice"><%=value.option%></label>
        	</span>
<%	
		}
%>
		<input type="hidden" id="option_<%=objectId%>" value="<%=value.option%>" />
        <input type="hidden" id="value_<%=objectId%>" value="<%=value.value%>" />	
<%		
	}else{
%>
		<div class="multi_line">
			<span>
				<%=mw3.localize('$option.field.displayname')%> <input class="text small" id="option_<%=objectId%>" type="text" value="<%=value.option%>">
			</span> 
			<span>				
				<%=mw3.localize('$option.field.id')%> <input class="text small" id="value_<%=objectId%>" type="text" value="<%=value.value%>">
			</span>			
			<span onclick="<%=methods.add.caller()%>"><img src="images/waveStyle/add.png" /></span>
			<span onclick="<%=methods.remove.caller()%>"><img src="images/waveStyle/delete.png" /></span>
		</div>
<%
	}
%>