<%
	if(mw3.where == 'ssp'){
%>

	<ul class="mp_left_menu cycle-pager external">
		<li id="mp_menu_list_<%=objectId%>" class="mp_menu_list"><%=value.appName%></li>
	</ul>

<%
	}else if(mw3.where == 'mapList'){

%>
<%
	}else if(mw3.where == 'oce_home'){
%>
	
	<li onClick="mw3.getFaceHelper(<%=objectId%>).clickAppList();">
		<img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="40" height="40"/>
		<%=value.appName%>
	</li>
<%
	}else if(mw3.where == 'oce_dashboard'){
	
%>
	
	<li onClick="<%=methods.openAppBrowser.caller()%>">
		<img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="40" height="40"/>
		<%=value.appName%>
	</li>
<%
	}else{

%>
	<div class="depth1" >
		<a onClick="<%=methods.openAppBrowser.caller()%>">
			<%=value.appName%>
		</a>
	</div>
<%
	}
%>

