<%
	if(value){
%>
		<ul>
			<li>
				<span style="float:left;"><%=fields.operandChoice.here()%></span>
				<div class="clear"></div>
			</li>
		</ul>
		<ul>
			<li>
				<span style="float:left;"><%=fields.valiableChoice.here()%></span>
				<span style="float:left;"><%=fields.signChoice.here()%></span>
				<span style="float:left;"><%=fields.expressionChoice.here()%></span>
				<div class="clear"></div>
			</li>
		</ul>
		<ul>
			<li>
				<span style="float:right;"><%=fields.expressionText.here()%></span>
				<div class="clear"></div>
			</li>
		</ul>
<%
	}
%>