<%
	if(value){
%>
		<ul>
			<li>
				<span style="float:left;"></span>
				<span style="float:left;"><%=fields.operandChoice.here()%></span>
				<span style="float:left;"><%=fields.valiableChoice.here()%></span>
				<span style="float:left;"><%=fields.signChoice.here()%></span>
				<span style="float:left;"><%=fields.expressionChoice.here()%></span>
				<span style="float:left;"></span>
				<span style="float:left; display:inline-block; cursor:pointer" onCLick="<%=methods.remove.caller()%>"><img src="images/waveStyle/loadFailed.gif" title="remove"></span>
				<div class="clear"></div>
			</li>
		</ul>
<%
	}
%>