<%
	if(value){
%>



<ul>
		<li>
				<div id="condiNode_<%=objectId%>" class="wfNode" style="margin:3px 0; position:relative">
				
					<%
						if(value.conditionType == 'Eval'){
					%>
							<%=fields.conditionObj.here()%>
					<%
						}else{
					%>
						<%=value.conditionName%>
					<%
						}
					%>
					<div id="condiNode_current_<%=objectId%>" class="wfnode_current" objectId="<%=objectId%>" style="display:none"><img src="images/waveStyle/navi_icon.png" ></div>
				</div>
	
			<%=fields.childNode.here()%>
		</li>
</ul>
<%
	}
%>