<%
	if(value){
%>
		<table>
			<tr>
				<td><span style="float:left;"><%=fields.valiableChoice.here()%></span></td>
				<td><span style="float:left;"><%=fields.signChoice.here()%></span></td>
				<td><span style="float:left;"><%=fields.expressionChoice.here()%></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					<span style="float:left;"><%=fields.conditionInput.here()%></span>
				</td>
			</tr>
		</table>
		<%
			if( mw3.how == "new" ){
		%>
		<div>
			<div style="float:right;"><a id="wBtn" href="#" onClick="<%=methods.addCondition.caller()%>"><span>컨디션 저장</span></a></div>
		</div>
		<%
			}else if( mw3.how == "edit" ){
		%>
		<div>
			<div style="float:right;"><a id="wBtn" href="#" onClick="<%=methods.addCondition.caller()%>"><span>컨디션 수정</span></a></div>
		</div>
		<%
			}
		%>
<%
	}
%>