<% 

		 mw3.newBeanProperty(objectId);

%>

<h1> Face Book </h1>
 <%=methods.logout.here()%>
 <%=methods.refresh.here()%>

<p>

<table>

<td valign=top>
  <%=fields.loginUser.here()%>
</td>
<td width=30></td>
<td>
  <%=fields.newsfeed.here()%>
  <%=fields.newPosting.here()%>
</td>
			
</table>

