<%
	if(value){
		if(mw3.how == 'perspectivePanel'){
			if(value.secuopt=='1'){
%>	
 				<a onClick="<%=methods.loadTopic.caller()%>" href="#"><span class="icon-lab"></span><%=value.name%></a>
<%	
			}else{
%>	 
				<a onClick="<%=methods.loadTopic.caller()%>" href="#"><span class="icon-lab"></span><%=value.name%></a>
<%
	 		}
		}else{
%>
		<ul>
			 <li style="cursor: pointer" onClick="<%=methods.goIDE.caller()%>">
				 <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="40" height="40"/>
				 <%=value.name%>
				 <div class="editicon3" onClick="<%=methods.remove.caller()%>"></div>
			 </li>
		</ul>
<%	
	 	}
	}
%>