<%
	if(value){
		if(mw3.how != 'NONE'){
			if(mw3.how != 'ROOT'){			
				if(mw3.how == 'PATH'){
		
		
%>
 <div class="wfPath" onclick="<%=methods.drillInto.caller()%>"><%=value.name%> > </div>
<%		
				
				}else {
%>
	<ul>
		<li>
		<span id="method_<%=objectId%>_newDocument">
		
<%
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";

				if(mw3.when != 'read'){
%>		
			<div id="wfnode_<%=objectId%>" class="wfNode" style="margin:3px 0; position:relative">
				<div id="wfnode_current_<%=objectId%>" class="wfnode_current" objectId="<%=objectId%>" style="display:none"><img src="images/waveStyle/navi_icon.png" ></div>
				
				<!-- opened, closed -->
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td style="width:30px;color:#65C0ED; padding-top:2px;font-size:11px;" valign="top">
							<%=value.id%>
						</td>
						<td>
								<span class="wfNodeText" style="width:100%;">
					<%	if(value.type=='img'){		
%>
								<img src="<%=value.name%>">
								<input type="text" id="wfnode_content_<%=objectId%>" style="height:1px ; border:none;background:transparent" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
<%					
						}else if(value.type=='LMS'){		
%>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent" value="<%=value.name ? value.name : ''%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
								<img src="<%=value.thumbnail%>" width="220" height="150" onclick="<%=methods.showLms.caller()%>">
<%					
						}else if(value.type=='video'){		
%>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent" value="<%=value.name ? value.name : ''%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
								<object width="300" height="300"><param name="movie" value="<%=value.name%>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="autoplay" value="0"></param><embed src="<%=value.name%>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="300"></embed></object>
<%				
						}else if(value.type=='slideshare'){		
%>
								<%=value.name%>
<%				
						}else if(value.type=='topic'){		
%>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:url(images/waveStyle/i_topic.png) no-repeat 5px 0px;  padding-left:30px; border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;" value="<%=value.name ? value.name : ''%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
<%				
						}else{ %>

								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent; border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent" value="<%=value.name ? value.name : ''%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').keydown(this)" onkeyup="mw3.getFaceHelper('<%=objectId%>').keyup(this);">
								<div>
									<div style="float:left; font-size:11px; color:#A4A4A4">
										StartDate:2013-01-01										
									</div>
									<div style="float:left; margin-left:5px; font-size:11px; color:#A4A4A4">
										EndDate:2013-01-04
									</div>
									<div style="float:left; margin-left:5px; font-size:11px; color:#A4A4A4">
										rBV:100
									</div>
									<div style="float:left; margin-left:5px; font-size:11px; color:#A4A4A4">
										ROI:100
									</div>
									
									<div style="clear:both" />
								</div>
<%					}%>


							</span>
						</td>
						
													<%  if(value.linkedInstId){%><td><span class="wfLink" onclick="<%=methods.linkInstance.caller()%>"></span></td><%}%>
						
					</tr>
				</table>
					
				</span>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>			
<%
				}else{						
%>
			<div id="wfnode_<%=objectId%>" class="wfNode" style="margin:3px 0">
				<!-- opened, closed -->
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td>
							<span class="wfNodeText">
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;background:transparent" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal" value="<%=value.name ? value.name : ''%>" readonly>
							</span>
						</td>
					</tr>
				</table>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>
<%
				}
				
				}
			}
			
			if(!value.close){			
%>
	<%=fields.childNode.here()%>
<%			
			}
%>
		</span>

		</li>
	</ul>
<%			
		}
	}
%>		