<%
	if(value){
		if(mw3.how != 'NONE'){
			if(mw3.how != 'ROOT'){
%>
	<ul>
		<li>
<%
				var nodeStatus = "opened";
				if(!value.close)
					nodeStatus = "closed";

				if(mw3.when != 'read'){
%>		
			<div id="wfnode_<%=objectId%>" class="wfNode" style="height:24px">
				<!-- opened, closed -->
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td>
							<span class="wfNodeText"><%  if(value.linkedInstId){%><span onclick="<%=methods.linkInstance.caller()%>">[<%=value.linkedInstId%>]</span><%}%>
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal;background:transparent"" value="<%=value.name%>" onkeydown="mw3.getFaceHelper('<%=objectId%>').press(this)">
							</span>
						</td>
					</tr>
				</table>
					
				</span>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>			
<%
				}else{						
%>
			<div id="wfnode_<%=objectId%>" class="wfNode" style="height:24px">
				<!-- opened, closed -->
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="<%=nodeStatus%>"  onclick="<%=value.close?methods.expand.caller():methods.collapse.caller()%>"><span>&nbsp;</span></td>
						<td>
							<span class="wfNodeText">
								<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal" value="<%=value.name%>" readonly>
							</span>
						</td>
					</tr>
				</table>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>
<%
				}
			}
			
			if(!value.close){			
%>
	<%=fields.childNode.here()%>
<%			
			}
%>
		</li>
	</ul>		
<%			
			if(mw3.how == 'ROOT' && mw3.when != 'read'){
%>	
	<span style="padding-left:40px">
		<%=methods.newNode.here()%>
	</span>	
<%
			}
		}
	}
%>		