<%
	if(value){
		if(mw3.how != 'NONE'){
			if(mw3.how != 'ROOT'){
%>
	<ul>
		<li>
<%
				if(mw3.when != 'read'){
%>		
			<div id="wfnode_<%=objectId%>" style="height:24px">
				<%  if(value.linkedInstId){%><span onclick="<%=methods.linkInstance.caller()%>">[<%=value.linkedInstId%>]</span><%}%>
				<input type="text" id="wfnode_content_<%=objectId%>" style="width:100%" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 16; font-weight: normal;none;background:transparent" value="" onkeydown="mw3.getFaceHelper('<%=objectId%>').press(this)">
				<div id="wfinfo_<%=objectId%>"></div>
			</div>	
<%
				}else{
%>
			<div id="wfnode_<%=objectId%>" style="height:24px">
				<input type="text" id="wfnode_content_<%=objectId%>" style="width:100% ; border:none;" style="border:0; font-family: 'Helvetica Neue', Arial, Sans-serif; font-size: 12px; font-weight: normal" value="<%=value.name%>" readonly>
				<div id="wfinfo_<%=objectId%>"></div>
			</div>
<%
				}
			}
%>
	<%=fields.childNode.here()%>
<%			
				
%>
		</li>
	</ul>		
<%			
			if(mw3.how == 'ROOT' && mw3.when != 'read'){
%>	
	<span style="padding-left:40px">
		<%=methods.newNode.here()%>
	</span>	
<%
			}
		}
	}
%>		