<%
	if(value){
		var depthOne = value.wfNode.childNode;
		var depthChild  = new Array();
		var globalIdx = 0;
		var globalFlag = false;
%>
		<div><ul>
<%
		if( depthOne != null ){
			for (var i=0; i<depthOne.length ; i++){
				if( depthOne[i].name != null && depthOne[i].name != "" ){
%>
					<li style="list-style: disc; margin-left:15px;"><a href="#pt_<%=depthOne[i].id %>"><span><%=depthOne[i].name %></span></a></li>
<%
				}
			}
		}
%>
		</ul></div>
		<a id="global-prev" href="#" class="prev">&lt;</a>
		<a id="global-next" href="#" class="next">&gt;</a>
		<div id="jmpress">
<%
			if( depthOne != null ){
				for (var j=0; j<depthOne.length ; j++){
					if( depthOne[j].name != null && depthOne[j].name != "" ){
%>
					<div id="pt_<%=depthOne[j].id %>" class="step mainStep" >
						<ul class="wf_first_node">
							<li style="font-size: 40px;" >
								<%=depthOne[j].name %>
							</li>
						</ul>
						<ul>
<%
								if( depthOne[j].childNode != null  &&  depthOne[j].childNode.length > 0){
									var depthTwo = depthOne[j].childNode;
									for (var k=0; k<depthTwo.length ; k++){
										if( depthTwo[k].name != null && depthTwo[k].name != "" ){
											if( depthTwo[k].childNode != null &&  depthTwo[k].childNode.length > 0){
												depthChild[globalIdx] = depthTwo[k];
												globalFlag = true;
												globalIdx++;
											}
%>								
											<li style="float:left; font-size: 20px; padding-left:60px; width:90%;" >
												<img src="images/waveStyle/navi_icon.png" />
												
<%										if(depthTwo[k].type=='img'){		%>
												<img src="<%=depthTwo[k].name %>">
<%										}else if(depthTwo[k].type=='iframe'){		%>
												<iframe src="<%=depthTwo[k].name%>" width="500" height="300"></iframe>
<%										}else{ %>
												<%=depthTwo[k].name %>
<%										}%>
												
											</li>
<%
										}
									}
								}
%>				
						</ul>
<%
						if( globalFlag ){
%>		
					</div>
<%
							var node = depthChild;
							globalIdx = 0;
							globalFlag = false;
								for (var l=0; l<node.length ; l++){
%>		
									<div id="pt_<%=node[l].id %>" class="step subStep" >
										<ul class="wf_first_node">
											<li style="font-size: 40px;" >
												<%=node[l].name %>
											</li>
										</ul>
										<ul>
<%
											if( node[l].childNode != null ){
												var depthThree = node[l].childNode;
												for (var m=0; m<depthThree.length ; m++){
													if( depthThree[m].name != null && depthThree[m].name != "" ){
%>		
														<li style="font-size: 20px; padding-left:60px; width:90%;" >
															<img src="images/waveStyle/navi_icon.png" />
															
<%													if(depthThree[m].type=='img'){		%>
															<img src="<%=depthThree[m].name %>">
<%													}else if(depthThree[m].type=='iframe'){		%>
															<iframe src="<%=depthThree[m].name%>" width="500" height="300"></iframe>
<%													}else{ %>
															<%=depthThree[m].name %>
<%													}%>
														</li>
<%
													}
												}
											}
%>	
										</ul>
									</div>
<%
								}
						}else{
%>		
				</div>
<%
						}
					}
				}
			}
%>
		
		</div>
<%
	}
%>