<% if(value){ %>
<table>
    <tr>
        <td width="240">
            <table id="wvlist_<%=objectId%>" width="100%"></table>
            <div id="wvlist_pager_<%=objectId%>"></div>
        </td>
        <td width="40">
            <li><a id="add_<%=objectId%>" class="wBtn" href="#"><span>>>></span></a></li>
            <li><a id="del_<%=objectId%>" class="wBtn" href="#"><span><<<</span></a></li>
        </td>
        <td width="240">
            <table id="avlist_<%=objectId%>" width="100%"></table>
            <div id="avlist_pager_<%=objectId%>"></div>
        </td>
    </tr>
</table>

<% }%>