
<%
if(value){
%>

<div>
<%=mw3.localize("$MyApps")%>
</div>

<span style="float:right;"><a id="wBtn" onClick="<%=methods.showAll.caller()%>" href="#"><%=mw3.localize("$MyApps.more")%></a></span>
<span style="float:right;"><a id="wBtn" onClick="<%=methods.addApp.caller()%>" href="#"><%=mw3.localize("$MyApps.add")%></a></span>


<ul class="process_map2">
	<%=fields.myAppsList.here()%>
</ul>

<%
}
%>