<div id="navigationTitle" class="tabCurrent">
    <span style="margin-right:0px;padding-right:0px">
        <div title="<%=mw3.localize(value.id)%>">
        <div style="background:url(images/<%=value.type%>.png) no-repeat 0px 2px; padding-left:18px;margin-right:0px"><%=mw3.localize(value.name)%></div>
        </div>
    </span>
</div>

<!--
<div class="tab_middle">
    <div class="sessiontab_icon"> </div>
    <div class="sessiontab_title" title="<%=mw3.localize(value.name)%>"><%=mw3.localize(value.name)%></div>
    <div class="sessiontab_saving"> </div>
    <strong onclick=""> </strong>
</div>
<div class="tab_left"> </div>
<div class="tab_right"> </div>
-->