<% if(value!=null){

	if(mw3.how=="instanceNavigator"){%>
	
<div id="method_<%=objectId%>_flowchart" style="cursor:pointer" onclick="<%=methods.flowchart.caller()%>"><img src="images/waveStyle/i_workitem_i.png" border=0> <%=value.defName%></div>	
	
	<%
	}else{
			
		var isChat = (value.defId == null && value.secuopt == '1');
		var isOpenCollab = (value.defId == null && value.secuopt=='0');
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		/*value.initiator.metaworksContext.how='list';*/
	
	%>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl_type" <%=(value.status=='Completed') ? "style='background:#eeeeee';":""%>>						
	<tbody>
	<tr class="q <%=value.firstDueTimeTerm ? (value.firstDueTimeTerm>=0 ? (value.firstDueTimeTerm>=3 ? "" : "plus" + value.firstDueTimeTerm ) : "minus" )  : "" %>" style="cursor:pointer;">
		<td id="newInst"><div class="innerNewInst"></div></td>
		<td class="first_td" valign="top">
			<div class="worklistuser">
					<dl>					                		
						<dd><%=fields.initiator.here() %></dd>
						<div class="clear"></div>					                	
					</dl>	
			</div>				
		</td> 
		<td  id="td_<%=objectId%>">									
			<ul class="lst_type">										
				<li class="trigger">
					<div style="float:left;width:38px;margin-right:-40px">
						<% if(isChat){ %>
							<!--span class="type_ping"></span--><span class="instanceLock"></span>
						<% }else if(isOpenCollab){ %>
							<!--span class="type_ping"></span--><span class="instanceUnLock"></span>
						<% }else if(isProcess){ %>
							<span class="type_process"></span><span class="instanceUnLock"></span>
						<% }else if(isSecureProcess){ %>
							<span class="type_process"></span><span class="instanceLock"></span>
						<% } %>	
					</div>						
					<div style="margin-left:40px">
						<table>
							<tr>
								<td style="border:none;"><a href="#middle-center"><b><font color=204070><%=value.initiator.name%></font> &nbsp;&nbsp; <font color=#5C5C5C><%=value.name%></font></b></a></td>
								<% if(mw3.how == 'sns'){ %>
								<td style="border:none;" width="150">
									<div style="float:left;margin-left:15px;color:#C6C6C6"><%=fields.startedDate.here({when: 'timeago'})%></div>										
								</td>
								<%}%>
							</tr>
						</table>
					<div>				
				</li>
				
			    <% if(value.instanceViewThreadPanel && value.instanceViewThreadPanel.instanceId) {%>			     
			    <% }else{%>          
			    <% if(value.currentUser && value.currentUser.userId && (value.initiator.userId!=value.currentUser.userId || value.name!=value.lastCmnt)){%>
			   
			    <li>
			   		<table style="margin-left:38px;"><td><%value.currentUser['size']='small';%><%=fields.currentUser.here()%></td>
			  		<td colspan=2 style="border:none; padding-right:10px;"><font color=204070><%=value.currentUser.name%></font>&nbsp;&nbsp; <font color=gray><%=value.lastCmnt%></font></td></table>
			 	</li>
			    <%}%>
			    <%}%>
												
			</ul>								
		</td>
		<td width="110">	
			<% if(mw3.how != 'sns'){ %>
				<div style="margin-bottom:5px;margin-left:15px;"><%=fields.startedDate.here({when: 'timeago'})%></div>	
			<%}%>
				<%if(value.status=='Completed'){%> 
					<div class="badge" style="margin-left:15px; margin-bottom:4px;background:#98AFC7;">&nbsp;&nbsp;<%=mw3.localize('$Complete')%> &nbsp;&nbsp;</div> 
					<div style="clear:both"></div>
				<%}else if(value.dueDate){ 
					if(value.dueDate < new Date()){%>
						<div class="badge" style="margin-left:15px; margin-bottom:4px;background:#F52020;">&nbsp;&nbsp;<%=mw3.localize('$Delay')%> &nbsp;&nbsp;</div>
						<div style="clear:both"></div>
					<%}else if(value.progress != null && value.progress != ''){%>
						<div class="badge" style="margin-left:15px; margin-bottom:4px;">&nbsp;&nbsp;<%=value.progress%>%  &nbsp;&nbsp;</div>
						<div style="clear:both"></div>
					<%}else{%>
						<div style="float:left;"><table><td style="border:none;"><%=mw3.localize('$Due')%> :</td><td style="border:none;"><%=fields.dueDate.here({when: 'timeago'})%></td></table><div>
						<div style="clear:both"></div>
					<%}%>
						
				<%}%>
			<% if(mw3.how == 'sns'){ %>
				<div class="instanceBtn">
					<span style="float:left"><%=fields.instanceTooltip.here()%></span>
					<span style="float:left"><%=fields.instanceDrag.here()%></span>
				</div>
			<%}%>				
		</td>	
		<% if(mw3.how != 'sns'){ %>
		<td width="20">
			<div class="instanceBtn"><%=fields.instanceDrag.here()%></div>
		</td>
		<% } %>
	</tr>
	</tbody>
</table>

<% if(value.instanceViewThreadPanel && value.instanceViewThreadPanel.instanceId) {%>
<div style="background:#F3F3F3; margin-left:65px; margin-bottom:15px;  margin-right:20px;position:relative">
	<!--div style="position:absolute; top:-10px; left:49%;"><img src="images/waveStyle/topShadowArrow.png"></div-->
	<%=fields.instanceViewThreadPanel.here()%>
</div>
<%}%>

	<%}%>
<%}%>
