
<div id="canvasForLoopLines" style="position:absolute;left:0px;top:0px;z-index: -1"></div>

<div align="center" id="divFlowchartArea"></div>

<center>
launching Process Designer ....
</center>

<iframe src="" id="process_<%=objectId%>" width=0 height=0></iframe>

<% 

if(value.parentFolder!=null){%>

<script>
//location= mw3.base + "/processmanager/ProcessDesigner.jnlp?folderId=<%=value.parentFolder%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>";
</script>


<%}else{%>
<script>
//location= mw3.base + "/processmanager/ProcessDesigner.jnlp?defId=<%=value.defId%>&defVerId=<%=value.defVerId%>&userId=<%=mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session').user.userId%>";
</script>
<%}%>


