<label class="fb_box_desc" id=""><%=mw3.localize("$form.field.id")%></label>
<div class="">	
    <input class="text medium" id="field0" type="text" value="<%=fields.id.here()%>">
</div>
<label class="fb_box_desc" id=""><%=mw3.localize("$form.field.displayName")%></label>
<div class="">	
    <input class="text medium" id="field0" type="text" value="<%=fields.displayName.here()%>">
</div>
<label class="fb_box_desc" id=""><%=mw3.localize("$form.field.hide")%></label>
<div class="">	
    <input class="text medium" id="field0" type="text" value="<%=fields.hide.here()%>">
</div>