
<%
if(value){

%>
	<%=fields.followers.here()%>

	<div id="searchbox" style="border-bottom:1px solid #9EBFC4"> 
        <!--ui object -->
        <ul>
            <li>
                <div class="mp_sub_pic project_img">
                	<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 150px; height: 150px; line-height: 150px;border:1px solid #ccc; background:url(images/waveStyle/bg_thmb.gif) center no-repeat;'}})%>
                </div>


                <div class="mp_sub_rightBox">
                	<dl class="mp_sub_dsc1">
                    	<dt style="font-size:16px;"><%=fields.name.here()%></dt>
                    	<dd><span class="mp_sub_tit"><%=mw3.localize("$ProjectDescription")%> : </span><span class="mp_sub_rst"><%=value.description%></span></dd>
                                   
                        
                    </dl>                    
                </div>
                <div class="clear"></div>
                <div id="searchbox" style="border-bottom:1px solid #9EBFC4;">
	                <div class="positionRight" style="padding:5px 0">
						<!--<%=methods.addSubFolder.here()%>-->

<%				
				if(!mw3.isHiddenMethod(methods.subscribe)){
%>					                
	                <a id="wBtn" href="#" onClick="<%=methods.subscribe.caller()%>"><span><%=mw3.localize("$Document.Subscribe")%></span></a>
<%				
				}
%>					                
	                
	                
	                
<%
				if(!mw3.isHiddenMethod(methods.unSubscribe)){

%>
				<a id="wBtn" href="#" onClick="<%=methods.unSubscribe.caller()%>"><span><%=mw3.localize("$Document.UnSubscribe")%></span></a>	
<%
				}

%>		
						<%=methods.modify.here()%>
						<%=methods.delete.here()%>
						
							
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
            </li>
        </ul>
    </div>	


<%
}
%>