<%
	if(value == null && typeof value == 'undefined')
		return;
		
	var isTopic = (mw3.how == "topic" && false);
%>

<div class="top" style="height: <%=isTopic?'47':'0'%>px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">

		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
					<%=isTopic?fields.topicFollowers.here():''%>
		        </div>

		    </div>  		

</div>

<div class="bottom" style="top: <%=isTopic?'47':'0'%>px; overflow:auto; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">
				<%=fields.newInstancePanel.here()%>
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
				<%=value.knowledge ? fields.knowledge.here() : ""%>
</div>
		