<div class="top" style="height: 60%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
        <div id="btnline" style="padding-top:8px;">
            <ul>
                <li><a id="wBtn" href="#" onClick="<%=methods.startProcess.caller()%>"><span>프로세스시작하기</span></a></li>
                <li><a id="wBtn" href="#" onClick="<%=methods.startPrint.caller()%>"><span>인쇄하기</span></a></li>
                <li><a id="wBtn" href="#" onClick="mw3.getFaceHelper(<%=objectId%>).downloadPdf()"><span>PDF 다운받기</span></a></li>
            <ul>              
        </div>
        <div class="clear"></div>
		<%=fields.processViewPanel.here()%>
</div>

<div class="bottom" style="top: 60%; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">

    <div class="left" style="width: 50%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; top: 0px; bottom: 0px; border-right: 1px double #bbbbbb; border-top: 1px double #bbbbbb; margin :0px 2px 0px 0px;">
		<%=fields.processDetailPanel.here()%>
                		
	</div>
	<div class="right" style=" left: 50%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px; right: 0px; top: 0px; bottom: 0px; border-left: 1px double #bbbbbb; border-top: 1px double #bbbbbb; margin:0px 0px 0px 3px;">
		<%=fields.processSummaryPanel.here()%>
	</div>

</div>
