<div class="mp_wrap">
    <div class="mp_left">
		<div>
			<input type="text" style="width:178px;height:23px;margin:12px;border:1px solid #bfc9d5;-webkit-border-radius:3px;	-moz-border-radius:3px;"/>
		</div>
		<div class="mp_left_sec_line"></div>
	    <%=fields.appMapping.here()%>
		<div class="mp_left_sec_line"></div>
	</div>
    <div class="sp_center">
        <div class="sp_sub_cate">
           
            <% if(value.appName != null) { %>
            	<span><%=value.appName%></span>
            <% } %>
        </div>
        <div class="sp_left">
            <div class="sp_left_con" style="height: 100%">
                <div id="sp_accordion" class="sp_accordion" style="height: 100%">
                    <h3><%=mw3.localize('$ssp.look.feel')%><%if(value.appName){%><span onClick="mw3.getFaceHelper(<%=objectId%>).add('looknfeel');" style="width:16px; height:16px; top:5px; position:absolute;margin-left:5px;background-image:url(images/waveStyle/add.png)"><%}%></span></h3>
                    <div>
                    	<%=fields.filePropertyPanel.here()%>                    	
                    	<%=fields.imagePropertyPanel.here()%>
                    	<%=fields.stringPropertyPanel.here()%>
                    </div>
                    <h3><%=mw3.localize('$ssp.process')%><%if(value.appName){%><span onClick="mw3.getFaceHelper(<%=objectId%>).add('process');" style="width:16px; height:16px; top:5px; position:absolute;margin-left:5px;background-image:url(images/waveStyle/add.png)"></span><%}%></h3>
                    <div>
                    	<%=fields.processPropertyPanel.here()%>
                    </div>
                    <h3><%=mw3.localize('$ssp.form')%><%if(value.appName){%><span onClick="mw3.getFaceHelper(<%=objectId%>).add('form');" style="width:16px; height:16px; top:5px; position:absolute;margin-left:5px;background-image:url(images/waveStyle/add.png)"></span><%}%></h3>
                    <div>                       
                    	<%=fields.formPropertyPanel.here()%>
                    </div>
                </div>
            </div>
        </div>
        <div class="sp_content">
        	<%=fields.metadataProperty.here()%>
        </div>
    </div>
</div>
<%if( value.metadataXml ){%>
    	<%=fields.metadataXml.here()%>
<%}%>