<% if(value) { %>
    
    <div class="form_table">
        <table border="1" cellspacing="0" summary="">
            <tbody>
            <tr>
                <th scope="row"><%=mw3.localize("$patentForm")%></th>
                <td>
                    <div class="item">
                        <%=fields.patentForm.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$patentName")%></th>
                <td>
                    <div class="item">
                        <%=fields.patentName.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$registrationDate")%></th>
                <td>
                    <div class="item">
                        <%=fields.registrationDate.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$registrationNumber")%></th>
                <td>
                    <div class="item">
                        <%=fields.registrationNumber.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$registrationMembers")%></th>
                <td>
                    <div class="item">
                        <%=fields.registrationMembers.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$etc")%></th>
                <td>
                    <div class="item">
                        <%=fields.etc.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
        
        
<% } %>