<% if(value) { %>

    <div class="form_table">
        <table border="1" cellspacing="0" summary="">
            <tbody>
            <tr>
                <th scope="row"><%=mw3.localize("$serviceForm")%></th>
                <td>
                    <div class="item">
                        <%=fields.serviceForm.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$productName")%></th>
                <td>
                    <div class="item">
                        <%=fields.productName.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <th scope="row"><%=mw3.localize("$projectResult")%></th>
                <td>
                    <div class="item">
                        <%=fields.projectResult.here({when:'new'}) %>
                    </div>
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
        
        
<% } %>