<%
	if(value){
%>
    <div>
    
	     <table id="detail_<%=objectId%>" width="100%" class="tbl_type_brw" border="1" cellspacing="0">
				    <colgroup>
				    <col width="110">
				    <col>
				    <col width="80">
				    <col>
				    </colgroup>
				    <tbody>
						<tr>
							<th width="25%" colspan="1">소속국가</th>
							<td width="75%" colspan="3"><%=fields.country.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">기업명</th>
							<td width="75%" colspan="3"><%=fields.company_name.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">홈페이지</th>
							<td width="75%" colspan="3"> <%=fields.homepage.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">사업형태</th>
							<td width="75%" colspan="3"> <%=fields.business_type.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">관련품목</th>
							<td width="75%" colspan="3"> <%=fields.related_items.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">카테고리</th>
							<td width="75%" colspan="3"> <%=fields.category.here()%></th>
						</tr>	
						<tr>
							<th width="25%" colspan="1">담당자</th>
							<td width="75%" colspan="3"> <%=fields.addr.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">전화번호</th>
							<td width="75%" colspan="3"> <%=fields.phone_num.here()%></th>
						</tr>
						<tr>
							<th width="25%" colspan="1">주소</th>
							<td width="75%" colspan="3"> <%=fields.addr.here()%> <%=fields.city.here()%></th>
						</tr>
						</tbody>
			    
		</table>
        
    </div>
<%
 	}
 %>