<%
if(value){
%>
    <% if(mw3.when == 'view' || mw3.when == 'select_view') { %>
    <div>
        <table class="tbl_type_brw" cellspacing="0"  border="1" >
            <tbody>
                <tr>
                    <td width="5%" style="border-right:1px solid #C4BD97; border-left:1px solid #C4BD97"><%=value.no ? fields.no.here() : "·"%></td>
                    <td width="35%" style="border-right:1px solid #C4BD97" ><%=value.projectName ? fields.projectName.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.industryCategory ? fields.industryCategory.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.serviceCategory ? fields.serviceCategory.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.projectStatus ? fields.projectStatus.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.regDate ? fields.regDate.here() : "·"%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <div>
        <table class="tbl_type_brw" cellspacing="0">
            <tbody>
                <tr>
                    <td width="5%" style="border-right:1px solid #C4BD97; border-left:1px solid #C4BD97"><%=value.no ? fields.no.here() : "·"%></td>
                    <td width="10%" style="border-right:1px solid #C4BD97"><%=value.koName? fields.koName.here() : "."%></td>
                    <td width="30%" style="border-right:1px solid #C4BD97"><%=value.projectName ? fields.projectName.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.industryCategory ? fields.industryCategory.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.serviceCategory ? fields.serviceCategory.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.projectStatus ? fields.projectStatus.here() : "·"%></td>
                    <td width="15%" style="border-right:1px solid #C4BD97"><%=value.regDate ? fields.regDate.here() : "·"%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <% } %>

<%
}
%>