<%
	if(value){
		var portrait = '';		
		if(value.network == 'local' || value.network == null){
			if(value.userId)
				portrait = 'portrait/' + value.friendId + '.thumnail';			
		}

		if(mw3.how == 'comitter') {
%>
		<div style="border-bottom:1px solid #ccc; padding:5px;">
			<%=fields.checked.here({when: 'edit'})%>
			<img id="user_picture_<%=objectId%>" src="<%=portrait%>" width="35" height="35" style="margin-right:5px;">
			<%=value.friend.name%>
			<div class="clear"></div>
		</div>
<%			
		} else {
		
%>
	
        <%=fields.friend.here()%>
        
        <%
            if(mw3.where == 'addfollower'){
        %>                          
                    <div style="float: right;">
                    <%  if(value.followed) {    %>
                            <button type="button" class="btn btn-default btn-xs"  onClick="<%=methods.removeFollower.caller()%>" style="float:right; margin:9px 7px 0 0">삭제</button>
                    <%  } else {    %>
                            <button type="button" class="btn btn-primary btn-xs"  onClick="<%=methods.addFollower.caller()%>" style="float:right; margin:9px 7px 0 0">추가</button>
                    <%  }    %>
                    </div>
        <%
                    }
        %>          
        	<div style="clear:left;"></div>
            <div style="padding:1px 0px; border-bottom:1px solid #e7e7e7;" />
                    
<%
			if(mw3.how == 'pick'){
				if(mw3.where == 'roleUserPicker') {
%>
		<%=methods.roleUserPickUp.here()%>
<%
				}else if(mw3.where == 'pickup'){
%>
		<%=methods.pickUp.here()%>
<%
				}
%>
	<div style="clear:left;"></div>
<%
			}
		}	
	}
%>
