<%
if(value){
	var instanceTitle = value.name ? value.name : " ";
	var lastCmnt = value.lastCmnt;
	var lastCmnt2 = value.lastCmnt2;
	var topicName = value.topicName;
	var isDashboard = (mw3.how == "dashboard");
	var isFileAdded = value.isFileAdded;
	 
	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
	if(session && session.searchKeyword != null && session.searchKeyword.length > 0){
		if(typeof instanceTitle == 'string')
			instanceTitle = instanceTitle.replaceAll(session.searchKeyword, '<b style=\"background:yellow\">' + session.searchKeyword + '</b>');
		 
		if(typeof lastCmnt == 'string')
			lastCmnt = lastCmnt.replaceAll(session.searchKeyword, '<b style=\"background:yellow\">' + session.searchKeyword + '</b>');
			
		if(typeof lastCmnt2 == 'string')
			lastCmnt2 = lastCmnt2.replaceAll(session.searchKeyword, '<b style=\"background:yellow\">' + session.searchKeyword + '</b>');
	}
	 
	if(mw3.how=="instanceNavigator"){
%>
	
<div id="method_<%=objectId%>_flowchart" style="cursor:pointer; margin-bottom:3px;" onclick="<%=methods.flowchart.caller()%>"><img src="images/waveStyle/i_workitem_i.png" border=0  style="position:relative; top:4px;"><%=value.defName%></div>
		
<%
	}else if(mw3.how=="instanceNavigatorWeb"){
%>
	
<div id="method_<%=objectId%>_flowchart" style="cursor:pointer; margin-bottom:3px;" onclick="<%=methods.webflowchart.caller()%>"><img src="images/waveStyle/i_workitem_i.png" border=0  style="position:relative; top:4px;"><%=value.defName%></div>	
	
<%
	
	}else{
			
		var isChat = (value.defId == null && value.secuopt == '1');
		var isOpenCollab = (value.defId == null && value.secuopt=='0');
		var isProcess = (value.defId != null);
		var isSecureProcess = (value.defId != null && value.secuopt == '1');
		/*value.initiator.metaworksContext.how='list';*/
	
	%>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="instanceList tbl_type" style="position:relative;">						
	<tbody>
	<tr class="q" style="cursor:pointer;">
		<td id="newInst"><div class="innerNewInst"></div></td>
		<td class="first_td" valign="top">
			<div class="worklistuser">
					<dl>					                		
						<dd><%=fields.initiator.here() %></dd>
						<div class="clear"></div>					                	
					</dl>	
			</div>				
		</td> 
		<td id="td_<%=objectId%>">
			<ul class="lst_type">										
				<li class="trigger">					
					<div class="instanceTitle">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td  style="border:none;"><a href="#"><b><font color=204070><%=value.initiator.name%></font>&nbsp;&nbsp;
								
									<font color=#5C5C5C style="line-height:19px; word-break: break-word;">
									<%if(value.dueDate){
							            var format = 'y.mm.dd';
                                        var convertValue = $.datepicker.formatDate( format, value.dueDate );
									%>
									    [<%= convertValue %>]
									<%}%>
									   <%=instanceTitle%> 
									</font></b></a>
									<a href="#">
									<span width=10px>&nbsp;</span><% if(topicName != null){ %> <span class="topic_span" onclick="<%=methods.loadTopic.caller()%>"><%=topicName%></span><% }%>
									</a>
									<div>
										<div  class="instanceType">
											<% if(isChat){ %>
												<span class="instanceLock"></span>
											<% }else if(isOpenCollab){ %>
												<span class="instanceUnLock"></span>
											<% }else if(isProcess){ %>
												<span class="type_process"></span><span class="instanceUnLock"></span>
											<% }else if(isSecureProcess){ %>
												<span class="type_process"></span><span class="instanceLock"></span>
											<% } %>
											<% if(topicName != null){ %>
											<% }%>
										</div>										
										<span style="float:left; font-size:11px;  margin:3px 5px 3px 0; color:#BBBBBB"><%=fields.startedDate.here({when: 'timeago'})%>    </span>
										<%if(value.dueDate){ 
											if(value.status=='Completed'){
											%>
										<span class="label label-default" style="float:right"><%=mw3.localize('$Complete')%></span>
										
											<%
											}else if(value.dueDate < new Date()){
											%>
										<span class="label label-danger" style="float:right"><%=mw3.localize('$Delay')%></span>
											<%
											}else{
											%>
										<div style="float:left; font-size:11px;margin:3px 5px 3px 0; color:#BBBBBB">
											<span style="float:left;"><b>·</b> <%=mw3.localize('$Due')%> :&nbsp;</span>
											<span style="float:left;"><%=fields.dueDate.here({when: 'timeago'})%></span>
											<div style="clear:both"></div>
										</div>											
											<%
											}
										}%>
										<%
										if(value.benefit != null && value.penalty != null && value.effort != null){
											var bv = value.benefit + value.penalty;
											if(value.effort != 0) {
												var roi = Math.round(bv/value.effort);
										%>
										<div style="float:left; font-size:11px;margin:3px 5px 3px 0; color:#BBBBBB">
											<span style="float:left;"><b>·</b> Biz Val :&nbsp;</span>
											<%if(bv > 0) {%>
											<span style="float:left;"><%=bv%></span>
											<%}else{%>
											<span style="float:left;">-</span>
											<%}%>
										</div>
										<div style="float:left; font-size:11px;margin:3px 5px 3px 0; color:#BBBBBB">
											<span style="float:left;"><b>·</b> ROI :&nbsp;</span>
											<%if(roi > 0) {%>
											<span style="float:left;"><%=roi%></span>
											<%}else{%>
											<span style="float:left;">-</span>
											<%}%>
											<div style="clear:both"></div>
										</div>
										
										<%
											}
										}
										%>
										<% if(isFileAdded){ %>
											<span style="float:left; margin:3px 5px 3px 0;"><img src="images/waveStyle/wihfile.png" width=15 height=15></span>
										<% } %>
										<div style="clear:both"></div>
									</div>													
								</td>
								

							</tr>
						</table>
					<div>				
				</li>
				
			    <% 
			    
			    if(value.instanceViewThreadPanel && value.instanceViewThreadPanel.instanceId) {%>			     
			    <% }else if(value.lastCmnt != null){%>
			    
				    <% if(value.currentUser && value.currentUser.userId){%>
				    
			   		<% if(!isDashboard){%>
					    <li>
					   		<table><td style="border:none;vertical-align:top;padding-right:5px"><%value.lastCmntUser['size']='small';%><%=fields.lastCmntUser.here()%></td>
					  		<td colspan=2 style="border:none; padding-right:10px;"><font color=204070><%=value.lastCmntUser.name%></font>&nbsp;&nbsp; <font color="gray" class="inctanceReply" style="word-break: break-word;"><%=lastCmnt%></font></td></table>
					 	</li>
			   		<%}%>

			   		<%if(value.lastCmnt2 && value.lastCmnt2 != null){%>
					    <li>
					   		<table><td  style="border:none;vertical-align:top;padding-right:5px"><%value.lastCmnt2User['size']='small';%><%=fields.lastCmnt2User.here()%></td>
					  		<td colspan=2 style="border:none; padding-right:10px;"><font color=204070><%=value.lastCmnt2User.name%></font>&nbsp;&nbsp; <font color="gray" class="inctanceReply" style="word-break: break-word;"><%=lastCmnt2%></font></td></table>
					 	</li>
			   		<%}%>
			    <%}%>
			    <%}%>
												
			</ul>								
		</td>


		
		<td width="30"  class="instanceMove">
			<% if(mw3.how != 'sns'){ %>
				<%if(mw3.how != 'document'){%>
				<div class="instanceBtn" style="width: 15px;margin: 0 auto;"><%=fields.instanceDrag.here()%></div>
			<%
				 } 
			}	
			%>
		</td>
		
	</tr>
	</tbody>
</table>


	<%}%>
<%}%>
