<%if(value.taskId!=null && 'comment' == mw3.how){%>

	<div class="overlay_comment" style="top:<%=value.overlayCommentOption.y%>%;">
		<b><%=value.writer.name%></b><br> <%=value.title%>
	</div>
	<div class="overlay_comment_line" style="width:<%=value.overlayCommentOption.x%>%;top:<%=value.overlayCommentOption.y%>%;"></div>
	<div class="overlay_comment_arrow" style="position:absolute; left:<%=value.overlayCommentOption.x%>%; top:<%=value.overlayCommentOption.y%>%;background:url('images/waveStyle/workItemCommentPoint.png') top right; width:15px; height:15px"></div>


<%}%>