<%
	if(value){		
%>

<table border=1>
<tr><td colspan=3><%=fields.north.here()%></td></tr>
<tr><td><%=fields.west.here()%></td><td><%=fields.center.here()%></td><td><%=fields.east.here()%></td></tr>
<tr><td colspan=3><%=fields.south.here()%></td></tr>
</table>

<%
	}
%>


