
<%

if(value){

var context = value.file.metaworksContext.when;

%>

	<div font-color=red><%=mw3.localize('$CheckAppInformation')%></div>
	<img src="images/empty_editor_divider.png" />
	
	<table>
		<tr>
			<td><div><%=mw3.localize('$App.Category')%></div></td>
			<td><%=fields.categories.here()%></td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.Name')%></div></td>
			<td><%=fields.listingName.here()%></td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.Overview.Simple')%></div></td>
			<td>
				<ul><li><%=fields.simpleOverview.here()%></li></ul>
				<ul><li>200 charecter(s) remaining</li></ul>
			</td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.Overview.Full')%></div></td>
			<td>
				<ul><li><%=fields.fullOverview.here()%></li></ul>
				<ul><li>1500 charecter(s) remaining</li></ul>
			</td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.Pricing')%></div></td>
			<td><%=fields.pricing.here()%></td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.FileAttach')%></div></td>
			<td><%=fields.file.here({when:'view'})%></td>
		</tr>
		<tr>
			<td><div><%=mw3.localize('$App.LogoFileAttach')%></div></td>
			<td><%=fields.logoFile.here({when:'image'})%></td>
		</tr>
	</table>

<%
}

%>