<%

	if(value != null && typeof value != 'undefined'){
		if(mw3.how == 'inList'){
%>

<!--
<div class="best_process">
	<img src="images/marketPlace/icon_best.png" />
</div>
-->

<dl class="mp_lst_type2">
	<dt class="tit">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<strong><%=value.appName%></strong>
		</a>
	</dt>
	<dd class="photo">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 66px; height: 66px'}})%>
		</a> 
	</dd>
	<dd class="disc">
		<a href="#" onClick="<%=methods.detail.caller()%>">
			<span>
				<%=value.simpleOverview.substring(0,30)%><%=value.simpleOverview.length > 30?'...':''%>
			</span>
        </a>
	</dd>
    <dd class="make_by">make by <%=value.company.comName%></dd>
</dl>

<%
		}else if(mw3.how == 'detail'){
%>

        <div> 
            <!--ui object -->
            <ul class="mp_sub_lst_type">
                <li>
                    <div class="mp_sub_pic">
                    	<%=fields.logoFile.here({when:'image', htmlAttr:{style:'width: 100px; height: 100px'}})%>
                    </div>
                    <div class="mp_sub_buybtn"><img  alt="" src="images/marketPlace/buyBtn.jpg" onClick="<%=methods.addApp.caller()%>"></div>

                    <div class="mp_sub_rightBox">
                    	<dl class="mp_sub_dsc1">
                        	<dt><%=value.appName%></dt>
                            <dd><span class="mp_sub_tit">vendor : </span><span class="mp_sub_rst"><%=value.company.comName%></span></dd>
                            <!--<dd><span class="mp_sub_tit">Staus :</span><span class="mp_sub_rst">4444444</span></dd>-->
                        </dl>                    
                    </div>
                    <div style="clear:both;"></div>
                    <div class="mp_sub_dsc2"><%=value.simpleOverview%></div>
                </li>
            </ul>
        </div>
        
        <div class="workItem_tabs">
			 <ul>
				<li class="current">
					<a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').showDescription()"><span>Description</span></a>
				</li>
				<!--	
			 	<li>
			 		<a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').showVendor()"><span>Vendor</span></a>
			 	</li>
			 	-->
			 </ul>
		</div>
		<div class="clear"></div>
		
		<!--
		<div id="tab_Vendor" style="display:none">
		
			<div class="fixed_img_row">
		   	  <ul>	
			     <li> 
		        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tr>
		                    <td class="appFirstTd"><span class="thumb"> logo </span> </td>
		                    <td class="appTitleTd">
		                    	<div class="titleLine"> <strong><%=value.company.comName?value.company.comName:''%></strong></div>
		                    	<div class="fullOverview"><%=value.company.description?value.company.description:''%></div> 
		                    	<div class="simpleOverview"><%=value.company.repMail?value.company.repMail:''%></div>
		                    </td>
		                </tr>
		            </table>
				 </li>
				</ul>
			</div>
		</div>
		-->
		
		<div id="tab_Description">
			<%=value.fullOverview%>
		</div>

<%
		}else{
%>
	
		<div class="fixed_img_row">
			<ul>	
				<li> 
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
	                	<tr>
		                    <td class="appFirstTd"><span class="thumb"> <%=fields.logoFile.here({when:'image'})%> </span> </td>
		                    <td class="appTitleTd">
		                    	<div class="titleLine"> <strong><%=value.appName%></strong></div>
		                    	<div class="simpleOverview"><%=value.simpleOverview%></div>
		                    	<!--div class="fullOverview"><%=value.fullOverview%></div--> 
		                        <div class="PricingDetail_app" style="float:left"> Pricing Detail : </div>
								<div style="float:left;margin:7px 5px"><%=value.pricing%> </div>
								<div class="clear"></div>
		                        <div class="vendor"> service by <%=value.company.comName%></div>
		                    </td>
		                    <td class="appStatusTd"><b>Listing Status</b><br><%=value.status%> </td>
		                    <td class="appBtnTd">
<%
			if(mw3.when == 'marketplaceHome' || mw3.when == 'searchForSearchBox' || mw3.when == 'searchForCategory'){
				if(value.status == 'Published') {
%>
								<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px"><a onClick="<%=methods.addApp.caller()%>"> Add it now </a></div>
<%
				}else if(value.status == 'Approved'){
%>
								<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px"><a onClick="<%=methods.readyPublished.caller()%>"> Ready for publish </a></div>								
<%
				}						
			}else if(mw3.when == 'myVendor'){
				if(value.status == 'Approved'){
%>
								<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px"><a onClick="<%=methods.readyPublished.caller()%>"> Ready for publish </a></div>
<%
				}
%>								
								<div class="badge" style="float:none;margin-top:2px;background:#679BD1;padding:3px 8px; width:80px"><a onClick="<%=methods.edit.caller()%>"> Edit </a></div>						
<%
				}							
%>
							</td>
	                	</tr>
	            	</table>
				</li>
			</ul>
		</div>		
	
<%		
		}
	}
%>