<%
if(mw3.where == 'ssp'){
	if(mw3.when == 'show_detail' ) {
		
	%>
		<span class="form_tit"><br /><br /><%=value.description%></span>
		<!--
		<div class="sp_form_block">
			<div><%=fields.resourceNode.here()%></div>
		</div>
		-->
		<div class="sp_form_block">
			<%=fields.file.here()%>
		</div>
		<div class="sp_form_block">
			<div class="sn_view_box">
				<div class="sn_view_arrow"><img src="images/marketPlace/sp_box_arrow.gif" /></div>
				
				<%=fields.filePreview.here({when:'image'})%>
			</div>
		</div>
		
		<%
		if(value.file.metaworksContext.when == 'edit') {
		%>
		
			<div class="sp_form_block">
				<div id="sp_saveBtn_<%=objectId%>" class="sp_position_right"><a id="wBtn" onClick="<%=methods.save.caller()%>"><span><%=mw3.localize('$Save')%></span></a></div>
			</div>
		
		<%
		}else {
		%>
		
		<!--
		
			<div class="sp_form_block">
				<div id="sp_editBtn_<%=objectId%>" class="sp_position_right" onClick="<%=methods.edit.caller()%>"><%=mw3.localize('$Edit')%></div>
			</div>
		-->
		
		<%	
		}


	}else {
	%>
	
	<ul>
		<li id="sp_accordion_list_<%=objectId%>"><%=value.description%></li>
	</ul>
	
	<%
	}
	%>

<%
}
%>



