<%
if(value) {

	var type = value.type;
	var selectedType;
	
	if(value.selectedType != null){
		selectedType = value.selectedType.selected;
	}
	if(mw3.where != 'ssp'){
	
%>
         <div class="fb_form_box">
            <span style="margin: 0px 3px 0px 0px;">
                <img class="ide_icon" src="images/<%=value.type%>.png"/>
            </span>
            <span><%=mw3.localize("$Name")%>: </span>
            <span style="margin: 0px 0px 0px 3px;"><%=value.name%></span>
            <div>
                <li style="margin: 10px 0px 0px 3px;"><%=mw3.localize("$Description")%></li>
                <li><%=value.description%></li>
            </div>
            <% 
                if(value.file != null && value.file.mimeType != null && value.file.mimeType=='image'){ 
                %>
                    <div style="width:200px;height:200px;float:left;margin: 0px 5px 0px 0px;"><%=fields.file.here({when: (value.file.mimeType.indexOf('image')==0)?'image':'view'})%></div>
            <% } %>
        </div>

<%
	}
}

%>