<%
    if(value) {
    
 %>  
    <div id="openmind_btn">
        <table>
            <tr>
                <td width="15"><img src="images/waveStyle/navi_icon.png"></td>
                <td ><b> 카데고리:</b></td>
                <td><%= fields.categorySelect.here({when:'edit'})%></td>
            </tr>
           
        </table>
        
    </div>
    
    <table>
        <tr>
            이름 : <td style="padding-right:15px;"><%=fields.name.here()%></td>
        </tr>
    </table>


    <div>
        <%= fields.webEditor.here() %>
    </div>
    
    <div>
        <a id="wBtn" href="#" onClick="<%=methods.confirm.caller()%>"<span>확인</span></a>
        <a id="wBtn" href="#" onClick="<%=methods.cancel.caller()%>"<span>취소</span></a>
    </div>

<%      
    } 
%>

