<%
if (value != null){	
%>
<div class="boxtopleftTab">
    <span class="boxtoprightTab">
<%	
	for (var i=0; i<value.tabs.length; i++){
		var tabId = null;
		var tabName = '';
		var tabMetadata = mw3.getMetadata(value.tabs[i].__className);
		
		var tabOptions = {
			ejsPath : 'dwr/metaworks/org/uengine/codi/mw3/ide/CloudTab.ejs',
			parentObjectId : objectId,
			index : i
		};
		
		var tab = {
			__className : 'org.uengine.codi.mw3.ide.CloudTab',
			id : value.tabs[i].id,
			name : value.tabs[i].name,
			type : value.tabs[i].type,
			parentId : objectId
		};
%>
	<div id="top_<%=objectId%>_<%=i%>" class="cloudTab" >
		<%=mw3.locateObject(tab, tab.__className, null, tabOptions)%>
	</div>
<%			
	}
%>  
    </span>
</div>


<div class="boxmiddleright">
	<div class="boxmiddleleft">
		<div class="contentcontainer" style="position: relative">
<%
	for (var i=0; i<value.tabs.length; i++){
%>
	<div id="bottom_<%=objectId%>_<%=i%>" style="display:none; height:100%">
		<%=mw3.locateObject(value.tabs[i], value.tabs[i].__className)%>
	</div>		
<%	
	}
%>
		
		</div>
	</div>
</div>


<div class="boxbottomleft"><span class="boxbottomright"></span></div>



<%
}
%>