<%

if(value!=null){
  if(mw3.when!=mw3.WHEN_VIEW || !value.isDeleted){
 
  if(value.selected){%>
	<div id="navigator">
		<div class="depth1" onclick="<%=methods.selectCategory.caller()%>"><%=value.categoryName%></div>
		<div class="depth2">
			<ul class="fist_menu">
<%
				if(value.childrenCategories != null){
%>
				<li>
					<span style="background:url(images/waveStyle/i_sIcon.png) no-repeat 5px 0px;"><a href="#"><%=fields.childrenCategories.here({when: mw3.when})%></a></span>
				</li>					
<%
				}
%>								
			</ul>
		</div>
	</div>

<%}else{%>
	<div id="navigator">
		<div class="depth1">
			<a onClick="<%=methods.selectCategory.caller()%>" href="#"><%=value.categoryName%></a>
		</div>
	</div>

<%}
 }
 
  if(mw3.when==mw3.WHEN_EDIT){
  
  	if(!value.isDeleted){
%>

<%=methods.checkDeleteFlag.here()%>

<%  }else{%>
<%=methods.uncheckDeleteFlag.here()%>

<%	}

%>
<%=methods.delete.here()%>
<%=methods.addChild.here()%>
<%

  }

}
%>