<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=fields.label.here()%></span></div>
<%
		if(value.selected){
%>
	<div class="depth2">
		<div class="fist_menu">		
			<%=fields.child.here()%>

		
<%
		if(!mw3.isHiddenMethod(methods.popupAdd)){
%>
		<ul style="margin:0 0 0 5px; position:relative; top:-5px;">
			<li>
				<a href="#" onClick="<%=methods.popupAdd.caller()%>" class="add_new_label"><span class="glyphicon glyphicon-plus-sign" style="top:3px"></span>새<%=mw3.localize(value.label)%></a>
				<div class="clear"></div>
			</li>
		</ul>
<%
		}
%>
		</div>
	</div>	
<%
		}
	}
%>