<%
	if(value){
%>
	<div class="depth1">
		<span><%=fields.label.here()%></span>
<%
		if(!mw3.isHiddenMethod(methods.expand)){
%>				
		<span class="west_more_btn">
			<a href="javascript:<%=methods.expand.caller()%>">더보기</a>
		</span>
<%
		}
%>		
<%
		if(!mw3.isHiddenMethod(methods.collapse)){
%>	
		<span class="west_more_btn">
			<a href="javascript:<%=methods.collapse.caller()%>">접기</a>
		</span>
<%
		}
%>		
	</div>

	<div class="depth2 contact_list">
		<%=fields.child.here()%>
		<a style="cursor: pointer;float: left;margin: 12px 0 12px 4px;" onclick="<%=methods.popupAdd.caller()%>"><img  src="images/waveStyle/addUser2.png" /></a>
		<div class="clear"></div>
	</div>
	
<%
	}
%>
