<%
	if(value == null && typeof value == 'undefined')
		return;
%>

<!--div class="top" style="bottom: 25px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
	<div class="top" style="height: 46px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
		<div class="boxmiddleright">
			<div class="boxmiddleleft">
				<div id="mystatus">
					<ul>	                	 	
						<div id="myInfo">
							<%=fields.user.here()%>            	 		
	            	 	</div>
	            	 	<div style="clear:both;"></div>
	        	 	</ul> 
	        	</div>
<%
			if(value.searchBox){
%>        	              
	            <div id="contactsearchbox">
					<%=fields.searchBox.here()%>
				</div>
<%
			}
%>
			</div>
		</div>
	</div-->
	
<%
		if(value.contactListPanel != null && value.contactListPanel.metaworksContext.how =='follower') {
			if(value.searchBox){
%>        	              
	            <div id="contactsearchbox">
					<%=fields.searchBox.here()%>
				</div>
<%
			}
		}
%>
		<%=fields.contactListPanel.here()%>
		<div style=" margin:5px;">
<%
		if (value.contactListPanel.metaworksContext.how == null || value.contactListPanel.metaworksContext.how != 'follower') {
%>		

		<!--ul class="fist_menu" style="margin:0 0 0 5px; position:relative; top:-5px;">
			<li>
				<a href="#" onClick="<%=methods.addContact.caller()%>"><span class="icon-plus"></span><b>친구추가</b></a>
				<div class="clear"></div>
			</li>
		</ul-->

<%
		}
%>
		</div>
<!--/div>

<div class="bottom" style="height: 25px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">
	<div id="addcontact">
		<div id="btnAddUser" style="float:right">
			<a id="wBtn" href="#" onClick="<%=methods.addContact.caller()%>" style="margin-left: px;color: #7A8794"><span class="icon-plus"></span></a>
			<div class="clear"></div>
		</div>		
	</div>
</div-->