<%
	if(value){
	
		if(value.invitation){
			%><%=fields.invitation.here()%><%
		}else{
%>

	<div id="accordion_<%=objectId%>" class="basic tabs-1">
		<h3><a href="#"><%=mw3.localize("$Company")%></a></h3>
		<div>
			<%=fields.localContactList.here()%>
		</div>

		<h3><a href="#"><%=mw3.localize("$Facebook")%></a></h3>
		<div>
			<%=fields.socialContactList.here()%>
		</div>
	</div>
	
<%
		}
	}
%>