<%
	if(value){
	
		if(value.invitation){
			%><%=fields.invitation.here()%><%
		}else{
%>

	<!--div id="accordion_<%=objectId%>" class="basic tabs-1">
		<h3><a href="#"><%=mw3.localize("$Company")%></a></h3>
		<div-->
			<div id="navigator">
				<!-- <div class="depth1">친구</div> -->
				<div class="depth2 contact_list"><%=fields.contactList.here()%></div>
				<div class="user" >
					<div onClick="<%=methods.addContact.caller()%>" style="float:left; width:33px; height:33px; font-size:24px; font-weight:bold; line-height:31px; text-align:center; margin-top:7px" class="user_focus">+</div>
				</div>
				
			</div>
	<!--/div-->
		
	<%
		 if(value.socialContactList != null) {
	%>
	<!-- 페이스북 리스트  숨김 -->
	<!--
		<h3><a href="#"><%=mw3.localize("$Facebook")%></a></h3>
		<div>
			<%=fields.socialContactList.here()%>
		</div>
		
	-->
	<%
		}		
	%>
	
	</div>
	
<%
		}
	}
%>