<%
	if(value){
%>
	<%=fields.followers.here()%>
	<%=fields.topPanel.here()%>
	
	<div class="toolbar">
        <ul>
            <li onclick="<%=methods.switchToInstanceList.caller()%>" <%=(value.type=='allICanSee') ? "class='toolbar_current'" : ""%>>
            	<span class="toolbarIcon icon-feed"></span><span><%=mw3.localize("$ComingUp")%></span>
            </li>
            <li onclick="<%=methods.switchToInstanceListFollowing.caller()%>" <%=(value.type=='following') ? "class='toolbar_current'" : ""%>>
            	<span class="toolbarIcon icon-users"></span><span ><%=mw3.localize("$Following")%></span>
            </li>               
            <li onclick="<%=methods.switchToInstanceListMyToDo.caller()%>" <%=(value.type=='inbox') ? "class='toolbar_current'" : ""%>>
            	<span class="toolbarIcon icon-drawer2"></span><span><%=mw3.localize("$ToDo")%></span>
            </li>               
            <li onclick="<%=methods.switchToScheduleCalendar.caller()%>" <%=(value.type=='calendar') ? "class='toolbar_current'" : ""%>>
            	<span class="toolbarIcon icon-calendar"></span><span><%=mw3.localize("$Calendar")%></span>
            </li>
			<li id="menu_<%=objectId%>" class="right"><span class="toolbarIcon icon-cog2"></span></li>
<%		
		if(!mw3.isHiddenMethod(methods['join'])){
%>
			<li onclick="<%=methods.join.caller()%>" class="right"><span>참여</span></li>
<%
		}
%>
        </ul>
	</div>

<%
	}
%>