<%
	if(value){
		if(mw3.how == 'tree'){
%>
		<div>	
			<a onClick="<%=methods.drillDown.caller()%>;<%=methods.loadDeptList.caller()%>" class="idept"><%=fields.partName.here()%></a>					
<%
			if(mw3.where=='deptPicker'){
%>
			<%=methods.pickup.here()%>
<%			
			}
%>		
			<div style="clear"></div>	
		</div>
		
<%		
			if(value.selected) {
%>
				<ul>				
<%
				if(value.children) {
%>
					<li style=" padding-left:20px;"><%=fields.children.here() %></li>
<%
				}
				
				if(value.deptEmployee) {
%>
					<li style=" padding-left:20px;"><%=fields.deptEmployee.here() %></li>
<%
				}
%>		
				<ul>
<%
			}
		} else if(mw3.how == 'picker'){
%>
			<span><%=value.partName %>(<%=value.partCode %>)</span>
<%
			if(mw3.when == 'new' || mw3.when == 'edit'){
%>
			<span><%=methods.openPicker.here()%></span>
<%	
			}
		} else {
			if(mw3.when == 'new' || mw3.when == 'edit'){
%>
			PartCode : <%=fields.partCode.here({when : mw3.when=='edit'?'view':mw3.when}) %>
			PartName : <%=fields.partName.here() %>
			Description : <%=fields.description.here() %>
			
			<%=methods.saveDeptInfo.here() %>
<%			
			}
		}
	}
%>

