<%
if(value){
	var portrait;
	var onErrorImg;
		
	if(value.empCode)
		portrait = 'images/portrait/' + value.empCode + '.jpg';
	else
		portrait = 'images/portrait/unknown_user.gif';
	
	onErrorImg = "this.src='images/portrait/unknown_user.gif'";


	if(mw3.where == 'admin'){
		if(mw3.how == 'tree'){
		
			if(mw3.when == 'view') {
			%>
				<a onClick="<%=methods.showDetial.caller() %>" ><%=fields.empName.here() %>
				<%=fields.jikName.here() %></a>
			<%
			} else if(mw3.when == 'new') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			} else if(mw3.when == 'edit') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			}
		
		} else if(mw3.how == 'detail') {
			if(mw3.when == 'view') {
			%>
				<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30">
				<%=fields.imageFile.here() %>
				<%=mw3.localize("$Id")%> :<%=value.empCode %>
				<%=mw3.localize("$Name")%> : <%=fields.empName.here() %>
				<%=mw3.localize("$Dept")%> : <%=fields.partName.here() %>(<%=value.partCode %>)
				<%=mw3.localize("$Position")%> : <%=fields.jikName.here() %>
				<%=mw3.localize("$Phone")%> : <%=fields.mobileNo.here() %>
				<%=mw3.localize("$Email")%> : <%=fields.email.here() %>
				<%=mw3.localize("$Language")%> : <%=fields.locale.here() %>
			<%
			} else if(mw3.when == 'new') {
			%>	
				<ul id="green_and_orange_step_menu">
					<li class="frist">STEP1<em>Choose language</em></li>
				    <li>STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				</ul>		
				<ul>
					<li class="checkStyle">							
						<div class="infoSub">Language :<%=fields.locale.here({when:'new'}) %></div>							
						<div style="clear"></div>							
			  		</li>    
			  		
			 	</ul>
			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="javascript:<%=methods.subscribeStep1.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>				 	
			<%
			} else if(mw3.when == 'new2') {
			%>
				<ul id="green_and_orange_step_menu">
					<li class="frist fdone">STEP1<em>Choose language</em></li>
				    <li class="inprogress">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last">STEP3<em>Preferences</em><span></span></li>
				</ul>
				<div class="form_table">
					<table border="1" cellspacing="0" summary="">
						<tbody>
						<!--tr>	
							<th scope="row"><%=mw3.localize("$Id")%></th>
							<td>
								<div class="item">
									<span style="float:left;"><%=fields.empCode.here({when:'new'}) %></span><a style="margin-left:10px;" id="wBtn" href="javascript:<%=methods.checkEmpCode.caller()%>"><span>Check ID</span></a>
									<span style="float:left;" id="checkEmpCode_<%=objectId%>"></span>
								</div>
							</td>
						</tr-->
						<tr>
							<th scope="row"><%=mw3.localize("$Name")%></th>
							<td>
								<div class="item">
									<%=fields.empName.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Email")%></th>
							<td>
								<div class="item">
									<%=fields.email.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$CompanyName")%></th>
							<td>
								<div class="item">
									<%=fields.globalCom.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Password")%></th>
							<td>
								<div class="item">
									<%=fields.password.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><%=mw3.localize("$Re-Password")%></th>
							<td>
								<div class="item">
									<%=fields.confirmPassword.here({when:'new'}) %>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			 	
				<div id="btnline">
					<ul>	
						<li><a id="wBtn" href="javascript:<%=methods.subscribeStep2.caller()%>"><span>Next</span></a></li>
					</ul>
				</div>				
		 	
			<%
			} else if(mw3.when == 'new3') {
				
			%>	
				<ul id="green_and_orange_step_menu">
					<li class="frist fdone">STEP1<em>Choose language</em></li>
				    <li class="done">STEP2<em>Basic Informationy</em><span></span></li>
				    <li class="last lastinprogress">STEP3<em>Preferences</em><span></span></li>
				</ul>		
				<ul>
					<li class="checkStyle">
							<div class="infoSub"><%=mw3.localize("$PreferUX")%></div>
							
							<!--span>	
								<img src="images/signIn/twitter_com.png" width="150">
								<input type="radio" id="uxStyle_<%=objectId%>" name="uxStyle_<%=objectId%>" value="tw">I love Twitter <br><b>(Super Simple)</b>
							</span-->
							<span>
								<img src="images/signIn/facebook_com.png" width="150">
								<input type="radio" id="uxStyle_<%=objectId%>" name="uxStyle_<%=objectId%>" value="fb" checked>I like Simple One <br>
							</span>
							<!--span>
								<img src="images/signIn/asana_com.png" width="150">
								<input type="radio" id="uxStyle_<%=objectId%>" name="uxStyle_<%=objectId%>" value="asana">I love Asana <br><b>(Social Project Management)</b>
							</span-->
							<span>
								<img src="images/signIn/wave_com.png" width="150">
								<input type="radio" id="uxStyle_<%=objectId%>" name="uxStyle_<%=objectId%>" value="wave">I like Powerful One <br>
							</span>
							
							<div style="clear"></div>							
			  		</li>    
			 	</ul>
			 	
				<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
					<ul>	
						<li><a id="wBtn" href="javascript:<%=methods.saveEmployeeInfo.caller()%>"><span>Finish!</span></a></li>
					</ul>
				</div>			 	
			<%
			} else if(mw3.when == 'edit') {
			%>
				<%=methods.saveEmployeeInfo.here() %>
			<%
			}
		
		}
		
		
	} else if(mw3.where == 'navigator'){
	%>
	
	<a onClick="<%=methods.loadOrganization.caller() %>"class="iemployee"><%=value.empName %> (<%=value.jikName %>)</a>
	
	<%
	} else if(mw3.where == 'modifyEmployeeInfo') {
	%>
	<%
	} else if(mw3.where == 'instanceList') {
	%>
	<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30" title="<%=value.empName %>">
	<%
	} else if(mw3.where == 'inSession') {
	%>
	<a onClick="<%=methods.showDetail.caller() %>" ><b><%=value.empName %></b> (<%=value.empCode %>)</a>
	<%
	} else if(mw3.where == 'inWorkItem') {
	%>
	<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30"><%=fields.empCode.here() %>
	<%
	} else if(mw3.where == 'inDetailView') {
	%>
	
	<ul>
		<li>
			<dl class="lst_type2">
				<dt class="tit">
					<div id="popupInfoNameWih"><b><%=value.empName %></b></div>
					<div class="infoSub"><span><%=mw3.localize("$Id")%> :</span><span><%=value.empCode %></span></div>
<%
		if(mw3.when == 'edit'){
%>					
					<div class="infoSub"><span><%=mw3.localize("$Name")%> :</span><span><%=fields.empName.here()%></span></div>		
					<div class="infoSub"><span><%=mw3.localize("$Password")%> : </span><span><%=fields.password.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$Re-Password")%> : </span><span><%=fields.confirmPassword.here() %></span></div>								
<%		
		}
%>
					<div class="infoSub"><span><%=mw3.localize("$Position")%> : </span><span><%=fields.jikName.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$Phone")%> : </span><span><%=fields.mobileNo.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$Email")%> : </span><span><%=fields.email.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$FacebookID")%> : </span><span><%=fields.facebookId.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$Language")%> : </span><span><%=fields.locale.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$PreferUX")%> : </span><span><%=fields.preferUX.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$PreferMob")%> : </span><span><%=fields.preferMob.here() %></span></div>
					<div class="infoSub"><span><%=mw3.localize("$Portrait")%> : </span><span><%=fields.imageFile.here() %>&nbsp;</span></div>
				</dt>
				<dd class="photo2">
					<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="104" height="104"></div>
										
					
				</dd>
   			</dl>
  		</li>    
 	</ul>

	<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
		<ul>	
		<%=methods.unsubscribe.here()%>
			<% if(mw3.when == 'view') {%>
			<li><a id="wBtn" href="javascript:<%=methods.editEmployeeInfo.caller()%>"><span>edit</span></a></li>	
			<% }else if(mw3.when == 'edit') {%>
			<li><a id="wBtn" href="javascript:<%=methods.saveEmployeeInfo.caller()%>"><span>save</span></a></li>
			<%}%>
		</ul>
	</div>
	
	
	<%
	} else if(mw3.where == 'pickerCaller') {
		if(value.empCode) {
		%>
		<%=value.empName %>(<%=value.empCode %>)
		<%
		}
	%>
	
	<a id="wBtn" href="javascript:<%=methods.openPicker.caller() %>"><span>openPicker</span></a>

	<%
	} else if(mw3.where == 'picker') {
	%>
	<a onClick="<%=methods.pickup.caller() %>" class="iemployee"><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addContact') {
	%>
	<a onClick="<%=methods.addContact.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else {
	%>
	IEmployee Object where context value : <%=mw3.where %> <%=fields.empCode.here() %>
	<%
	}
}
%>