<%
if(value){
	var portrait;
	var onErrorImg;
		
	if(value.empCode)
		portrait = 'images/portrait/' + value.empCode + '.jpg';
	else
		portrait = 'images/portrait/unknown_user.gif';
	
	onErrorImg = "this.src='images/portrait/unknown_user.gif'";


	//no use Admin
	
	if(mw3.where == 'admin'){
		if(mw3.how == 'tree'){
		
			if(mw3.when == 'view') {
			%>
				<a onClick="<%=methods.showDetial.caller() %>" ><%=fields.empName.here() %>
				<%=fields.jikName.here() %></a>
			<%
			} else if(mw3.when == 'new') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			} else if(mw3.when == 'edit') {
			%>
				IEmployee Object where context value in Tree : <%=mw3.where %>
			<%
			}
		
		} else if(mw3.how == 'detail') {
			if(mw3.when == 'view') {
			%>
				<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30">
				<%=fields.imageFile.here() %>
				ID :<%=value.empCode %>
				NAME : <%=fields.empName.here() %>
				Dept : <%=fields.partName.here() %>(<%value.partCode %>)
				Position : <%=fields.jikName.here() %>
				Phone : <%=fields.mobileNo.here() %>
				Email : <%=fields.email.here() %>
				Locale : <%=fields.locale.here() %>
			<%
			} else if(mw3.when == 'new') {
			
			%>			
				<ul>
					<li>
						<dl class="lst_type2">
							<dt class="tit">
							<div class="infoSub"><span>ID :</span><span><%=fields.empCode.here() %></span></div>
								<div class="infoSub"><span>Name :</span><span><%=fields.empName.here() %></span></div>								
								<div class="infoSub"><span>PASSWORD : </span><span><%=fields.password.here() %></span></div>
								<div class="infoSub"><span>Phone : </span><span><%=fields.mobileNo.here() %></span></div>
								<div class="infoSub"><span>Email : </span><span><%=fields.email.here() %></span></div>
								<div class="infoSub"><span>Locale : </span><span><%=fields.locale.here() %></span></div>
								<div class="infoSub"><span><%=fields.imageFile.here() %>&nbsp;</span></div>
							</dt>
							<dd class="photo2">
								<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="104" height="104"></div>								
							</dd>
			   			</dl>
			  		</li>    
			 	</ul>
			 	
				<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
					<ul>	
						<li><a id="wBtn" href="javascript:<%=methods.saveEmployeeInfo.caller()%>"><span>create</span></a></li>
					</ul>
				</div>			 	
			<%
			} else if(mw3.when == 'edit') {
			%>
				<%=methods.saveEmployeeInfo.here() %>
			<%
			}
		
		}
		
		//no use Admin
		
	} else if(mw3.where == 'navigator'){
	%>
	
	<a onClick="<%=methods.loadOrganization.caller() %>"class="iemployee"><%=value.empName %> (<%=value.jikName %>)</a>
	
	<%
	} else if(mw3.where == 'modifyEmployeeInfo') {
	%>
	// TODO EDIT 
	<%
	} else if(mw3.where == 'instanceList') {
	%>
	<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30" title="<%=value.empName %>">
	<%
	} else if(mw3.where == 'inSession') {
	%>
	<a onClick="<%=methods.showDetail.caller() %>" ><b><%=value.empName %></b> (<%=value.empCode %>)</a>
	<%
	} else if(mw3.where == 'inWorkItem') {
	%>
	<img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="30" height="30"><%=fields.empCode.here() %>
	<%
	} else if(mw3.where == 'inDetailView') {
	%>
	
	<ul>
		<li>
			<dl class="lst_type2">
				<dt class="tit">
					<div id="popupInfoNameWih"><b><%=value.empName %></b></div>
					<div class="infoSub"><span>ID :</span><span><%=value.empCode %></span></div>
					<div class="infoSub"><span>PASSWORD : </span><span><%=fields.password.here() %></span></div>
					<div class="infoSub"><span>Dept : </span><span><%=value.partName %>(<%value.partCode %>)</span></div>
					<div class="infoSub"><span>Position : </span><span><%=value.jikName %></span></div>
					<div class="infoSub"><span>Phone : </span><span><%=fields.mobileNo.here() %></span></div>
					<div class="infoSub"><span>Email : </span><span><%=fields.email.here() %></span></div>
					<div class="infoSub"><span>Locale : </span><span><%=fields.locale.here() %></span></div>
					<div class="infoSub"><span><%=fields.imageFile.here() %>&nbsp;</span></div>
				</dt>
				<dd class="photo2">
					<div id="popupInfoImgWih"><img id="userPicture_<%=objectId %>" onerror="<%=onErrorImg %>" src="<%=portrait %>" width="104" height="104"></div>
					
				</dd>
   			</dl>
  		</li>    
 	</ul>

	<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
		<ul>	
			<% if(mw3.when == 'view') {%>
			<li><a id="wBtn" href="javascript:<%=methods.editEmployeeInfo.caller()%>"><span>edit</span></a></li>	
			<% }else if(mw3.when == 'edit') {%>
			<li><a id="wBtn" href="javascript:<%=methods.saveEmployeeInfo.caller()%>"><span>save</span></a></li>
			<%}%>
		</ul>
	</div>
	
	
	<%
	} else if(mw3.where == 'pickerCaller') {
		if(value.empCode) {
		%>
		<%=value.empName %>(<%=value.empCode %>)
		<%
		}
	%>
	
	<a id="wBtn" href="javascript:<%=methods.openPicker.caller() %>"><span>openPicker</span></a>

	<%
	} else if(mw3.where == 'picker') {
	%>
	<a onClick="<%=methods.pickup.caller() %>" class="iemployee"><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else if(mw3.where == 'addLocalContactPanel') {
	%>
	<a onClick="<%=methods.addContact.caller() %>" class="iemployee" ><%=fields.empName.here() %>(<%=value.empCode %>)</a>
	
	<%
	} else {
	%>
	IEmployee Object where context value : <%=mw3.where %> <%=fields.empCode.here() %>
	<%
	}
}
%>