<%
if(value){
	var portrait = '';
		
	if(value.userId)
		portrait = 'portrait/' + value.userId + '.thumnail';
%>	
<form class="form-horizontal" role="form">
  <div class="form-group" style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">시스템</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.notiEmail.here() %> <%=mw3.localize("$NotiEmail")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.checkLogin.here() %> <%=mw3.localize("$CheckLogin")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.notiAdvice.here() %> <%=mw3.localize("$NotiAdvice")%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group"  style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">주제</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.modiTopic.here() %> <%=mw3.localize("$ModiTopic")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.writeTopic.here() %> <%=mw3.localize("$WriteTopic")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.inviteTopic.here() %> <%=mw3.localize("$InviteTopic")%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group"  style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">조직</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.modiOrgan.here() %> <%=mw3.localize("$ModiOrgan")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.writeOrgan.here() %> <%=mw3.localize("$WriteOrgan")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.inviteOrgan.here() %> <%=mw3.localize("$InviteOrgan")%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group"  style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">회원</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.modiUser.here() %> <%=mw3.localize("$ModiUser")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.addFriend.here() %> <%=mw3.localize("$AddFriend")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.writeBookmark.here() %> <%=mw3.localize("$WriteBookmark")%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group"  style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">댓글</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.writeBookmark.here() %> <%=mw3.localize("$WriteBookmark")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.writeInstance.here() %> <%=mw3.localize("$WriteInstance")%>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group"  style="margin:0 0 15px 0; padding-bottom:15px; border-bottom:1px solid #e8e8e8;">
    <label for="inputPassword3" class="col-sm-2 control-label">일정</label>
    <div class="col-sm-10">
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.beforehandNoti.here() %> <%=mw3.localize("$BeforehandNoti")%>
        </label>
      </div>
      <div class="checkbox" style="padding-top:5px;">
        <label>
          <%=fields.notiTime.here() %> <%=mw3.localize("$NotiTime")%>
        </label>
      </div>
       <div style="margin-top:15px; width:300px">
         <%=fields.selectTime.here() %>
      </div>
     
    </div>
  </div>
</form>
<div id="btnline" style="padding-top:8px;">
	<div class="positionRight">
		<%=methods.save.here()%>
		<div class="clear"></div>
	</div>
</div>

					
				
 <%
 }
 %>