<%
	if(value){
%>

		<div class="pane ui-layout-north" style="z-index:1004">
			<%=fields.followers.here()%>
			
			<div class="toolbar">
			    <ul>
			        
			        <li id="wih_btn_item_Information">
			        	<a href="#" onClick="<%=methods.showWFlow.caller()%>">
			        		<span id="method_<%=objectId%>_monitor"><img src="images/waveStyle/i_workitem_i.png" border="0"></span>
			        		<span><%=mw3.localize("$process")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_item_GanttChart">
			        	<a href="#" onClick="<%=methods.schedule.caller()%>">
			        		<span style="color: black; "><img src="images/waveStyle/i_gantt.png" border="0" valign=center></span>
			        		<span style="color: black; "><%=mw3.localize("$Schedule")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_sendMail" style="display: none; ">
			        	<a href="#" onClick="sendMail()">
			        		<span><img src="images/waveStyle/i_mail.png" border="0"></span>
			        		<span><%=mw3.localize("$Mail")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_reply" style="display: block; ">
			        	<a href="#" onClick="<%=methods.newSubInstancePanel.caller()%>">
			        		<span style="color: black; cursor:hand "><img src="images/waveStyle/i_reply.png" border="0"></span>
			        		<span><%=mw3.localize("$activity")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_edit" style="display: none; ">
			        	<a href="">
			        		<span><img src="images/waveStyle/i_edit.png" border="0"></span>
			        		<span><%=mw3.localize("$Edit")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_delete" style="display: none; ">
			        	<a href="#" onClick="deleteMail()">
			        		<span><img src="images/waveStyle/i_delete.png" border="0"></span>
			        		<span><%=mw3.localize("$Deletemail")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_item_delete" style="display: block; ">
			        	<a href="#" onClick="<%=methods.remove.caller()%>">
			        		<span><img src="images/waveStyle/i_delete.png" border="0"></span>
			        		<span><%=mw3.localize("$Delete")%></span>
			        	</a>
			        </li>
			        <li id="wih_btn_toInstance" style="display: none; ">
			        	<a href="#" onClick="getRecommandProcessList();">
			        		<span><img src="images/waveStyle/i_toinst.png" border="0"></span>
			        		<span><%=mw3.localize("$processchange")%></span>
			        	</a>
			        </li>			       
<%
			if(value.secuopt == null || value.secuopt == '0'){
%>						        
			        <li id="wih_btn_sec">
			        	<a href="#" onClick="<%=methods.toggleSecurityConversation.caller()%>">
			        		<span><img src="images/waveStyle/i_unsecuopt.png" border="0"></span>
			        		<span><%=mw3.localize("$Privacy")%></span>
			        	</a>
			        </li>
<%
			}else{
%>						        
			        <li id="wih_btn_sec" class="toolbar_current">
			        	<a href="#" onClick="<%=methods.toggleSecurityConversation.caller()%>">
			        		<span><img src="images/waveStyle/i_secuopt.png" border="0"></span>
			        		<span><%=mw3.localize("$MakeItPrivacy")%></span>
			        	</a>
			        </li>
<%
			}

			if(value.status != 'Stopped' && value.status != 'Completed'){
%>						        
			        <li id="wih_btn_complete">
			        	<a href="#" onClick="<%=methods.complete.caller()%>">
			        		<span><img src="images/waveStyle/i_complete.png" border="0"></span>
			        		<span><%=mw3.localize("$Completing")%></span>
			        	</a>
			        </li>

<%
			}else{
%>						        
			        <li id="wih_btn_complete" class="toolbar_current">
			        	<a href="#" onClick="<%=methods.complete.caller()%>">
			        		<span><img src="images/waveStyle/i_complete.png" border="0"></span>
			        		<span><%=mw3.localize("$Complete")%></span>
			        	</a>
			        </li>
<%
			}
%>
			        <!-- 2011.09.05 -->
			        <!-- li id="wih_btn_reply"><a href="#" onClick="openEventHandler()"><span><img src="images/waveStyle/i_reply.png" border="0" /></img></span><span><%=mw3.localize("$EventHandler")%></span></a></li-->
			        
			    </ul>
			</div>
		</div>
<%
		if(mw3.when != "public"){
%>
 				<%=fields.crowdSourcer.here()%>				
<%
		}
%>	
		<div class="pane ui-layout-center">
			<div class="ui-layout-content" s tyle="background: #5882FA;">
				<%=fields.instanceNameChanger.here({when:'edit'})%>
				<%=fields.eventTriggerPanel.here()%>
				<%=value.scheduleEditor ? fields.scheduleEditor.here() : ""%>
				
				<%=fields.instanceViewThreadPanel.here()%>


<%=fields.externalFeedback.here()%>

<%
		if(mw3.when != "public"){
%>
<%		
		}
%>		
			</div>
		</div>
<%			
	}
%>