<%
	if(value){
%>
        <%
			if(mw3.how == 'signup') {
		%>
	    <div class="index_signup">
            <div class="index_signup_inner">
            	<%=fields.email.here({htmlTag:'span'})%>
            	<span onclick="<%=methods.signUp.caller()%>" class="ebutton">Sign Up</span>
            	<span style="line-height:27px; margin:0 10px;">or</span>
            	<span style="position:relative; top:-1px;"><img src="images/signIn/fbLogin.png" /></span>
            	<div class="clear"></div>
        </div>	
        <%
			}else if(mw3.how == 'invite'){	
		%>
			<div class="invitation_div">
				<p class="title"><%=mw3.localize('$InviteYourFriend')%></p>
				<div class="invit_input"><%=fields.email.here({when:'edit'})%></div>
		        <div class="positionRight" style="margin-top:3px;"><a id="wBtn" href="#" onclick="<%=methods.invite.caller()%>"><span><%=mw3.localize('$FriendInvite')%></span></a></div>
	        </div>            
		    </div>
		    <div class="guide"><span class="lb"></span><span class="rb"></span></div>
		<%
			}else if(mw3.how == 'findpw'){		
		%>
		

				<p class="title"><%=mw3.localize('$Email')%></p>
        
	        <table width="100%" border="0" cellspacing="0" cellpadding="0">
	            <tbody>
	                <tr>
	                    <td style="padding:2px 12px 0 0;"><table width="*" border="0" cellspacing="0" cellpadding="0">
	                            <tbody>
	                                <tr height="25" valign="middle">
	                                    <td bgcolor="white">
	                                            <%=fields.email.here()%>
	                                       
	                                        </td>
	                                </tr>
	                            </tbody>
	                        </table></td>
	                </tr>
	                <tr>
	                    <td>
	                    	<div class="positionRight"><a id="wBtn" href="#" onclick="<%=methods.findPassword.caller()%>"><span><%=mw3.localize('$EmailAuth')%></span></a></div>
	                    </td>
	                </tr>
	            </tbody>
	        </table>

		




		<%
			}else if(mw3.how == 'afterinvite'){		
		%>
			
			<div class="invitation_div">
				<p class="title"><%=mw3.localize('$InviteYourFriend')%></p>
				<div class="invit_input"><%=fields.email.here({when:'edit'})%></div>
		        <div class="positionRight" style="margin-top:3px;"><a id="wBtn" href="#" onclick="<%=methods.invite.caller()%>"><span><%=mw3.localize('$FriendInvite')%></span></a></div>
	        	<div style="clear:both"></div>
	        	<div class="alert alert-info" style="margin-top:15px; padding:5px;"><%=fields.invitedMessage.here({when:'view'})%></div>
	        </div>            
		    </div>
		    <div class="guide"><span class="lb"></span><span class="rb"></span></div>
			
        <div style="clear:both"></div>
		<%
			}		
		%>


<%
	}		
%>
