<%
if(mw3.when == 'filter'){
%>
<img alt="" src="images/processMap/iconDefault.png" width="15" height="15"/><a href="#" onClick="<%=methods.processListFilter.caller()%>"><%=value.name%></a>
<%
}else{
%>
<span id="method_<%=objectId%>_initiate">
<%
	if(value){
		if(mw3.when == 'new' || mw3.when == 'edit'){
%>
	<div id="process">
		<dl>
			<dd>alias : <%=value.defId%></dd>
			
			<table><td><%=mw3.localize("$DisplayName")%> : </td><td> <%=fields.name.here({when:'edit'})%></td></table>
		</dl>
	</div>
	
	<div id="editiconpop">
		<%=fields.iconColor.here()%>
		
		<dl>
			<dt>아이콘선택</dt>
			<dd style="width:230px;">        
				<%=fields.iconFile.here()%>          
			</dd>
			<dd style="width:230px; padding-top:3px;">
				<span style="color:#F60">* png 파일만 * <a href="http://www.iconfinder.com/" target="_blank"> 아이콘 다운로드 바로가기</a></span> 
			</dd>
		</dl>
		<div></div>
	</div>
	
	<%=fields.roleMappingPanel.here()%>
	
	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px;">
		<ul>			
			<li><a id="wBtn" href="#" onClick="<%=methods.remove.caller()%>"><span>삭제</span></a></li>
			<li><a id="wBtn" href="#" onClick="<%=methods.close.caller()%>"><span>취소</span></a></li>			
			<li><a id="wBtn" href="#" onClick="<%=methods.save.caller()%>"><span>저장</span></a></li>			
		</ul>
	</div>
<%		
		}else{
			var session = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session');
			
			var admin = false;
			if(session && session.employee)
				admin = session.employee.isAdmin;		
				
			if(admin){
%>
   	<div class="editicon" onclick="<%=methods.modify.caller()%>"></div>
<%
			}
%>   	
    <a href="#" onClick="mw3.getFaceHelper('<%=objectId%>').whenClick()"><img alt="" src="images/processMap/iconDefault.png" width="40" height="40"></a>
    <a href="#"><%=value.name%></a>



	
<%
		}
	}
}
%>	

</span>