<%
	if(value && value.userId){
		var clickAction = '';
		
		if(mw3.when == 'self_small'){
			clickAction = methods.showMenu.caller();
		}else if(mw3.when == 'addContact'){
			clickAction = methods.addContact.caller();
		}else if(mw3.when == 'addTopicFollower' || mw3.when == 'addDocumentFollower' || mw3.when == 'addInstanceFollower' || mw3.when == 'addEtcFollower'  || mw3.when == 'addRoleFollower' || mw3.when == 'addDeptFollower' || mw3.when == 'addPicker'){
			clickAction = methods.addFollower.caller();
		}else if(mw3.where == 'dashboard'){
			clickAction	= '';
		}else{
			clickAction = methods.detail.caller();
		}
					
		var portrait = '';		
		if(value.network == 'local' || value.network == null){
			if(value.userId)
				portrait = 'portrait/' + value.userId + '.thumnail';			
		}else if(value.network == 'fb'){
			if(value.userId)
				portrait = 'http://graph.facebook.com/' + value.userId + '/picture';			
		}		
		
		var session = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session');
		
		var itIsMe = false;
		if( session && session.user ){
			itIsMe = (session.user.userId == value.userId);
		}
		
		if(mw3.how == 'info'){			
%>
		<ul>
			<li>
				<dl class="lst_type2">

					<dd class="photo">
						<div id="popupInfoImgWih"><img id="user_picture_<%=objectId%>" src="<%=portrait%>" width="104" height="104"></div>	
					</dd>
					<dd class="tit">
						<div id="popupInfoNameWih"><b><%=value.name%></b></div>
						<%
							if(itIsMe){
						%>
						<div>
							<%=fields.mood.here({when:'edit'})%>
						</div>
						<div style="margin-top:5px;">
							<a id="wBtn" href="#" onClick="<%=methods.changeMood.caller()%>"><span style="color:#000; margin-right:0px"><%=mw3.localize("$ChangeMood")%></span></a>
						</div>
						
						<%	}else{%>
							<%=value.mood ? value.mood : ''%>
						<%	}%>			
					</dd>
       			</dl>
       			<dl>
					<dd>
						<div>
							<table>
								<tr align="right">
									<td width="200" align="center">Business Value</td>
									<td width="150" align="center">Todo Count</td>
								</tr>
								<tr align="right">
									<td align="center" style="font-size:30pt"><%=value.businessValue%></td>
									<td align="center" style="font-size:30pt"><%=value.todoCount%></td>
								</tr>
							</table>
						</div>
					</dd>
       			</dl>
      		</li>    
     	</ul>

<%
			if(mw3.when != 'chat'){
%>			     	
     	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px;">
			<ul>
<%
				if(mw3.when == 'contacts'){
%>							
				<li><a id="wBtn" href="#" onClick="<%=methods.removeContact.caller()%>"><span><%=mw3.localize("$RemoveFromContact")%></span></a></li>
<%
				}else if(mw3.when== 'followers'){
%>							
				<li><a id="wBtn" href="#" onClick="<%=methods.removeFollower.caller()%>"><span><%=mw3.localize("$RemoveFromFollowers")%></span></a></li>
<%
				}
				
				if(value.network == 'fb'){
%>
				<li><a id="wBtn" href="http://www.facebook.com/profile.php?id=<%=value.userId%>" target="_blank"><span>goFacebook</span></a></li>
<%				
				}
%>				
				<li><a id="wBtn" href="#" onClick="<%=methods.addContact.caller()%>"><span><%=mw3.localize("$AddFriend")%></span></a></li>						
				<li><a id="wBtn" href="#" onClick="<%=methods.chat.caller()%>"><span><%=mw3.localize("$Chat")%></span></a></li>
				
<%
				if(session && session.employee && session.employee.approved && !session.employee.guest){
%>														
				<li><a id="wBtn" href="#" onClick="<%=methods.showSchedule.caller()%>"><span><%=mw3.localize("$showSchedule")%></span></a></li>
				<li><a id="wBtn" href="#" onClick="<%=methods.showWall.caller()%>"><span><%=mw3.localize("$ShowWall")%></span></a></li>
<%
				}
%>
<%		
    if(false){
		if((value.userId).indexOf('.'+session.employee.globalCom) < 0 &&
			(session.employee.isAdmin || (value.inviteUser != null && value.inviteUser==session.user.userId))) {
%>		
     			<!-- 탈퇴하기-->
				<li><a id="wBtn" href="#" onClick="<%=methods.unsubscribe.caller()%>"><span><%=mw3.localize("$Unsubscribe")%></span></a></li>
				
<%
		}
	}	
%>
<%		
		if(false){
			if((value.userId).indexOf('.'+session.employee.globalCom) < 0 &&
				(session.employee.isAdmin || (value.inviteUser != null && value.inviteUser==session.user.userId))) {
				if(value.guest) {
%>	
						<!-- 사용자 전환 -->
						<li><a id="wBtn" href="#" onClick="<%=methods.guestToUser.caller()%>"><span><%=mw3.localize("$GuestToUser")%></span></a></li>
<%	 			}else{
%>
						<!-- Guest 전환 -->
						<li><a id="wBtn" href="#" onClick="<%=methods.userToGuest.caller()%>"><span><%=mw3.localize("$UserToGuest")%></span></a></li>
<%
				}
			}
		}
%> 								
			</ul>
		</div>
<%
			}
		}else if(mw3.how == 'picker'){
%>
		<div class="user">	
			<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
				<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
			</div>
				
			<div class="user_compact">
				<%=value.name%>
			</div>
			<div style="clear:both"></div>
		</div>			
<%		
		}else if(mw3.how == 'followerCheck'){
%>
		<div class="user">		
			<div style="float:left;padding:10px;position:relative;z-index:9999"><span><%= fields.userChecked.here({when:'edit'}) %></span></div>
			<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
				<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
			</div>
			<div class="user_detail">
				<span class="fontbold"><%=value.name%></span>
				<span class="fontgray"><%=value.mood ? value.mood : ''%></span>
			</div>
			<div style="clear:both"></div>
		</div>
<%		
		}else if(mw3.where == 'topPanel'){
%>
		<div class="user" onclick="<%=clickAction%>">		
			<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
				<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
				<%if(value.size!='small'){%><div class="followers_name" title="<%=value.name%>"><%=value.name%></div><%}%>
			</div>
		</div>
		
<%		
		}else{			
%>
		<div class="user" onclick="<%=clickAction%>">		
			<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
				<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
				<%if(value.size!='small'){%><div class="followers_name" title="<%=value.name%>"><%=value.name%></div><%}%>
			<!--
<%	
			if(mw3.when == 'followers' || mw3.when == 'topicFollowers' || mw3.when == 'deptFollowers' || mw3.when == 'roleFollowers' || mw3.when == 'contacts'  || mw3.when == 'documentFollowers'){
%>
				<div class="followers_name" title="<%=value.name%>"><%=value.name%></div>

<%
			}
%>
			-->
			</div>
			
<%	
			/* case by user */
			/*
			if(mw3.when == 'contacts' || mw3.when == 'addContact' || mw3.when == 'addDocumentFollower'  || mw3.when == 'addTopicFollower' || mw3.when == 'addInstanceFollower' || mw3.when == 'addEtcFollower' || mw3.when == 'addPicker' || mw3.when == 'addDeptFollower'){
			*/
			if(mw3.when == 'addInstanceFollower' ||  mw3.when == 'addTopicFollower' || mw3.when == 'addDocumentFollower' || mw3.when == 'addDeptFollower'){
%>
			<div class="user_detail">
				<span class="fontbold"><%=value.name%></span>
				<span class="fontgray"><%=value.mood ? value.mood : ''%></span>
				<!--<span class="fontgray"></span>-->
			</div>
<%			
			}else if(mw3.when == 'self'){
%>
			<div class="user_compact">
				<%=value.name%>
				<%=value.mood ? '<br>'+value.mood : ''%>
			</div>
<%			
			}
%>		
			<!--div style="clear:both"></div-->

		</div>
<%		 
		}
	}
%>
<%=methods ? methods.pickUp.here() : ""%>