<!--<%=mw3.when%>,<%=mw3.how%>,<%=mw3.where%>-->

<%
	if(value){	
		var portrait = '';		
		if(value.network == 'local' || value.network == null){
			if(value.userId)
				portrait = 'portrait/' + value.userId + '.thumnail';			
		}else if(value.network == 'fb'){
			if(value.userId)
				portrait = 'http://graph.facebook.com/' + value.userId + '/picture';			
		}		
	
		if(mw3.how == 'picker' || mw3.how == 'pickerlist'){
			if(value.userId){
%>
			<div class="user">	
				<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
					<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
				</div>
					
				<div class="user_compact">
					<%=value.name%>
				</div>
				<div style="clear:both"></div>
			</div>
<%		
			}
%>
			<%=methods.popupPicker.here()%>
			<div style="clear:both"></div>
<%
		}else{			
%>
			<div class="user">		
				<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
					<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
<%	
			if(mw3.where == 'friends' || mw3.where == 'followers' || mw3.where == 'worklist'){
%>
					<div class="followers_name" title="<%=value.name%>"><%=value.name%></div>
<%
			}
%>
				</div>
			
<%
			if(mw3.where == 'addcontact' || mw3.where == 'addfollower'){
%>			
				<div class="user_detail">
					<span class="fontbold"><%=value.name%></span>
					<span class="fontgray"><%=value.mood ? value.mood : ''%></span>
				</div>
<%
			}
%>			
				<div style="clear:both"></div>

<%
			if(mw3.where == 'addcontact' || mw3.where == 'addfollower'){
%>							
				<div style="padding:3px 0px; border-bottom:1px solid #e7e7e7;" />
<%
			}
%>			
			</div>
<%		 
		}
	}
%>