<!--<%=mw3.when%>,<%=mw3.how%>,<%=mw3.where%>-->

<%
	if(value){	
		var portrait = '';		
		if(value.network == 'local' || value.network == null){
			if(value.userId)
				portrait = 'portrait/' + value.userId + '.thumnail';			
		}else if(value.network == 'fb'){
			if(value.userId)
				portrait = 'http://graph.facebook.com/' + value.userId + '/picture';			
		}		
%>
			<div class="user" <%if(mw3.where == 'addfollower'){%>style="float:left; width:auto !important;"<%}%>>		
				<div class="user_focus" style="background: url('<%=portrait%>'); background-size:cover;"  title="<%=value.name%>">	
					<img id="user_picture_<%=objectId%>" src="<%=portrait%>" class="pic <%=(value.size=='small' ? ' small':'')%>">
<%	
			var isOverlayName = true;
			
			if(mw3.where == 'addcontact' || mw3.where == 'addfollower' || mw3.where == 'pickerlist' || mw3.where == 'removefollower')
				isOverlayName = false;
			
			if(isOverlayName && mw3.where != 'self' && mw3.where != 'instancelist' ){
%>
					<div class="followers_name" title="<%=value.name%>"><%=value.name%></div>
<%
			}
%>
				</div>
			
<%
			if(!isOverlayName){
%>			
				<div class="user_detail">
					<span class="fontbold"><%=value.name%></span>
					<span class="fontgray"><%=value.mood ? value.mood : ''%></span>
				</div>
<%
			}
%>			
				

<%
			if(mw3.where == 'addcontact'){
%>				
				<div style="clear:both"></div>			
				<div style="padding:3px 0px; border-bottom:1px solid #e7e7e7;" />
<%
			}
%>			
			</div>
			
			<%=methods.popupPicker.here()%>
<%		 
	}
%>