<%
	if(value){
		var type_icon;
		
		if(value.type=='file'){
			type_icon	= "icon-attachment"		
		}else if(value.type=='memo'){
			type_icon	= "icon-newspaper"
		}else if(value.type=='src'){
			type_icon	= "icon-code"
		}else if(value.type=='remoteConf'){
			type_icon	= "icon-screen"
		}
		
		
		var status_icon;
		
		if(value.status=='COMPLETED'){
			status_icon	= "icon-checkmark"		
		}else if(value.status=='SUSPENDED'){
			status_icon	= "icon-pause2"
		}else if(value.status=='STOPEED'){
			status_icon	= "icon-stop2"
		}else if(value.status=='CANCELLED'){
			status_icon	= "icon-backward2"
		}else if(value.status=='DELEGATED'){
			status_icon	= "icon-loop2"
		}else if(value.status=='NEW'){
			status_icon	= "icon-play3"
		}else if(value.status=='RESERVED'){
			status_icon	= "icon-checkmark2"
		}else if(value.status=='REFERENCE'){
			status_icon	= "icon-arrow-up-right2"
		}else if(value.status=='DRAFT'){
			status_icon	= "icon-pen"
		}else if(value.status=='COMMENTED'){
			status_icon	= "icon-bubble"
		}
		
		if(value.more){
%>
	<div id="moreWorkDiv">
		<div class="morePointL"></div>
		<a class="moreBtn5" href="#" onClick="<%=methods.moreView.caller()%>">더 보기</a>
		<div class="morePointR"></div>
	</div>
<%		
		}else{
			var ejsPath = 'dwr/metaworks/' + objectTypeName.split('.').join('/') + '.ejs';
			
			var session = mw3.fn.getSession();
			var isMine = false;
			var type = value.type;
			var collapse = false;
			var maximize = false;
						
			if('system' == type)
				type = 'comment';

			var title = value.title.replace('\n','<br>');
			var desc = '';
        	
        
			if('file' == type)
				desc = value.majorVer + '.' + value.minorVer;
			else if('process' == type){
				//title = mw3.localize('$MyTask') + ': ' + title;
				
				desc = mw3.localize('$workitem.status.' + value.status.toLowerCase());
				
				if(!value.workItemHandler || !value.workItemHandler.taskId)
					collapse = true;
			}
						
			
			if('file' == type){
				var fileMimeType = value.file.mimeType;
				var isPreview = false;
				
				
				if(fileMimeType.indexOf("msdownload") == -1 && ( fileMimeType.indexOf("ms")>=1   || fileMimeType.indexOf("officedocument")>=1 || fileMimeType.indexOf("pdf")>=1 || fileMimeType.indexOf("image")>-1) )
					maximize = true;
			}else if('process' == type){
				maximize = true;
			}			
			
			if(session && session.user && session.user.userId == value.writer.userId)
				isMine = true;
%>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
<%
			if(!isMine){
%>
				<td width="65" valign="top">
					<div class="notMePic">
						<div class="notMePicPic"><%=fields.writer.here()%></div>
					</div>										
				</td>
<%
			}
%>
				<td>
					<div style="position:relative;">
						<div class="<%=isMine?'view_box3':'view_box4'%>" style="<%=isMine?'margin-right':'margin-left'%>:14px; width:93%; float:<%=isMine?'right':'left'%>;position:relative">
							<div class="guide">
								<span class="tl"></span>
								<span class="tr"></span>
							</div>
							
							<div class="cont" style="padding:0px 10px; margin:0px; overflow:auto">
								<div class="formcontexttitle" style="<%=type == 'comment'?'font-weight:normal; border:none;':''%> <%=collapse?'border:none; margin-bottom:0px':''%>">
<%
			if('comment' != type){
%>	
										<span style="position:relative; height:38px; float:left; margin-right:10px;">										
											<span class="<%=type_icon%>" style="color: #7f8c8d; font-size: 20px;width:20px;" ></span>
<%
				if('process' == type) {					
%>
											<span class="<%=status_icon%>" style="position:absolute; top:0px; left:0px; color: #7f8c8d; font-size: 20px" ></span>										
<%
				}
%>	
										</span>
<%
			}
%>				
									<span class="wih_title">
										<%=title%>																				
									</span>
<%
			// icon - maximize
			if(maximize){
%>	
									<span style="position:absolute;">
										<a href="#" onClick="<%=methods.workItemPopup.caller()%>"> <img src="images/waveStyle/newWindow.png" style="position:relative; top:10px; left:5px;" title="Open new window"></a>
									</span>	
<%
			}
%>	
									
									<span class="workItemDate" style="margin-right:15px;">

											<div><%=desc%></div>
											<div><%=desc?' ·':''%></div>
											<%=fields.startDate.here({when: 'timeago'})%>
<%
			if('process' == value.type){	
%>								
										
										<div>·</div>
										<%=fields.dueDate.here({when: 'timeago'})%>
										<div> 까지</div>
<%			
			}	
%>								
<%
			if('process' == type) {
%>
											<div> ·</div>	
											<div>												
												<%=mw3.localize(collapse?'▲':'▼')%></div>
																														
<%
			}
%>
									</span>
									<div class="clear"></div>
								</div>

								<!-- content -->
<%
			if(!ejsPath.endsWith('IWorkItem.ejs')){
%>					
								<%=include(ejsPath)%>
<%
			}
%>					
							</div>
						</div>
						<div class="clear"></div>
						
<%
			if(isMine){
%>
						<div class="commentTailRight"><img src="images/waveStyle/bubbleTailRight.png"></div>
<%
			}else{
%>
						<div class="commentTailLeft"><img src="images/waveStyle/bubbleTailLeft.png"></div>	
<%
			}
%>	
						
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="clear"></div>
	<div style="height:10px"></div>

<%
		}
	}
%>
		