<div id="navigator">
<%=fields.personalPerspective.here() %>

<%=fields.strategicPerspective.here() %>

<%=fields.organizationPerspectiveDept.here() %>

<%=fields.organizationPerspectiveRole.here() %>

<%=fields.processPerspective.here() %>

</div>