<%
	if(value){
		if(mw3.how == 'sns'){
%>
	<%=fields.newInstantiator.here()%>
	
	<table>
		<tr>
			<td class="closed"><b>&nbsp;&nbsp;&nbsp;<img src="images/waveStyle/navi_icon.png"><%=mw3.localize("$OpenLevel")%>&nbsp; : &nbsp;</b></td>
			<td><%=fields.securityLevel.here({when:'edit'})%></td>
		</tr>
	</table>
<%		
		}else{
%>
<br><br>	
	<%=fields.newInstantiator.here()%>	
	<div id="wihOrContent" style="width: 100%; text-align: center; font-size: 30px; font-weight: bold; "><%=mw3.localize("$or")%></div>
	<%=fields.processMapPanel.here()%>
<br><br>
	
	<!--table width="100%">
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_public_sns.png"> 퍼블릭 SNS </td>
	<td width="20%"><center>
	<img src="images/waveStyle/open_level_in_house.png"> 우리조직내부에 
	</td>
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_follower_only.png"> 관련자만 
	</td>
	</table-->
	
	<table><td class="closed"><b>&nbsp;&nbsp;&nbsp;<img src="images/waveStyle/navi_icon.png"><%=mw3.localize("$OpenLevel")%>&nbsp; : &nbsp;</b></td><td>
	<%=fields.securityLevel.here({when:'edit'})%>
	</td></table>
<%		
		}
	}
%>
