<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=mw3.localize("$Organization")%></span></div>
<%
		if(value.selected){
%>
	<div class="depth2">		
		<%=fields.deptList.here()%>
		<a id="wBtn" href="#" onClick="<%=methods.addDept.caller()%>"><span><%=mw3.localize('$newOrganization')%></span></a>
		<div class="clear"></div>
	</div>	
<%
		}
	}
%>