<%
	if(value){
%>	
		<div class="depth1"><span onClick="<%=methods.select.caller() %>"><%=mw3.localize("$navigation.dept")%></span> <a href="javascript:<%=methods.addDept.caller()%>">[New]</a></div>
<%
		if(value.selected){
%>
	<div class="depth2">		
		<%=fields.deptList.here()%>
		
		<div class="fist_menu"><%=fields.deptEmployee.here()%></div>
	</div>	
<%
		}
	}
%>