<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><%=getMessage("Organization")%></div>

<%
		if(value.selected){
%>
	<div class="depth2">
		Dept <a href="javascript:<%=methods.addDept.caller()%>">new</a>
		<%=fields.deptList.here()%>
	</div>
	
	<div class="depth2">
		Role <a href="javascript:<%=methods.addRole.caller()%>">new</a>
		<%=fields.roleList.here()%>
	</div>
	
<%
		}
	}
%>