<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("$Personal")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<ul class="fist_menu">
			<li><span style="background:url(images/waveStyle/nav_newsfeed.png) no-repeat 5px 0px;"><a onClick="<%=methods.loadAllICanSee.caller()%>" href="#middle-west"><%=mw3.localize("$All")%></a></span></li>
			<li><span style="background:url(images/waveStyle/nav_participating.png) no-repeat 5px 0px;"><a onClick="<%=methods.loadAll.caller()%>" href="#middle-west"><%=mw3.localize("$Following")%></a></span></li>
			<li><span style="background:url(images/waveStyle/nav_my_to_do.png) no-repeat 5px 0px;"><a onClick="<%=methods.loadInbox.caller()%>" href="#middle-west" ><%=mw3.localize("$MyToDo")%></a></span></li>
			<li><span style="background:url(images/waveStyle/nav_by_me.png) no-repeat 5px 0px;"><a onClick="<%=methods.loadRequest.caller()%>" href="#middle-west"><%=mw3.localize("$StartedbyMe")%></a></span></li>
			<li><span style="background:url(images/waveStyle/nav_trash.png) no-repeat 5px 0px; "><a onClick="<%=methods.loadStopped.caller()%>" href="#middle-west"><%=mw3.localize("$Trash")%></a></span></li>
			<li><span style="background:url(images/waveStyle/i_gantt.png) no-repeat 5px 0px; "><a onClick="<%=methods.calendar.caller()%>" href="#middle-west"><%=mw3.localize("$Calendar")%></a></span></li>
		</ul>
	</div>
<%}else{%>
<%}%>