
<div id="navigator">
<div style="height:15px;"></div>
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	<%=fields.commingTodoPerspective.here() %>
	<%=fields.organizationPerspectiveDept.here() %>
	<%=fields.processPerspective.here() %>
	<%=fields.documentPerspective.here()%>
	<%=fields.organizationPerspectiveRole.here() %>
	<%=fields.projectPerspective.here() %>
	<%=fields.appPerspective.here() %>
	<%=fields.contactPerspective.here() %>
</div>

<div style="float:left; margin-left:10px; margin-top:15px;">

<div style="float:left; margin-left:10px; margin-top:15px;">
	<a id="" href="#" onClick="<%=methods.companyRepInfo.caller() %>"><span><%=mw3.localize("$setComapnyRep")%></span></a><br>
		<a id="" href="#" onClick="<%=methods.feedBackInfo.caller() %>"><span><%=mw3.localize("Contact Us")%></span></a>
</div>	
