<div id="navigator">
<div class="navigator_top_margin""></div>
	<%=fields.personalPerspective.here() %>
	<%=fields.topicPerspective.here() %>
	<%=fields.upcommingTodoPerspective.here() %>
	<%=fields.contactPerspective.here() %>
	<%=fields.documentPerspective.here()%>
	<%=fields.deptPerspective.here() %>
	<%=fields.rolePerspective.here() %>
	<%=fields.processPerspective.here() %>
	<%=fields.projectPerspective.here() %>
	<%=fields.appPerspective.here() %>
</div>
