<%
	if(value){
		if(value.loginUser){
			value.loginUser.metaworksContext.when = 'self';
		}
%>

 	<div style="float:left; margin-top:5px;"><%=fields.loginUser.here()%></div>
	<%=fields.notificationBadge.here()%>
	
	<%=fields.windowPanel.here()%>	
	
	<%=fields.tray.here()%>
	
	
    <div class="info">
    
        <%if(mw3.when!='__design-depth2'){/*TODO: later, rather use 'where' than 'when'.*/%>
        	<%=fields.session.here({when:'view'})%>
        <%}else{%>
        	session here.
        <%}%>	
	</div>	
<%
	}
%>