
<%
	if(value){
		if(value.status == 'FEED'){
%>
			<button type="button" class="btn btn-default" onClick="mw3.getFaceHelper('<%=objectId%>').conferenceWorkItemJoin();"><span class="glyphicon glyphicon-log-in"></span> <%=mw3.localize('$GoJoin')%></button> 
			
<%
			if(value.ext5 == 'true'){
%>
				<button type="button" class="btn btn-default" onClick="<%=methods.end.caller()%>"><span class="glyphicon glyphicon-off"></span> <%=mw3.localize('$EndMeeting')%></button>
<%
			}
		}else if(value.status == 'Waited'){
%>		
			<iframe src="dwr/metaworks/images/circleloading.gif" frameborder="0"  width="100%" height="300px"/>
<%	
		}else if(value.status == 'Completed' && value.ext4 != null){	
%>
			<button type="button" class="btn btn-default" onClick="<%=methods.palyBack.caller()%>"><img src="images/waveStyle/newWindow.png" style="margin-top:2px;" title="Open new window"> <%=mw3.localize('$PlayModalwindow')%></button>
			<iframe src="<%=value.ext4%>" frameborder="0"  width="100%" height="300px"/>

<%
		}
	}
%>