<%
	if(value){
		var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");		
		var sessionTheme = session.theme;
		if( sessionTheme == 'sns'){
%>	
			검색 ::::::   <input placeholder='<%=mw3.localize("$Search")%>' id="search_<%=objectId%>" class="contactsinput" value="<%=value.keyword ? value.keyword : ''%>">
<%
		}else{
%>
	<ul>
	    <li class="inputleft"><img src="/uengine-web/images/waveStyle/searchLeft.gif" border="0" /></li>
	    <li class="inputcenter">
	    	<input placeholder='<%=mw3.localize("$Search")%>' id="search_<%=objectId%>" class="contactsinput" value="<%=value.keyword ? value.keyword : ''%>">
	    </li>
	    
	    <li class="inputright"><img src="/uengine-web/images/waveStyle/searchRight.gif" border="0" /></li>
	    <li style="clear:left;"></li>
	</ul>
<%
		}
	}
%>    




    
