<%
	if(value){
%>
	<div class="depth1" onClick="<%=methods.select.caller()%>"><span><%=mw3.localize("$Topics")%></span></div>
	<!-- <div class="depth1"><span><%=mw3.localize("$Topics")%></span></div> -->
<%
		if(value.selected){
%>
	

	<div class="depth2">
		<%=fields.topicMap.here()%>		
		<ul class="fist_menu" style="margin:0 0 0 5px; position:relative; top:-5px;">
			<li>
				<a href="#" onClick="<%=methods.addTopic.caller()%>"><span class="icon-plus"></span><b>새주제 만들기</b></a>
				<div class="clear"></div>
			</li>
		</ul>
	</div>
	
	
<%
		}
	}
%>
