<div id="sm01" style="margin-top:12px; padding:0px;  float:left; width:160px; position:relative;" >
    <div class="boxtopleft"><span class="boxtopright"><div id="navigationTitle"><span><%=fields.title.here()%></span></div></span></div>
    <div class="boxmiddleright">
        <div class="boxmiddleleft">
        	<div class='togglebtnx' onclick="<%=methods.close.caller() %>"></div>
            <div class="togglebtnmax" onclick="<%=methods.maximize.caller() %>" style="right:30px"></div>
<%
	if(mw3.how == 'down'){
%>	                        
            <div id="slideup" class="slideup" style="display:block" onclick="<%=methods.slideUp.caller() %>"></div>
<%
	}else{
%>	                        
            <div id="slidedown" class="slidedown" onclick="<%=methods.slideDown.caller() %>"></div>
<%
	}
%>	            
            
            <div id="con01" class="topcontentcontainer">
<%
	if(mw3.how == 'down'){
%>	            
            	<%=fields.instance.here()%>
<%
	}
%>	            
            </div>
        </div>
    </div>
    <div class="miniboxbottomleft"><span class="miniboxbottomright"></span></div>
</div>