<%
	if(value){
		if(mw3.when == 'chat'){
%>
	
	<%=fields.friend.here()%>
	
 	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px;">
		<ul>
			<li style="float:left">제목 : </li>
			<li style="float:left"> <%=fields.title.here({when:'edit'})%></li>
			<li><a id="wBtn" href="javascript:<%=methods.start.caller()%>"><span>Start</span></a></li>
		</ul>
	</div>	
<%
		}else{
%>
<div class="view_box2" id="hiddenReply">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">
		<p class="title" style="font-size:14px; font-weight:bolder;  position:absolute; top:-20px; left:15px; background:#fff; padding:0 10px;">Share Something</p>
		<span id="text_input"><%=fields.title.here()%></span>
		<div id="btnline" style="padding-top:8px;">
			<ul>
				<li><a id="wBtn" href="javascript:<%=methods.start.caller()%>"><span>start</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>
<%		
		}
	}
%>