<%
	if(value){
		if(mw3.how == 'chat'){
%>
	채팅 제목 : <%=fields.title.here()%><br />
	채팅 상대 : <%=fields.friend.here({when : 'contact'})%><br />
	
	<a id="wBtn" href="javascript:<%=methods.start.caller()%>"><span>start</span></a>
<%
		}else{
%>
<div class="view_box2" id="hiddenReply">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">
		<p class="title" style="font-size:14px; font-weight:bolder;  position:absolute; top:-20px; left:15px; background:#fff; padding:0 10px;">Share Something</p>
		<span id="text_input"><%=fields.title.here()%></span>
		<div id="btnline" style="padding-top:8px;">
			<ul>
				<li><a id="wBtn" href="javascript:<%=methods.start.caller()%>"><span>start</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>
<%		
		}
	}
%>