<div id="navigator">  

<%
if(value) {
    var processList = value.processNodeList;
    var humanActivityList = value.humanActivityList;
    var roleList = value.roleList;
    
console.log(value);
%>
<div style="height:500px; width:350px; float:left">
        <div>
         <B>프로세스</B> 
            <div style="margin-left:5em">
                <% 
                for(var i = 0; i < processList.length; i++) {
                %>
                    <a onClick="mw3.getFaceHelper(<%=objectId%>).clickProcess('<%= i %>')" href="#" >
                        <%=processList[i].name%><br>
                    </a>
                <%
                }
                %>
            </div>
        </div>
        
        <div>
        <B>액티비티</B>
            
            
            <div style="margin-left:3em">
            <% 
                for(var i = 0; i < humanActivityList.length; i++) {
                %>
                    <a onClick="mw3.getFaceHelper(<%=objectId%>).clickActivity('<%= i %>')" href="#" >
                        <%=humanActivityList[i].name.text%><br>
                    </a>
                <%
                }
                %>
            </div>
        </div>
        <div>
        <B>역할</B>
            <div style="margin-left:3em">
             <% 
                for(var i = 0; i < roleList.length; i++) {
                %>
                    <a onClick="mw3.getFaceHelper(<%=objectId%>).clickRole('<%= i %>')" href="#" >
                        <%=roleList[i].name%><br>
                    </a>
                <%
                }
                %>
            </div>
        </div>
</div>
<div style="height:500px; width:350px; float:left">
        <div style="padding:right">    
        <B>미리보기</B>
            <%=fields.processViewPanel.here()%>
        </div>
    

</div>
<%
}
%>
</div>