<table cellpadding = 10>
<tr><td>

<table>
<tr>



<td width=90>
<font color="#5599dd" face="Eurostile">
Package Name:
</font>
</td>

<td>
<%=fields.packageName.here()%>
</td>

<td width=80>
<font color="#5599dd" face="Eurostile">
Class Name:
</font>
</td>

<td><%=fields.className.here()%></td>

</tr>

<tr>
<td>
<font color="#5599dd" face="Eurostile">Author:</font>
</td>
<td colspan=3>
<%=fields.author.here()%>
</td>
</tr>

<tr><td colspan=4>

<table><tr><td>
<%=methods.run.here()%>
</td><td>
<%=methods.next1.here()%>
</td><td>
<%=methods.next2.here()%>
</td><td>
<%=methods.sync.here()%>
</td></tr></table>

<%=fields.sourceCodes.here()%>
<%=fields.facebookLike.here()%>
<%=fields.facebookComments.here()%>


</td></tr>
</table>

</td></tr>
</table>