<%

if(value!=null){
  if(mw3.when!=mw3.WHEN_VIEW || !value.isDeleted){
 
  if(value.selected){%>
<b><div class="depth1" onclick="<%=methods.selectCategory.caller()%>"><%=value.categoryName%></div></b>
<table><td width=10></td><td><%=fields.childrenCategories.here({when: mw3.when})%></td></table>

<%}else{%>

<a onclick="<%=methods.selectCategory.caller()%>"><%=value.categoryName%></a>

<%}
 }
 
  if(mw3.when==mw3.WHEN_EDIT){
  
  	if(!value.isDeleted){
%>

<%=methods.checkDeleteFlag.here()%>

<%  }else{%>
<%=methods.uncheckDeleteFlag.here()%>

<%	}

%>
<%=methods.delete.here()%>
<%=methods.addChild.here()%>
<%

  }

}
%>