<%
	if(value == null || typeof value == 'undefined')
		return true;
%>
	
	<td class="demo_iphone___description fabrik_element fabrik_list_45_group_54 hidden-phone">
		<input type="checkbox" name="check_<%=options['parentId']%>" objectId="<%=objectId%>" />
	</td>
<%
	for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
	  	var fd = objectMetadata.fieldDescriptors[i];
	  	
	  	if(mw3.isHidden(fd)) continue;
	  	if(fd.name == 'metaworksContext') continue;

		var responsive = "";
		if(fd.options != null){
			for(var j=0; j<fd.options.length; j++){
				if(fd.options.length == 1 && fd.options == "responsive") responsive = fd.values;
				else if(fd.options[j] == "responsive"){
					responsive = fd.values[j]; 
				}
			}
		}
	%>
		<td class="demo_iphone___id fabrik_element fabrik_list_45_group_54 <%=responsive%>">
		<%=value[fd.name]%>
		</td>
<%		
	}		
%>

<td class="demo_iphone___description fabrik_element fabrik_list_45_group_54 hidden-phone">
	<input type="button" id="edit_<%=objectId%>" value="edit" onClick="mw3.getFaceHelper(<%=objectId%>).editItem();" />
</td>