<%
	if(value!=null){
	
%>
	<div id="tabs_<%=objectId%>" class="ui-layout-center">

		<ul>
<%
		for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
			var fd = objectMetadata.fieldDescriptors[i];
			
		  	if(mw3.isHidden(fd)) continue;
		  	if(fd.name == 'metaworksContext') continue;		
%>			
			<li>
				<a href="#tab_<%=objectId%>_<%=i+1%>" id="title_<%=objectId%>_<%=i+1%>"><%=fd.displayName%></a>
			</li>		
<%
		}
%>
		</ul>
		
		<div class="ui-layout-content">
		
<%
		var showLabel = !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideLabels']);
		
		for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
			var fd = objectMetadata.fieldDescriptors[i];
		  	
		  	if(fd.attributes && fd.attributes['hidden']) continue;
		  	if(fd.name == 'metaworksContext') continue;
%>	
			<div id="tab_<%=objectId%>_<%=i+1%>">	
				<%=fields[fd.name] ? fields[fd.name].here() : "XXX"%>
			</div>
		
<%
		}
%>
	
			<div>
				<span <%=showLabel ? "colspan=2":""%>>
<%		   
		if(objectMetadata.serviceMethodContexts)
			for(var key in objectMetadata.serviceMethodContexts){	   
%>   
			<%=methods[key].here()%>
<%	
			}		   
%>
				</span>
			</div>
		</div>
	</div>	
				
<%		
	}
%>